{% extends "layout.html" %}

{% block title %}Attributions{% endblock %}

{% block page_content %}

<!-- Header -->
<header class="header-attributions py-5 mt-4">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 fw-bold text-white text-center mb-2">{{ self.title() }}</h1>
        <p class="lead mb-5 text-white-50">{% block lead %}{% endblock %}</p>
      </div>
    </div>
  </div>
</header>

<!--
  ======================================================================
  == VERY IMPORTANT                                                   ==
  ======================================================================
  LEAVE THE IFRAME CODE BELOW AS IT IS, THE ATTRIBUTION FORM OF YOUR TEAM
  WILL BE DISPLAYED ON THIS PAGE. DO NOT REMOVE IT, OTHERWISE YOU RISK OF
  NOT MEETING BRONZE MEDAL CRITERION #2
 -->

<div class="container-fluid p-4 bg-lightblue">
  <div class="row mt-4">
    <script type="text/javascript">
      // Listen to size change and update form height
      window.addEventListener("message", function (e) {
        if (e.origin === "https://teams.igem.org") {
          const {type, data} = JSON.parse(e.data);
          if (type === "igem-attribution-form") {
            const element = document.getElementById("igem-attribution-form");
            element.style.height = `${data + 100}px`;
          }
        }
      });
    </script>
    <iframe
      style='width: 100%'
      id="igem-attribution-form"
      src="https://teams.igem.org/wiki/5109/attributions">
    >
    </iframe>
    <!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ -->

  </div>
</div>
{% endblock %}
