{% extends "layout.html" %}
  
{% block title %}Contamination{% endblock %}

{% block page_content %}

<!-- Header -->
<header class="header-contamination py-5 mb-5 mt-4">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 fw-bold text-white text-center mb-2">{{ self.title() }}</h1>
          <p class="lead mb-5 text-white-50">{% block lead %}{% endblock %}</p>
        </div>
      </div>
    </div>
</header>

<div class="container">

    <div class="row">
        <div class="col-lg-3">
            <div class="index">
                <ul>
                    <li> 
                        <a href="#Titolo1"> The Major Problems with PFAS </a> 
                    </li>
                    <li>
                        <a href="#Titolo2"> Exploring Current Solutions to PFAS </a>
                    </li>
                    <li>
                      <a href="#References"> References </a>
                    </li>                     
                </ul>
            </div> 
        </div>

        <div class="col-lg-9 text-container">
          <div class="container-fluid">
            <section id="Titolo1">  
                <h1 class="mb-3">The Major Problems with PFAS</h1>
                <p>Due to their high stability, PFAS have been referred to as “forever chemicals”,
                  because they do not degrade naturally and persist in the environment. They
                  are not degraded naturally because polyfluorinated compounds are not
                  present in nature, so evolutionary pressure for degradation was never
                  present. [1,2] <br><br>
                  The continuous production and use of PFAS have inevitably led to their
                  dispersion in the environment, with an estimated 5% of these substances
                  being found in various environmental media. Their widespread presence
                  often exceeds regulatory limits, resulting in significant exposure risk for both
                  wildlife and humans. [2,3,4] <br><br>
                  Major sources for intake are drinking water, food, consumer products, and
                  house dust. Prolonged exposure can lead to bioaccumulation in organs and
                  blood serum and PFAS can easily biomagnify along the food chain. [1,5] <br><br>
                  Concerns about these substances are growing due to emerging evidence
                  linking PFAS exposure to numerous health issues. These include problems
                  with the immune, endocrine, metabolic, and reproductive systems, as well
                  as an increased risk of cancer, hypertension, higher cholesterol levels,
                  ulcerative colitis, thyroid disease, pregnancy-related hypertension and
                  complications (low birth weight, increased miscarriages, and PFAS
                  transmission to the fetus), liver and kidney damage, and obesity. [3,6] <br><br>
                  In addition to the physical health risks, PFAS exposure has serious
                  psychological effects. The invisible nature of these chemicals causes stress,
                  insecurity, disruption of routine, anxiety, a sense of helplessness, and fear.
                  These psychological impacts are often overlooked and insufficiently
                  addressed by institutions. [5]
                </p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo2">
                <h1 class="mb-3">Exploring Current Solutions to PFAS</h1>
                <p>
                  Regulations and restrictions on PFAS production and treatment are continually
                  evolving. For example, since the 2000s, short-chain perfluorinated substances
                  made with GenX technology have been introduced to substitute traditional PFAS, 
                  but their structure makes them more mobile and consequently more 
                  deleterious to the environment. [1,7] <br><br>
                  For PFAS degradation, two main approaches have been explored: adapting
                  existing technologies for PFAS destruction or developing new technologies for
                  remediation. Chemicals and physical treatments for PFAS are widely used
                  nowadays, though they require high energy, high costs, and often additional
                  post-processing. The process typically involves separating PFAS from the
                  medium followed by their destruction. Examples of separation technologies are
                  ion exchange resin (IXR), granular activated carbon (GAC), nanofiltration (NF),
                  and reverse osmosis (RO). Although IXR systems are more expensive than GAC,
                  they are favoured because they offer higher adsorption capacities, require less
                  contact time, and occupy a smaller footprint. Additionally, IXR can be
                  regenerated on-site to nearly their original capacity and reused multiple times,
                  unlike GAC, which cannot be feasibly regenerated on-site. With separation
                  technologies, PFAS remains a risk for people and the environment as they do
                  not degrade and so they are often stored until a suitable degradation method is
                  found. Finally, some destructive technologies include electrochemical
                  oxidation, plasma, photocatalysis, sonolysis, supercritical water oxidation,
                  thermal degradation/incineration, pyrolysis/gasification, and advanced
                  oxidation processes (AOPs). [6,8] <br><br>
                  On the other hand, biological solutions may represent the best options, due to
                  lower costs and less environmental disruption. Bioremediation successfully
                  treats numerous long-lasting organic contaminants, but for PFAS the
                  biodegradation process is not fully understood. Some intermediate metabolites
                  have been hypothesised, and more studies are needed on microorganisms and
                  enzymes involved in PFAS biodegradation. [1] <br><br>
                  Biodegradation strategies include:
                  <ul>
                    <li>Bacterial degradation, which has been reported in both anaerobic and
                      aerobic conditions. Further studies are needed on enzymatic activities,
                      gene expression, and microorganisms.</li>
                    <li>Fungal degradation, which plays a significant role in natural ecosystems
                      for degrading complex compounds, may also be useful for PFAS
                      biodegradation, although research in this area is still limited.</li>
                    <li>Phyto-microbial remediation, an in-situ technique that has shown some
                      potential for PFAS removal through plant uptake. However, there is a lack
                      of evidence of internal degradation.</li>
                    <li>Phyco-remediation, typically used for wastewater treatment, could also
                      potentially be effective for PFAS. [1,4]</li>
                  </ul>
                  The main challenges for PFAS biodegradation are that defluorination
                  metabolism is rare in nature and that PFAS have highly diverse chemistry and
                  precursors. Polyfluorinated compounds are not present in nature, so natural
                  degradation doesn’t exist. Fluoroacetate represents a toxic and natural
                  monofluorinated molecule that is naturally degraded but is an exception. [3] <br><br>
                  Dechlorination is a process that occurs more often, many enzymes are
                  characterised, and the degradation of synthetic compounds mimics the one of
                  natural chlorinated compounds, because of the long evolution history. Also,
                  chlorine is present in great quantities in the sea and some bacteria have evolved
                  to use chlorinated compounds as their final electron acceptor. On the other
                  hand, fluorine is 7,600 times less present than chlorine in the sea and is toxic at
                  low-millimolar concentrations, as it inactivates ATPases and pyrophosphates.
                  In some limited environments with higher fluorine concentrations, defluorinases
                  are present in certain microorganisms, suggesting that enzymes capable of
                  degrading polyfluorinated compounds might exist. [2]
                </p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="References">
              <h2 class="mb-3">References</h2>
              <p><i><ol>
                <li>
                  5.Zhang Z, Sarkar D, Biswas JK, Datta R. Biodegradation of per- and
                  polyfluoroalkyl substances (PFAS): A review. Bioresour Technol. 2022 Jan
                  1;344:126223.
                </li>
                <li>
                  9.Wackett LP. Why Is the Biodegradation of Polyfluorinated Compounds So
                  Rare? mSphere. 2021 Oct 13;6(5):10.1128/msphere.00721-21.
                </li>
                <li>
                  1.Scott C, Hu M. Toward the development of a molecular toolkit for the
                  microbial remediation of per-and polyfluoroalkyl substances. Appl Environ
                  Microbiol. 2024 Mar 13;90(4):e00157-24.
                </li>
                <li>
                  3.Marchetto F, Roverso M, Righetti D, Bogialli S, Filippini F, Bergantino E, et al.
                  Bioremediation of Per- and Poly-Fluoroalkyl Substances (PFAS) by
                  Synechocystis sp. PCC 6803: A Chassis for a Synthetic Biology Approach.
                  Life. 2021;11(12).
                </li>
                <li>
                  8.Menegatto M, Lezzi S, Musolino M, Zamperini A. The Psychological Impact of
                  Per- and Poly-Fluoroalkyl Substances (PFAS) Pollution in the Veneto Region,
                  Italy: A Qualitative Study with Parents. Int J Environ Res Public Health
                  [Internet]. 2022;19(22). Available from: https://www.mdpi.com/1660-
                  4601/19/22/14761
                </li>
                <li>
                  2.Berhanu A, Mutanda I, Taolin J, Qaria MA, Yang B, Zhu D. A review of microbial
                  degradation of per- and polyfluoroalkyl substances (PFAS): Biotransformation
                  routes and enzymes. Sci Total Environ. 2023 Feb 10;859:160010.
                </li>
                <li>
                  7.Giglioli S, Colombo L, Azzellino A. Cluster and multivariate analysis to study
                  the diffuse contamination of emerging per- and polyfluoroalkyl substances
                  (PFAS) in the Veneto Region plain (North-eastern Italy). Chemosphere. 2023
                  Apr 1;319:137916.
                </li>
                <li>
                  4.Meegoda JN, Bezerra de Souza B, Casarini MM, Kewalramani JA. A Review of
                  PFAS Destruction Technologies. Int J Environ Res Public Health. 2022;19(24).
                </li>
              </ol></i></p>

            </section>
          </div>
            
        </div>

    </div>
</div>

<!-- pre-footer -->

<div class="container-fluid mt-5 mb-5 pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="mb-4">Let's find out more about our project</h2>
      </div>
    </div>
    
    <div class="row mt-3">

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Project</h3>
            <div class="d-flex row-cols-2">
              <div class="icon-text">
                <a href="{{ url_for('pages', page='description') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/description-icon.svg" alt="Description Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='description') }}">
                  <span>Description</span>
                </a>
              </div>
              <div class="icon-text">
                <a href="{{ url_for('pages', page='design') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/design-icon.svg" alt="Design Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='design') }}">
                  <span>Design</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Wet Lab</h3>
    
            <div class="d-flex row-cols-2">
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='experiments') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/lab-steps-icon.svg" alt="Lab steps Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='experiments') }}">
                  <span>Experiments</span>
                </a>
              </div>
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='results') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/results-icon.svg" alt="Results Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='results') }}">
                  <span>Results</span>
                </a>
              </div>
    
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
  

<script src="{{ url_for('static', filename = 'indexscroll.js')}}"></script>




{% endblock %}




