{% extends "layout.html" %}
  
{% block title %}Contribution{% endblock %}

{% block page_content %}

<!-- Header -->
<header class="header-contribution py-5 mb-5 mt-4">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 fw-bold text-white text-center mb-2">{{ self.title() }}</h1>
          <p class="lead mb-5 text-white-50">{% block lead %}{% endblock %}</p>
        </div>
      </div>
    </div>
</header>


<div class="container">

    <div class="row">
        <div class="col-lg-3">
            <div class="index">
                <ul>
                    <li> 
                        <a href="#Titolo1"> Biobricks </a> 
                    </li>
                    <li> 
                        <a href="#Titolo2"> Filtering system </a> 
                    </li>
                    <li>
                      <a href="#Titolo3"> Sensor Prototype </a>
                    </li>
                    <li>
                      <a href="#Titolo4"> DBTL cycles </a>
                    </li>
                    <li>
                      <a href="#Titolo5"> Growth tests </a>
                    </li>
                    <li>
                      <a href="#Titolo6"> Business plan </a>
                    </li>
                    <li>
                      <a href="#Titolo7"> Community engagement </a>
                    </li>

                    
                </ul>
            </div> 
        </div>

        <div class="col-lg-9 text-container">

          <div class="container-fluid">
            <section id="Titolo1">                 
                <h1 class="mb-3">Biobricks</h1>
                <p>
                  All our parts are listed in our wiki page 
                  <a href="https://2024.igem.wiki/Uni-Padua-IT/parts">Parts</a>, where are 
                  also reported the links to the description of every part in 
                  the iGem Registry. <br><br>
                  Here, we also show how we contributed to the characterization of pTAC, trp & lac regulated promote <a href="https://parts.igem.org/Part:BBa_K864400">BBa K864400</a>, 
                  as we utilized it to verify its induction for the surface-expression of dehalogenase DeHa2: <a href="https://parts.igem.org/Part:BBa_K5109023">BBa_K5109023</a>.
                  
                  We strongly believe that our biological 
                  system could be widely implemented in many more bioremediation 
                  projects, featuring different enzymes. <br><br>
                  We created a new series of simple basic parts: some of them 
                  are new basic parts meanwhile some others are improvements 
                  on already existing basic parts that we modified to adapt them 
                  for the experimental part of our project. All our new basic and 
                  composite parts are compatible with RFC 10 standard. During the process of selecting 
                  and designing our parts, we conducted a series of bioinformatic analyses to 
                  select the most promising enzymatic candidates for degrading PFAS. Specifically, 
                  we first searched for orthologous enzymes using BLAST, then we used InterProScan 
                  to analyze the protein sequences, and lastly we performed docking simulations 
                  using AutoDock VIna and CB-Dock2. <br>
                  With those basic parts, we built a series of new composite parts 
                  that we used in our experiments: our purpose is to test new biological 
                  tools for bioremediation, in particular to see how different types of 
                  Laccases and Dehalogenases work to degrade PFAS. In order to do so, our 
                  new composite parts provide surface display systems for four different enzymes. <br><br>
                  During the design of a surface expression tool, a carrier element 
                  is needed to bring a passenger to the outer membrane surface of the 
                  cell. In our case, the carrier is an Lpp-OmpT construct which acts 
                  as a membrane anchor. We made the choice of  inserting the carrier’s 
                  sequence with different enzymes, this allows to extract the anchor if 
                  needed and to transform the surface display system into an intracellular 
                  expression tool, all of this without altering the RFC 10 compatibility of 
                  the composite part.
                </p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo2">                 
                <h1 class="mb-3">Filtering system</h1>
                <p>
                  With this module of our project we wanted to give our contribution 
                  in the transition from the thermal treatment of saturated granular activated carbons 
                  (GAC) filters 
                  to a chemical one. This change is needed as subjecting GAC to high 
                  temperatures can change its chemical and physical properties, lowering 
                  its sorption capacity, and it could lead to the emission of volatile and 
                  mobile products and harmful compounds. <br>
                  We first investigated the effectiveness of two GAC desorption 
                  solutions, obtained from a review of the literature, then we shifted 
                  our attention to another adsorbent: anion exchange resins (AER). <br>
                  From our experiments, we realized that further investigation of GAC 
                  desorption solutions are necessary, bearing in mind that potentially 
                  the volume of such solutions must be low, so as to be environmentally 
                  friendly and economically feasible. <br>
                  We then explored the resins and realized, both through literature and 
                  experimentally, their effectiveness as filters against PFAS. <br>
                  Furthermore, to be regenerated, these adsorbents require sodium 
                  chloride-based solutions, which are not harmful to the environment. 
                  Moreover, very promising regeneration yield values ​​are reported in the 
                  literature, which is why we decided to carry out experiments aimed at 
                  reproducing the same results. <br><br>
                  For more information visit 
                  <a href="https://2024.igem.wiki/Uni-Padua-IT/filters">Plant Design - Filters</a>. 
                </p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo3">                 
                <h1 class="mb-3">Sensor prototype</h1>
                <p>
                  Even though the results we obtained are very preliminary, they hold great 
                  scientific value. Our decision to start from scratch with a new sensor 
                  model was quite risky. There was a chance that we could have worked on 
                  the project for a long time without obtaining any useful results. <br>
                  In fact, at this moment,the scientific community is putting a lot of 
                  effort into finding a fast and affordable 
                  <a href="https://2024.igem.wiki/Uni-Padua-IT/sensor">sensoristic system</a> 
                  , and 
                  yet no definitive solution has been reached. <br><br>
                  Discovering this interaction between the GV38 molecule and some 
                  PFAS can serve as a foundation for many future studies, both with 
                  new molecules and new techniques to further improve the data. For 
                  instance, we have already seen promising results when performing 
                  Electrochemical Impedance Spectroscopy (EIS) with a Redox couple, 
                  which requires further analysis, and many 
                  more tests will be necessary to consolidate and characterize the 
                  results obtained so far.
                </p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo4">                 
                <h1 class="mb-3">DBTL cycles</h1>
                <p>
                  Our work, being a synthetic biology project, has seen the engineering 
                  approach being applied in every step we took, from designing biological 
                  parts to planning new strategies. <br>
                  Documenting our trials and errors and what we have learned from them 
                  is not only useful to us, but also to future teams that will participate 
                  in iGEM’s competition in the following years. This helps them to prioritize 
                  the use of certain technologies or techniques that can be favored despite others 
                  , or some mistakes can be avoided from the start. <br>
                  The fact that DeHa2 was considered probably toxic to our chosen host 
                  <span class="italic">E. coli</span> not only made us consider the idea of switching the strain in which 
                  we tried to clone our vectors, but also made us think about what other 
                  measures needed to be taken to express our protein without causing 
                  excessive cellular death: that’s why we tested transformed E. coli’s 
                  growth when protein expression is induced at different IPTG concentrations. 
                  <br>
                  Thanks to the enzymatic tests we performed, we were also able to see that Lpp-OmpT-DeHa2 
                  can potentially degrade chloroacetate, its natural substrate and we verified dehalogenase 
                  activity; even if these data are still preliminary and need in-depth further evaluation, 
                  they pave the way for promising evolutions in future experiments. <br><br>
                  The approach that characterizes the field of synthetic biology 
                  (Design - Build - Test - Learn) underpins all SurPFAS, including 
                  sensor and filter modules. <br>
                  In the latter part of surPFAS we developed two main strategies: 
                  seeking an adsorbent with greater capacity than GAC to reduce 
                  replacement frequency and environmental impact, and exploring a 
                  chemical regeneration technique as an alternative to thermal methods. 
                  Documenting our trials and insights is essential not only for our 
                  understanding but also for future teams tackling similar challenges. 
                  This documentation will help others prioritize effective technologies 
                  and avoid common pitfalls. <br><br>
                  During our testing, we evaluated various desorption solutions for 
                  GAC and found that the ones tested for GAC were not suitable for 
                  industrial application (because of the need for elevated volume of 
                  methanol or ethanol); we then investigated Anionic Exchange Resins (AERs) which demonstrated 
                  high adsorption capacity for PFAS, so they present themselves as 
                  possible alternatives to GAC, moreover these adsorbent can be regenerated 
                  with a solution of NaCl so it is not harmful, but the results obtained 
                  in the laboratory are not sufficient to guarantee good efficiency 
                  of the regeneration process. <br>
                  This insight underscores the importance of further research into 
                  alternative desorption solutions to optimize our approach. Our 
                  findings lay the groundwork for advancements in future studies 
                  focused on PFAS remediation. <br>
                  From the DBTL cycles we performed during the development of our 
                  sensor, we believe the most interesting takeaway is the possibility 
                  of using the same surface for different analytical techniques, allowing 
                  us to combine their advantages. <br>
                  In our case, by developing a surface capable of attracting various 
                  types of PFAS, we would be able to use the EIS technique to quickly 
                  perform simple field analyses, providing a result that indicates a 
                  'general quantity' of PFAS adhered to the surface (although SERS can 
                  also be applied in the field, EIS remains simpler and faster)and with 
                  the SERS technique, we would be able to differentiate between the various 
                  compounds that have adhered. <br><br>

                  Further information regarding our engineering success can be found in 
                  <a href="https://2024.igem.wiki/Uni-Padua-IT/engineering">Engineering</a> and in 
                  <a href="https://2024.igem.wiki/Uni-Padua-IT/results">Results</a> pages.
                </p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo5">                 
                <h1 class="mb-3">Growth tests</h1>
                <p>
                  Developing our project, we decided to characterize the survival of E. coli in the presence of substrates that could end up in the bioreactor, to asses the fitness of this chassis for working in the desired scenarios. <br>
                  Firstly, we needed these tests to understand the best achievable condition 
                  inside the bioreactor that would not only contain PFAS molecules, but also 
                  the desorption solution itself. <br><br>

                  Many of the collected results can be useful to future teams researchers, 
                  so here we reported an overall review of what we achieved. <br><br>

                  In the following table we present at what concentration of each component 
                  that characterized the test, E. coli’s growth was inhibited by about 60% 
                  when compared with the negative control. 
                </p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/contribution/growth-tests/contributions-growth-tests.png">
                </div><br>
                <p class="didascalia">Growth rates and final OD that cause inhibit by 60% bacterial growth</p>
                <p>
                  All these tests were done at the plate reader measuring the OD at 600 nm. <br><br>
                  <b>Methanol</b>: from 0 to 2.75 M methanol causes a decrease in E. 
                  coli’s growth but does not inhibit it completely. <br><br>
                  <b>Ethanol</b>: it has a stronger antimicrobial effect when compared with ethanol. 
                  There is a decreasing trend on the growth as the concentration increases and from 
                  1M, the bacterial growth is inhibited by the 60%. <br> <br> 
                  <b>NaCl</b>: it causes a drastic decrease in bacterial growth for 
                  concentrations higher than 2% kg/L. <br><br>
                  <b>PFOA</b>: Cultural mediums containing PFOA cause a decrease in E. 
                  coli’s growth and it is almost completely inhibited by 15 mM in every 
                  condition that has been tested: PFOA with LB, PFOA with methanol and 
                  PFOA with ethanol. PFOA with NaCl 2% needs further investigations. <br><br>
                  <b>PFBA</b>: Cultural mediums containing PFBA cause a decrease in E. 
                  coli’s growth. Differently to PFOA where the growth is inhibited for 
                  concentrations over 10 mM, the bacterial growth in the presence of PFBA 
                  seems sometimes to withstand up to 15 mM included. <br>
                  For both PFOA and PFBA, usually between 10 mM and 15 mM is the frame 
                  where there is the most sudden decrease in E. coli’s growth. <br><br>
                  <b>Chloroacetic acid</b>: We tested concentrations of chloroacetic 
                  acid between 0 and 3.5 mM. The results of our tests show no apparent 
                  difference in E. coli’s survival at those concentrations. <br><br>
                  A more in-depth presentation of our results can be found on the 
                  <a href="https://2024.igem.wiki/Uni-Padua-IT/results">Results</a> page.
                </p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo6">                 
                <h1 class="mb-3">Business plan</h1>
                <p>
                  Incorporating an entrepreneurial perspective into the project was crucial 
                  for advancing research towards practical applications. Developing a complete 
                  and detailed business plan became essential, shifting the project from a 
                  purely research-based initiative to a viable, real-world solution. We are 
                  proud to present our market analysis to the scientific scenario, hoping 
                  to inspire other bioremediation projects to come to light outside of 
                  the laboratory. Check out our 
                  <a href="https://2024.igem.wiki/Uni-Padua-IT/entrepreneurship">entrepreneurship</a>  
                  page to learn more about 
                  our business plan.
                </p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo7">                 
                <h1 class="mb-3">Community Engagement</h1>
                <p>
                  When one of our team members who lives in Veneto’s red area was called 
                  to participate in the health screening indicated by the Veneto Region 
                  itself, she found out that she had an extremely high PFAS concentration 
                  in her blood. By informing ourselves and the remediation methods in place 
                  were not leading to an actual degradation of the compounds, our team knew 
                  we had to put our minds together and focus on the PFAS problem. <br><br>
                  We contacted professors, companies (such as water service providers in our region) 
                  to better understand the technologies currently used to treat these pollutants. 
                  We also met with an activists’ group and the inhabitants of the Red Zone, helping 
                  us redirect our project according to their needs. <br><br>
                  These activities were crucial in understanding the best way 
                  for a scientist to have successful communication with society, 
                  and we are enthusiastic to share our experience with the whole 
                  scientific community. Check out our 
                  <a href="https://2024.igem.wiki/Uni-Padua-IT/human-practices">Integrated Human Practices</a>  
                  page.
                </p>
            </section>
          </div>         
   
        </div>

    </div>
</div>

<!-- pre-footer -->

<div class="container-fluid mt-5 mb-5 pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="mb-4">Let's find out more about our project</h2>
      </div>
    </div>
    
    <div class="row mt-3">

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Project</h3>
            <div class="d-flex row-cols-2">
              <div class="icon-text">
                <a href="{{ url_for('pages', page='description') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/description-icon.svg" alt="Description Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='description') }}">
                  <span>Description</span>
                </a>
              </div>
              <div class="icon-text">
                <a href="{{ url_for('pages', page='design') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/design-icon.svg" alt="Design Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='design') }}">
                  <span>Design</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Wet Lab</h3>
    
            <div class="d-flex row-cols-2">
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='experiments') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/lab-steps-icon.svg" alt="Lab steps Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='experiments') }}">
                  <span>Experiments</span>
                </a>
              </div>
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='results') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/results-icon.svg" alt="Results Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='results') }}">
                  <span>Results</span>
                </a>
              </div>
    
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<script src="{{ url_for('static', filename = 'indexscroll.js')}}"></script>



{% endblock %}