{% extends "layout.html" %}
  
{% block title %}Description{% endblock %}

{% block page_content %}

<!-- Header -->
<header class="header-description py-5 mb-5 mt-4">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 fw-bold text-white text-center mb-2">{{ self.title() }}</h1>
        <p class="lead mb-5 text-white-50">{% block lead %}{% endblock %}</p>
      </div>
    </div>
  </div>
</header>


<div class="container">

    <div class="row">
      <div class="col-lg-3">
          <div class="index">
              <ul>
                  <li> 
                    <a href="#Titolo1"> Why PFAS </a> 
                  </li>
                  <li> 
                    <a href="#Titolo2"> The System </a> 
                  </li>
                  <li> 
                    <a href="#Titolo3"> A Bioremediation Approach </a> 
                  </li> 
                  <li>
                    <a href="#Titolo4"> Enzymes: Laccases and Dehalogenases </a>
                  </li>
                  <li> 
                    <a href="#Titolo5"> Chassis choice: <span class="italic">Escherichia coli</span> </a> 
                  </li>
                  <li> 
                    <a href="#Titolo6"> Challenges of PFAS degradation - Our solution </a> 
                  </li>
                  <li> 
                    <a href="#Titolo7"> Filtering and sensoristic system </a> 
                  </li>
                  <li> 
                    <a href="#Titolo8"> SurPFAS - A project for People </a> 
                  </li>
                  <li> 
                    <a href="References"> References </a> 
                  </li>                  
                  
              </ul>
          </div> 
      </div>

      <div class="col-lg-9 text-container">

        <div class="container-fluid">
          <section id="Titolo1"> 
            <h1 class="mb-3">Why PFAS</h1>
            <p>
              What do waterproof clothes, non-stick pans, and fire-fighting foams have in common? 
              They all contain substances that confer water resistance and oil-repellent properties. 
              These compounds, better known as PFAS, are a broad class of molecules characterized by 
              strong carbon-fluorine bonds, making them highly effective surfactants and surface protectors. 
              Since their invention, PFAS have been widely exploited in countless fields of applications.
            </p>
            <div class="images img-smaller">
              <img src="https://static.igem.wiki/teams/5109/description/description1.png">
            </div>
            <p class="didascalia">PFOS tridimensional molecule model. Gray: Carbon, Green: Fluorine, Yellow: Sulfur, Red: Oxygen , White: Hydrogen</p>
            <p>
              PFAS release in air, soil, and water has been linked to a wide plethora of 
              health risks. The Veneto region in northern Italy, home to UniPadua University, 
              has been severely affected by PFAS pollution. <br><br>
              Since PFAS contaminated sites were unraveled in Veneto, the issue became closer 
              and closer to us. After looking around, we realized that this issue was not just ours: 
              PFAS contamination is spread all around the world, calling for action on a global level. 
              After careful investigation and countless interactions with society and the community, 
              we understood that the field where our intervention would be effective the most was 
              undoubtedly <b>groundwater</b>. Therefore, we decided to start from our neighborhood with the 
              aim of creating a system fit to the necessities of our community, that could be then 
              scaled up and adjusted to the morphology of any ground water treatment facility. Current 
              technologies are unable to fully contrast PFAS presence and degradation, highlighting even 
              more the necessity for innovative ideas. The issue of PFAS pollution could be addressed under 
              several aspects, and we decided to tackle as many as possible, in order to gain a comprehensive 
              understanding of the problem and to respond with a powerful, resourceful solution.
            </p>
          </section>
        </div>

        <div class="container-fluid">
          <section id="Titolo2"> 
            <h1 class="mb-3">The System</h1>
            <p>
              <b>SurPFAS</b> derives from “<b>surface</b>”, as we intend to <b>surface-express PFAS degradative enzymes 
                on the outer membrane of <span class="italic">Escherichia coli</span></b>. Our system will present <b>two E. coli populations</b>, 
              exposing two different enzymes, carrying out a chain reaction that culminates 
              with PFAS degradation. <br><br>
              Once PFAS are absorbed by filters in ground water facilities, a 
              <b><a href="https://2024.igem.wiki/Uni-Padua-IT/filters">chemical regeneration</a></b> 
              process allows for PFAS desorption. The gathered PFAS will now meet our engineered bacteria 
              in a 
              <b><a href="https://2024.igem.wiki/Uni-Padua-IT/overview">bioreactor</a></b>
              , where the degradative reaction will take place. The surface-expressed enzymes 
              are selected through meticulous 
              <b><a href="https://2024.igem.wiki/Uni-Padua-IT/model">bioinformatic research</a></b> 
              , and then cloned into E.coli chassis. 
              The whole process, from PFAS adsorption in ground water to the degradation stages in the bioreactor, 
              will be monitored through a 
              <b><a href="https://2024.igem.wiki/Uni-Padua-IT/sensor">sensor</a></b>  
              that exploits principles of impedance and spectroscopy 
              to obtain a real-time qualitative and quantitative analysis of PFAS occurrence.
            </p>
            <div class="images">
              <img src="https://static.igem.wiki/teams/5109/description/gaphical-abstract-corretto-1.png">
            </div>
            <p class="didascalia">SurPFAS Graphical Abstract</p>
            <p>
              Biological degradation is just one of the many tools entailed in the SurPFAS system, 
              alongside with chemical absorption and desorption in PFAS filtering, spectroscopic and 
              electronical detection of PFAS molecules, and engineering of a functioning industrial 
              pipeline. This multidisciplinary approach allows SurPFAS to be a project strongly linked 
              to reality, essential in the fight against PFAS.
            </p>
          </section>
        </div>

        <div class="container-fluid">
          <section id="Titolo3"> 
            <h1 class="mb-3">A Bioremediation Approach</h1>
            <p>
              Although PFAS do not naturally occur in nature, it has been observed that several 
              microorganisms can endure high PFAS concentrations and, in some cases, even exploit 
              it as a nutriment source. Microorganisms can process pollutants in a passive or active 
              manner: bioaccumulating the contaminants or actively breaking them down. <br><br>
              Scientific literature and even previous iGEM projects, provide some examples of 
              bacteria, algae, fungi and plants capable of passively or actively dealing with PFAS. 
              So, obviously, they soon became our natural allies. In particular, two bacteria 
              caught our attention:
              <ul>
                <li><b>Delftia acidovorans</b>, a bacteria that has been detected in PFAS-contaminated sites by the USAFA iGEM team 2021 [3]. The team also managed to isolate a series of dehalogenase enzymes that may be responsible for PFAS defluorination</li>
                <li><b>Synechocystis sp.</b>, a cyanobacteria that provided the most surprising results among other PFAS-resistant organisms. A study conducted in our University [2] shows how Synechocystis is not only able to survive in high-PFAS concentrations, but can also degrade some kinds of PFAS molecules.</li>
              </ul>
              Both Delftia acidovorans and Synechocystis sp have the potential of becoming powerful tools against PFAS pollution.
            </p>
          </section>
        </div>

        <div class="container-fluid">
          <section id="Titolo4"> 
            <h1 class="mb-3">Enzymes: Laccases and Dehalogenases</h1>
            <p>
              Once selected our microbial helpers, we then identified proteins that may assist PFAS 
              breakdown. Several scientific papers often indicate two classes of enzymes putatively 
              responsible for PFAS degradation: <b>dehalogenases</b> and <b>laccases</b>, both detected in 
              PFAS-resistant microorganisms. <br><br>
              Dehalogenases possess the ability of removing halogen atoms from an organic scaffold. 
              Experimental evidence shows potential defluorination power against fluorine atoms bonded 
              to the carbon skeleton in PFAS, that make for the high toxicity of these compounds. <br><br>
              Laccases, on the other hand, are a well-known enzymatic class, broadly implemented in 
              numerous bioremediation experiments. When it comes to PFAS, some studies propose how 
              laccases may help in the fragmentation of the carbon chain, producing smaller precursors. <br><br>
              For both classes, a detailed 
              <a href="https://2024.igem.wiki/Uni-Padua-IT/model"><b>bioinformatic analysis</b></a> 
              was carried out in order to detect 
              the best candidates for each family, investigating within the genome of PFAS-resistant microbes.
            </p>
          </section>
        </div>

        <div class="container-fluid">
          <section id="Titolo5"> 
            <h1 class="mb-3">Chassis choice: <span class="italic">Escherichia coli</span></h1>
            <p>
              We decided to clone the degradative enzyme discovered in those 
              bacteria in <span class="italic"><b>Escherichia coli</b></span>, since it seems the perfect fit for this role: 
              extensively studied, relatively easy to transform, engineer and cultivate, it 
              constitutes the perfect microorganism for our purposes. Obviously, we first had 
              to investigate whether E. coli could keep up with high-PFAS environments, therefore 
              we carried out several 
              <a href="https://2024.igem.wiki/Uni-Padua-IT/model"><b>growth tests</b></a> 
              to assess the top PFAS concentration E. coli 
              can be exposed to, without overly affecting its activity.
              Given the current state of legislation over the release of engineered biological material 
              in the environment, we opted for a biotechnological degradative system restrained to the 
              controlled environment of a 
              <a href="https://2024.igem.wiki/Uni-Padua-IT/overview"><b>bioreactor</b></a>
              . Here, our carefully-engineered bacteria will 
              encounter PFAS gathered from ground water filtration, and the breakdown reaction will take place. 
              The bioreactor will guarantee the optimal conditions for E. coli activity and increase the 
              reaction yield while addressing sanitary and environmental safety precautions.
            </p>
          </section>
        </div>

        <div class="container-fluid">
          <section id="Titolo6"> 
            <h1 class="mb-3">Challenges of PFAS degradation - Our solution</h1>
            <p>
              Our idea is to <b>merge the activities of laccases and dehalogenases</b> in order to achieve a series of chain reactions that will ultimately tear apart any kind of PFAS molecule. Laccases will fragment PFAS carbon chains into small precursors and these will be able to fit into the active site of dehalogenases. Indeed, the two enzymes cannot carry out PFAS total breakdown by themselves. The fragmentation activity of laccases might lead to the production of smaller precursors that can still be considered PFAS compounds, still harmful, but more difficult to detect and contain. As far as dehalogenases are concerned, the narrow dimensions of the binding fold.
              <br>We also intend to express laccases and dehalogenases on the outer membrane of <span class="italic">Escherichia coli</span>. This way, PFAS and their intermediates will get directly in touch with both enzymes without having to enter and exit the cell, allowing for much more rapid reactions, and fluorine will never be released in the intracellular space. Aiming to avoid metabolic burden, our system will present a population with two different E. coli strains: one exposing a laccase on its surface and the other similarly presenting a dehalogenase.
            </p>
            <div class="images">
              <img src="https://static.igem.wiki/teams/5109/description/description3.png">
            </div>
            <p class="didascalia">Critical points of PFAS degradation and our solutions</p>
            <p>
              In order to achieve expression and transportation of the exogenous protein to 
              the cell surface, a construct was developed and cloned in E. coli. The <b>modularity</b> 
              of this 
              <a href="https://2024.igem.wiki/Uni-Padua-IT/parts"><b>composite part</b></a> 
              allows for characterization of both intra and extracellular 
              expression, thanks to the presence of specific enzymatic sites that enable the 
              optional addition of a membrane anchor, through simple digestion and ligation. 
              What’s more, the design of the construct is meant to make the enzymatic sequence 
              that features the part, <b>interchangeable with different enzymatic sequences</b>, 
              eliminating the costs of the synthesis of a different construct for every 
              enzymatic characterization.
            </p>
            <div class="images">
              <img src="https://static.igem.wiki/teams/5109/description/desscription4.png">
            </div>
            <p class="didascalia">General design of composite part construct</p>
            <p>
              The cooperation between two enzymes and their extracellular expression will 
              give a new lease on PFAS destruction, one that considers the implementation 
              of many biological tools to reach a common goal.
            </p>
          </section>
        </div>

        <div class="container-fluid">
          <section id="Titolo7"> 
            <h1 class="mb-3">Filtering and sensoristic system</h1>
            <p>
              After consulting experts and water treatment facilities, we were able 
              to outline what the principal challenges regarding the current PFAS 
              purification techniques are. Currently in Veneto, PFAS are retained from 
              ground water through granular active carbon filters that get replaced after a 
              certain period of time. PFAS are then detached from these substrates through thermic 
              treatments, that are also supposed to breakdown PFAS molecules. Unfortunately, several 
              drawbacks arise from this method, such as the modification of the original characteristics 
              of the filter, which complicates their re-use. Scientific evidence also shows how thermic 
              treatment of PFAS could simply transfer the compounds from the filter to the fumes, without 
              even reaching a complete degradation. Once released, those might contaminate the 
              environment nearby the facility. <br><br>
              The second main bottleneck is detection: at the moment it is only possible to 
              detect PFAS through traditional analysis like mass spectroscopy and chromatography. 
              These measurements are expensive and time consuming and need sampling, whereas a real-time 
              detention technology has not been developed yet. <br><br>
              Our project had to address these weaknesses, therefore we have developed a system meant to optimize 
              the already-existing anti-PFAS technologies and introduce some key innovations that make our 
              system more convenient, sustainable and, overall, unique. <br><br>
              To do so, we have actively researched and tested different kinds of 
              <a href="https://2024.igem.wiki/Uni-Padua-IT/filters"><b>filters</b></a>
              and <b>regeneration solutions</b>. We even started to develop a new 
              <a href="https://2024.igem.wiki/Uni-Padua-IT/sensor"><b>PFAS sensor</b></a>
              , based on surface-enhanced raman and impedance measurements. Check out our 
              <b><a href="https://2024.igem.wiki/Uni-Padua-IT/overview">Plant Design</a></b>  
              page to learn more!
            </p>
            <div class="images">
              <img src="https://static.igem.wiki/teams/5109/description/description5.png">
            </div>
            <p class="didascalia">Critical points of current technologies and our solution</p>
          </section>
        </div>

        <div class="container-fluid">
          <section id="Titolo8"> 
            <h1 class="mb-3">SurPFAS - A Project for People</h1>
            <p>
              PFAS pollution is much more than a serious environmental issue. To us, 
              PFAS represents a plague that led to terrible repercussions on our community and forever 
              impacted our territory. We needed a project that could reflect this, therefore we didn’t 
              stop at the biological component of PFAS degradation, but we dug deeper, in the hope of 
              understanding the issue from more than one perspective. <br><br>
              Thanks to 
              <a href="https://2024.igem.wiki/Uni-Padua-IT/human-practices"><b>interactions</a> 
              with society, water facilities and experts</b> of various fields, 
              we managed to design, develop and test a system that could address PFAS degradation in 
              ground water from head to tail, starting with PFAS detection, passing through its 
              filtration and gathering, ending with PFAS enzymatic breakdown. Our interpretation 
              of synthetic biology goes beyond the molecular biology laboratory, as we implement 
              concepts of <b>chemistry</b> and <b>electronics</b> in the development of a solid, comprehensive 
              system. Our efforts enabled us to investigate avant-garde solutions for PFAS absorption, 
              desorption and detection, generating a complementary pipeline that culminates with 
              PFAS biological breakdown. With these fundamental components, our project will gain 
              applicability and strategic placement in the water treatment industry on the territory, check out our 
              <a href="https://2024.igem.wiki/Uni-Padua-IT/entrepreneurship"><b>Entrepreneurship</b></a> page to 
              learn more about the market 
              analysis of our water purification service. 
            </p>
          </section>
        </div>

        <div class="container-fluid">
          <section id="References"> 
            <h1 class="mb-3">References</h1>
            <p><i>
              <ol>
                <li>Menegatto, M., & Zamperini, A. (2022). Health and Psychological Concerns of Communities Affected by Per- and Poly-Fluoroalkyl Substances: The Case of Residents Living in the Orange Area of the Veneto Region. International Journal of Environmental Research and Public Health, PMID: 37998286, PMCID.</li>
                <li>Marchetto F, Roverso M, Righetti D, Bogialli S, Filippini F, Bergantino E, Sforza E. Bioremediation of Per- and Poly-Fluoroalkyl Substances (PFAS) by Synechocystis sp. PCC 6803: A Chassis for a Synthetic Biology Approach. Life (Basel). 2021 Nov 26;11(12):1300. doi: 10.3390/life11121300.</li>
                <li>Harris, Article. (2022). DOI: 10.1016/j.synbio.2022.02.005  iGEM. Toward the development of a molecular toolkit for the microbial remediation of per-and polyfluoroalkyl</li>
                <li>Meegoda, J. N., Bezerra de Souza, B., Monteiro Casarini, M., & Kewalramani, J. A. (2022). A Review of PFAS Destruction Technologies. International Journal of Environmental Research and Public Health, 19(24), 16397. DOI: 10.3390/ijerph192416397.</li>
              </ol>
            </i></p>
          </section>
        </div>

          
      </div>

    </div>
</div>

<!-- pre-footer -->

<div class="container-fluid mt-5 mb-5 pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="mb-4">Let's find out more about our project</h2>
      </div>
    </div>
    
    <div class="row mt-3">

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Project</h3>
            <div class="d-flex row-cols-2">
              <div class="icon-text">
                <a href="{{ url_for('pages', page='description') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/description-icon.svg" alt="Description Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='description') }}">
                  <span>Description</span>
                </a>
              </div>
              <div class="icon-text">
                <a href="{{ url_for('pages', page='design') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/design-icon.svg" alt="Design Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='design') }}">
                  <span>Design</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Wet Lab</h3>
    
            <div class="d-flex row-cols-2">
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='experiments') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/lab-steps-icon.svg" alt="Lab steps Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='experiments') }}">
                  <span>Experiments</span>
                </a>
              </div>
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='results') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/results-icon.svg" alt="Results Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='results') }}">
                  <span>Results</span>
                </a>
              </div>
    
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script src="{{ url_for('static', filename = 'indexscroll.js')}}"></script>


{% endblock %}




