{% extends "layout.html" %}
  
{% block title %}Design{% endblock %}

{% block page_content %}

<!-- Header -->
<header class="header-design py-5 mb-5 mt-4">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 fw-bold text-white text-center mb-2">{{ self.title() }}</h1>
        <p class="lead mb-5 text-white-50">{% block lead %}{% endblock %}</p>
      </div>
    </div>
  </div>
</header>

<div class="container">
    
    <div class="summary">
        <h1>Overview</h1>
        <br>
        <p>
          To achieve PFAS degradation, we genetically modified our chosen chassis, E. coli, to express enzymes capable of catalyzing the desired biochemical reactions. In this section, we explain why we choose Dehalogenases and 
          Laccases as candidate enzymes for synergistic action on PFAS degradation, underlying the background research conducted on the enzymes of choice. Additionally, we describe the design of the expression cassettes developed for both intracellular and membrane-bound protein expression. 
        </p>
      </div>

      <div class="row">
        <div class="col-lg-3">
            <div class="index">
                <ul>
                    <li> 
                      <a href="#Titolo1"> Dehalogenases and laccases </a> 
                    </li>
                    <li> 
                      <a href="#Titolo2"> Design of intracellular enzyme expression cassettes </a> 
                    </li>
                    <li> 
                      <a href="#Titolo3"> Design of expression cassette for surface display systems </a> 
                    </li> 
                    <li>
                      <a href="#Titolo4"> References </a>
                    </li>
                    
                </ul>
            </div> 
        </div>
  
        <div class="col-lg-9 text-container">
          
          <div class="container-fluid">
            <section id="Titolo1"> 
                
                <h1 class="mb-3">Dehalogenases and laccases</h1>
                <p>Our project centers on combining populations of engineered Escherichia coli that express laccase and dehalogenase enzymes on their surface. This surface expression strategy stems from the fact that channels for PFAS internalization and externalization after degradation remain unknown. Another challenge with internalization is the potential accumulation of fluoride inside the cell, a byproduct of PFAS defluorination, which could be toxic to cell metabolism and lead to cell death.
                  <br><br>
                  In the research field, laccases and dehalogenases have never been combined in this way, but we believe their individual properties could synergise in an innovative system, potentially leading to new and significant results. We plan to test four enzymes: two laccases and two dehalogenases, and with the best-performing enzyme from each category forming the final system of two populations of Escherichia coli bacteria: one expressing a laccase and the other a dehalogenase. Laccases are expected to mediate the fragmentation of the carbon chain, while the smaller fragments will then be processed by dehalogenases, which may facilitate defluorination. The synergy of these selected enzymes could enable the complete breakdown of PFAS molecules. <br><br>
                  Bioinformatic tools are crucial in the selection of the best enzymatic candidates from a vast array of prokaryotic classes, subclasses, and orthologous, and for predicting their interactions with different PFAS molecules. Scientific literature provides examples of bacteria, algae, fungi, and plants that either resist PFAS or exhibit some degradation capability, suggesting possible adaptation to these substances. By focusing on microorganisms that thrive in PFAS-contaminated environments, we aim to identify enzymes that may play a biological role in PFAS degradation. <br><br>
                  In our bioinformatics lab, we searched for and compared bacterial enzymes that might degrade PFAS, using computational tools to enable the selection of the best candidates for experimental breakdown reactions.
                </p> <br><br><br>
                <h4>Bioinformatics allows us to:</h4><br>
                <p>
                  <ol type="a">
                    <li>Identify, align, compare, and evaluate primary amino acid sequences of orthologous proteins across different microorganisms to find the best candidates based on homology with experimentally proven enzymes.</li>
                    <li>Analyse the homology of 3D enzyme structures by comparing their tertiary structures and evaluating their overlaps.</li>
                    <li>Predict substrate binding to enzyme active sites using docking simulations.</li>
                  </ol>
                </p>
                <div class="images img-smaller">
                  <img src="https://static.igem.wiki/teams/5109/design/designtab1.png">
                </div>
                <p>
                  <span class="italic">Table 1: strategy for the selection of “baits” to be used for searches on unexplored genomic sources of PFAS tolerant microorganisms.</span>
                  <br><br>
                  For each enzymatic family, we included one well-characterised enzyme as a positive control and one novel enzyme identified through bioinformatics research. Our focus was on enzymes from organisms known for resisting high PFAS concentrations, such as Synechocystis. We identified four promising candidates: two dehalogenases and two laccases. One enzyme from each family showed evidence of PFAS degradation in the literature, while the second was selected through BLAST searches for similar enzymes within the Synechocystis proteome due to its PFAS resistance.
                </p>
                <div class="images img-smaller">
                  <img src="https://static.igem.wiki/teams/5109/design/designtab2.png">
                </div>
                <p>
                  <span class="italic">Table 2: ending point of the bioinformatics activities. For both enzyme classes at least one tested and one putative sequence have been identified</span>
                  <br><br>Our project focused on cloning and expressing these selected enzymes into E. coli, followed by experimental testing for PFAS degradation. Bioinformatic analysis, including codon optimization for expression in E. coli, was conducted to enhance enzyme performance in our chosen chassis.
                  <br>Overall, our bioinformatics research and structural analysis of PFAS degradative enzymes  played a crucial role in enhancing our understanding of PFAS-protein interactions and provided a significant advantage for the subsequent laboratory steps, with the ultimate goal of achieving PFAS degradation.
                </p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo2">
                <h1 class="mb-3">Design of intracellular enzyme expression cassettes</h1>
                <p>
                  Our molecular biology laboratory starts from the design of the expression cassette for the enzyme DeHa2. We used the Benchling platform [a] to design the sequence and all the required primers for further experiments, to simulate the outcome of the different experimental steps, and to verify the theoretical accuracy of our work. <br><br>
                  On Benchling, we designed the expression cassette of DeHa2, which we then ordered from the IDT firm [b], specialized in oligonucleotide synthesis. <br>
                  Our construct is designed as it follows:
                </p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/design/design-of-intracellular-enzyme-expression-cassette-design-of-expression-cassette-for-surface-display-systems1.png">
                </div><br>
                <h4>Components</h4>
                <p>
                  Our synthetic expression cassette resembles the following structure, while all the details about the basic and composite parts can be found in our page: <a href="https://2024.igem.wiki/uni-padua-it/parts">https://2024.igem.wiki/uni-padua-it/parts</a>. 
                  <ol>
                    <li>pTac promoter</li>
                    <li>LacO operon</li>
                    <li>Ribosome binding site</li>
                    <li>DeHa2 sequence (GOI)</li>
                    <li>Biobrick prefix</li>
                    <li>Biobrick suffix</li>
                  </ol><br>
                  Each expression cassette is composed of a promoter, a ribosome binding site, a coding sequence that initiates with the ATG triplet and terminates with a stop codon, succeeded by a terminator. In this instance, the selected components are: <br>
                  <b>pTAC (<a href="https://parts.igem.org/Part:BBa_K864400">BBa K864400</a>):</b> we choose a pTAC promoter in order to create an inducible expression cassette, preferring this to a constitutive expression cassette in order to avoid extreme stress on the host cells by constitutively expressing the coding sequence, in case the enzyme of interest turns out to be toxic to <span class="italic">E. coli</span>. <br>
                  <b>LacO (<a href="https://parts.igem.org/Part:BBa_K864400">BBa K864400</a>):</b> the Lac Operon was chosen to create a system constantly repressed in the presence of the LacI protein, and expressed when adding IPTG. <br>
                  By using E. coli strains provided with LacI, in particular the Top10 F’ strain, or by transforming competent bacterial strains inserting a plasmid containing a constitutively expressed LacI gene, we can provide a constantly repressed system for protein expression, modifying at necessity by adding IPTG and therefore activating protein synthesis. <br>
                  <b>Ribosome binding site (<a href="https://parts.igem.org/Part:BBa_B0030">BBa B0030</a>)</b>The RBS site was designed by comparing different RBS sequences from various bacterial strains and then optimizing the distance between the RBS and the gene of interest using the RBS Calculator software Salis Lab. [c]
                  <br>This allowed us to select the optimal distance for efficient translation. <br>
                  <b>GOI sequence of DeHa2 (<a href="https://parts.igem.org/Part:BBa_K3347010">BBa_K3347010</a>)</b>The GOI sequence DeHa2 was selected from the research conducted by a previous iGEM team, specifically the USAFA team, which focused on the bioremediation of PFAS compounds. Their findings served as a foundation for our analysis of this issue. In total, we identified four distinct genes for our investigation, derived from either bioinformatics research or well-characterized parts documented in the registry. 
                  In addition to DeHa2, the selected genes include: the laccase enzyme from Escherichia coli, a multicopper oxidase from Synechocystis sp., and an alpha/beta hydrolase from Synechocystis PCC 6803. These selected laccases and dehalogenases were chosen for their potential efficacy in PFAS degradation. <br>
                  <b>Terminator:</b> the terminator sequence is not included in this cassette, because when submitting the order on the IDT platform, a complexity check flagged the terminator sequence as too complex to be synthesized. <br>
                  Therefore, we ordered it without a terminator, solving the problem in a different way. When inserting the sequence inside of a backbone for the expression, we choose the backbone
                  <b>pJump 29-1A (<a href="https://parts.igem.org/Part:BBa_J428341">BBa_J428341</a>)</b>
                  , which contains a terminator right after the BioBrick suffix: 
                </p>
                <div class="images img-smaller">
                  <img src="https://static.igem.wiki/teams/5109/design/design-of-intracellular-enzyme-expression-cassette-design-of-expression-cassette-for-surface-display-systems2.png">
                </div><br>
                <p>
                  The sequence was engineered for insertion using the digestion and ligation method with the BioBrick restriction enzymes EcoRI and PstI. This approach ensures that the backbone terminator fulfills its intended function without necessitating the synthesis of a new terminator or the execution of a secondary insertion step. <br><br>
                  <b>BioBrick prefix and suffix:</b> the prefix and suffix BioBrick are inserted at the ends of the sequence, leaving a spacer of 7 bases on each end, to allow correct binding of the enzymes during the following digestion reactions.
                </p><br><br>
                <h4>Restriction sites</h4>
                <p>
                  Four enzymatic cutting sites have been inserted specifically: a NdeI cutting site upstream the coding sequence of the gene of interest and downstream the coding sequence a BamHI and two BsaI cutting sites. <br>
                  The <b>NdeI</b> sites were introduced for the subsequent insertion of the anchoring motif Lpp-OmpT(<a href="">BBa_K5109004</a>). More details about the display system, its characteristics, and design strategies can be found in the following section '<span class="italic">Design of Expression Cassettes for Surface Display Systems</span>’.
                  <br><br>The BamHI site is necessary to exchange the expression cassette for different enzymes: by cloning the “basic” expression cassette in pJUMP29-1a, we aim to create a new expression vector that could be used for different enzymes. The DeHa2 sequence can be extracted from the vector performing a double digestion with NdeI and BamHI, allowing the substitution with different enzymes. In our specific case, this construct would also be used to create an expression tool for a different Dehalogenase and two different Laccases. 
                  All the coding sequences will be synthesized with NdeI and BamHI recognition sites, respectively upstream and downstream the coding sequence, so that a double digestion can be performed with the two restriction enzymes and to allow the insertion of  the enzyme coding sequence in the backbone via ligation. <br>
                  Two BsaI cutting sites were introduced downstream of the gene of interest to allow for the insertion of a transcription terminator. Although we ultimately did not use them, opting instead for the terminator already present in the backbone, this design offers flexibility for future projects. It allows for the use of the expression cassette with other backbones or the insertion of a different terminator sequence, resulting in a complete expression system. <br>
                  After the design was completed, the sequence was ordered and shipped to our laboratory, and our experimental procedures started by cloning it inside our chosen backbone.
                </p>
            </section>
          </div>
  
          <div class="container-fluid">
            <section id="Titolo3">
                <h1 class="mb-3">Design of expression cassette for surface display systems</h2>
                <p>
                  Due to complications encountered with the cloning of the previously designed construct , we decided to redesign new sequences to facilitate faster parallel cloning. The new sequences, described below, incorporate improved design elements based on insights gained from the previous experience. <br><br>
                  We designed expression cassettes for the entire display system, which would lead to the surface exposition of one of the four enzymes selected for PFAS degradation: DeHa2, Dehalogenase S, Laccase E, and Laccase S. We ordered the sequences, designed on Benchling, and shipped from companies specialized in DNA synthesis; in particular Twist Bioscience [d], synthetized Lpp-OmpT-DeHa2 and Lpp-OmpT-Dehalogenase S, while IDT synthetized Lpp-OmpT-Laccase E and Lpp-OmpT-Laccase S.
                </p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/design/design-of-intracellular-enzyme-expression-cassette-design-of-expression-cassette-for-surface-display-systems3.png">
                </div>
                <p>
                  The four sequences differ from one another only in the gene of interest; they contain the same basic components of the expression cassette for the intracellular expression of our gene of interest. The implemented changes prompted us to design the entire display system, introducing a sequence coding for a carrier to anchor the gene of interest to the bacterial surface, and a linker between the carrier and passenger. We then adapted the restriction sites, in order to have a more elegant expression cassette, specifically designed for display systems. <br><br>
                  A surface expression system (display system) allows the stable exposure of a target biomolecule (passenger) on the cell surface through fusion with an anchoring motif (carrier), usually consisting of an engineered surface protein. The strategy for constructing this system involves selecting a region containing an external loop of the protein, which can be truncated to allow its fusion to the protein that has to be exposed on the surface. The sequence encoding the anchor also includes a signal peptide, which contains the information that directs the protein towards the membrane and allows its insertion. This peptide is naturally removed by the bacterial host following the translocation of the protein. [7]
                  <br><br>
                  The decision to display the proteins on the bacterial membrane was driven by several factors, the most important being the ability to overcome issues related to permeability. While it is known that PFAS can cross the membrane, it is less clear whether the intermediate products of reactions catalyzed by laccases and dehalogenases can do the same [8]. Surface expression eliminates this uncertainty, as the intermediates are directly released into the extracellular space. This aspect is crucial to our overall project design, where we aim to achieve a synergistic effect between the degradative activities of dehalogenases and laccases on PFAS. The key to this synergy lies in the dehalogenase's ability to access the laccase reaction intermediates and use them as substrates. <br><br>
                </p>
                <h4>Components</h4>
                <p>
                  <ol>
                    <li>pTac promoter</li>
                    <li>LacO operon</li>
                    <li>Ribosome binding site</li>
                    <li>Sequence encoding Lpp-OmpT truncated</li>
                    <li>Linker</li>
                    <li>Sequence encoding GOI: DeHa2, Dehalogenase S, Laccase E or Laccase S</li>
                    <li>Biobrick prefix</li>
                    <li>Biobrick suffix</li>
                  </ol>
                  <br><br>
                  In the next part, the components introduced in the redesigned sequences are described; subsequently, the new design solutions are explained. <br><br>
                  <b>Sequence encoding Lpp-OmpT truncated (<a href="https://parts.igem.org/Part:BBa_K5109004">BBa K5109004</a>):</b> Our coding sequence was chosen after researching the most effective and commonly used display systems in literature. We selected it from the paper "Development of a novel bacterial surface display 
                  system using truncated OmpT as an anchoring motif” [7]. It consists of the first 87 nucleotides of a Lipoprotein coding sequence, which contain Lpp's signal peptide, and a fraction of the Outer Membrane Protein OmpT (nucleotides 21- 474), encoding the protein's first three transmembrane domains. <br><br>
                  <b>Linker:</b> We implemented a linker between the carrier-coding sequence and the passenger to confer flexibility to the display system, providing the anchored enzyme with space for action. In order to eventually isolate the enzyme once expressed on the bacterial membrane surface, a thrombin cleavage site was introduced in the linker: this way, after treating the engineered bacterium with thrombin, the passenger could be easily isolated by exploiting the His-tag placed at its C-terminus. The isolation of the enzyme could be useful for performing enzymatic tests in vitro or for verifying surface expression. Specifically, the inserted thrombin cleavage site is: 5'-GCTGCCGCGCGGCACCAG-3'. Thrombin recognizes the amino acid sequence Leu-Val-Pro-Arg-Gly-Ser and cleaves the bond between arginine and glycine. <br><br>
                  <b>Sequence encoding the GOI:</b>After conducting a bioinformatic research, we selected two dehalogenases and two laccases for expression on the bacterial surface. Specifically, these are:
                  <ul>
                    <li>DeHa2 (<a href="https://parts.igem.org/Part:BBa_K3347010">BBa_K3347010</a>): Delftia acidovorans dehalogenase, previously used for PFAS degradation by the iGEM USAFA Team.</li>
                    <li>Dehalogenase S (<a href="https://parts.igem.org/Part:BBa_K5109010">BBa_K5109010</a>): a putative dehalogenase selected from Synechocystis genome.</li>
                    <li>Laccase E (<a href="https://parts.igem.org/PaBBa_K5109011">BBa_K5109011</a>): Escherichia coli laccase, often used in bioremediation projects for its wide range of substrates.</li>
                    <li>Laccase S (<a href="https://parts.igem.org/PaBBa_K5109011">BBa_K5109011</a>): a laccase selected from Synechocystis genome.</li>
                  </ul><br><br>
                  <b>His-tag:</b> We chose to add a tag at the C-terminal part of our display system to allow enzyme purification after thrombin treatment of the exposed protein. <br><br>
                </p>
                <h4>Restriction sites</h4>
                <br>
                <p>
                  We inserted four restriction sites in the designed sequence: 
                  <ul>
                    <li>Two NdeI cutting sites, one at each end of the anchor-encoding sequence</li>
                    <li>A BsaI cutting site upstream of the gene of interest's coding sequence</li>
                    <li>A BamHI cutting site downstream of the gene of interest's coding sequence</li>
                  </ul>
                  <br><br>
                  The NdeI cutting sites were inserted to allow removal of the anchor from the system, enabling the creation of a construct for intracellular expression of the gene of interest. <br>
                  This design eliminates concerns about directed insertion that would have been present in the previous intracellular expression cassette design, when introducing the anchor in the vector. 
                  Starting with a construct already containing the anchor provides a more elegant solution than the time-consuming process of massive colony picking and sequencing, which would be necessary to ensure the correct insertion of the anchor. <br>
                  We retained the ability to remove the anchor, recognizing the value of characterizing our construct with both intra and extracellular expression. Comparing enzymatic performance in these two situations will allow us to infer the effectiveness of surface expression.
                  Furthermore, digestion with NdeI allows our sequence to be implemented in alternative display systems using different anchoring motifs. This could be achieved by ligating our sequence with an anchor designed to have NdeI sites at its ends, both previously digested with NdeI. In this case, analysis to ensure correct sequence insertion would be necessary. <br><br>
                  The BsaI and BamHI sites allow for the exchange of the gene of interest, enabling the use of the designed surface expression cassette for any desired gene by previously adding a BsaI cutting site upstream and a BamHI cutting site downstream. Compared to the previously designed intracellular expression cassette, the introduction of an additional restriction site allows for the exchange of the gene of interest at any stage of its utilization, with or without the anchor inserted. <br><br>
                  Ultimately, we decided to remove the two BsaI cut sites downstream of the gene of interest, as they were not useful for our project. To complete the expression cassette, a transcription terminator can be added using the BioBrick assembly method.
                </p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo4">
                <h1 class="mb-3">References</h2>
                <p>
                  <ol>
                    <li>Vascon F. A Synthetic Biology Approach to PFAS Bioremediation: Preliminary Computational and Molecular Studies on Fluoroacetate Dehalogenase [Tesi di Laurea Magistrale in Biotecnologie Industriali]. Università degli Studi di Padova; 2019.</li>
                    <li>Steel JJ. iGEM. 2021 [cited 2024 Jun 16]. USAFA iGEM 2021 - Results! Available from: https://2021.igem.org/Team:USAFA/Results</li>
                    <li>Marchetto F, Roverso M, Righetti D, Bogialli S, Filippini F, Bergantino E, et al. Bioremediation of Per- and Poly-Fluoroalkyl Substances (PFAS) by Synechocystis sp. PCC 6803: A Chassis for a Synthetic Biology Approach. Life. 2021;11(12). </li>
                    <li>Luo Q, Lu J, Zhang H, Wang Z, Feng M, Chiang SYD, et al. Laccase-Catalyzed Degradation of Perfluorooctanoic Acid. Environ Sci Technol Lett. 2015 Jul 14;2(7):198–203.</li>
                    <li>Luo Q, Liang S, Huang Q. Laccase induced degradation of perfluorooctanoic acid in a soil slurry. J Hazard Mater. 2018 Oct 5;359:241–7. </li>
                    <li>Scott C, Hu M. Toward the development of a molecular toolkit for the microbial remediation of per-and polyfluoroalkyl substances. Appl Environ Microbiol. 2024 Mar 13;90(4):e00157-24. </li>
                    <li>Hui, Chang-Ye et al. “Development of a novel bacterial surface display system using truncated OmpT as an anchoring motif.” Biotechnology letters vol. 41,6-7 (2019): 763-777.</li>
                    <li>Kleszczyński, Konrad, and Andrzej C Składanowski. “Mechanism of cytotoxic action of perfluorinated acids. I. alteration in plasma membrane potential and intracellular pH level.” Toxicology and applied pharmacology vol. 234,3 (2009): 300-5.</li>
                  </ol>
                </p>
                <h1>Websites</h1>
                <p>
                  <ol type="a">
                    <li>https://www.benchling.com/</li>
                    <li>https://eu.idtdna.com/pages</li>
                    <li>https://salislab.net/software/predict_rbs_calculator</li>
                    <li>https://www.twistbioscience.com</li>
                  </ol>
                </p>
            </section>
          </div>
            
        </div>

    </div>
</div>

<!-- pre-footer -->

<div class="container-fluid mt-5 mb-5 pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="mb-4">Let's find out more about our project</h2>
      </div>
    </div>
    
    <div class="row mt-3">

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Project</h3>
            <div class="d-flex row-cols-2">
              <div class="icon-text">
                <a href="{{ url_for('pages', page='description') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/description-icon.svg" alt="Description Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='description') }}">
                  <span>Description</span>
                </a>
              </div>
              <div class="icon-text">
                <a href="{{ url_for('pages', page='design') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/design-icon.svg" alt="Design Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='design') }}">
                  <span>Design</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Wet Lab</h3>
    
            <div class="d-flex row-cols-2">
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='experiments') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/lab-steps-icon.svg" alt="Lab steps Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='experiments') }}">
                  <span>Experiments</span>
                </a>
              </div>
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='results') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/results-icon.svg" alt="Results Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='results') }}">
                  <span>Results</span>
                </a>
              </div>
    
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<script src="{{ url_for('static', filename = 'indexscroll.js')}}"></script>



{% endblock %}




