{% extends "layout.html" %}
  
{% block title %}Engineering{% endblock %}

{% block page_content %}

<!-- Header -->
<header class="header-engineering py-5 mb-5 mt-4">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 fw-bold text-white text-center mb-2">{{ self.title() }}</h1>
          <p class="lead mb-5 text-white-50">{% block lead %}{% endblock %}</p>
        </div>
      </div>
    </div>
</header>


<div class="container">

  <div class="summary">
    <p>
      Synthetic biology is a relatively recent and fast-developing interdisciplinary 
      field that combines different branches of biological sciences with an engineering 
      approach, with the main goal of designing new biological parts, devices,systems 
      or redesigning existing ones. [1] <br>
      Engineering contributes to this rapidly growing field by introducing the concept of 
      modularity and promoting a systematic approach to both the creation of new biological 
      components and the design of experiments and processes: the engineering cycle. <br>
      This approach consists of four different stages, design, build, test, and learn which are supposed to be repeatedly iterated until the developed systems are sufficiently matching the desired project specifications.
    </p>
    <div class="images img-smaller">
      <img src="https://static.igem.wiki/teams/5109/engineering/engineering1.png">
    </div>
    <p>
      In our project, this cycle was applied to every step, from designing our intracellular and extracellular expression cassette to setting up new protocols and new experiments both in wet and dry labs.
    </p>
  </div>

  <ul class="nav nav-tabs tabs-style nav-justified mx-5" id="myTab" role="tablist">
    <li class="nav-item">
      <button class="nav-link active" id="first-tab" data-bs-toggle="tab" data-bs-target="#first" type="button" role="tab" aria-controls="first" aria-selected="true">Wet lab</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" id="second-tab" data-bs-toggle="tab" data-bs-target="#second" type="button" role="tab" aria-controls="second" aria-selected="false">Sensor</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" id="third-tab" data-bs-toggle="tab" data-bs-target="#third" type="button" role="tab" aria-controls="third" aria-selected="false">Filtration</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade active show" id="first" role="tabpanel" aria-labelledby="first-tab">

      <div class="container-fluid mt-4 pt-4 position-relative">
        <div class="row container mx-auto gx-3">
    
        
            <div class="col-lg-3">
                <div class="index">
                    <ul>
                        <li>
                            <a href="#Titolo1"> Clonings </a>
                            <ul class="is-collapsible" id="Titolo1 Titolo1-1 Titolo1-2 Titolo1-3 Titolo1-4">
                                <li> 
                                    <a href="#Titolo1-1"> Cycle A </a>
                                </li>
                                <li> 
                                    <a href="#Titolo1-2"> Cycle B </a>
                                </li>
                                <li> 
                                  <a href="#Titolo1-3"> Cycle C-1 </a>
                                </li>
                                <li> 
                                  <a href="#Titolo1-4"> Cycle C-2 </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#Titolo2"> Protein expression analysis </a>
                        </li>
                        <li>
                          <a href="#Titolo3"> Enzymatic tests </a>
                        </li>
                                               
                    </ul>
                </div> 
            </div>
    
            <div class="col-lg-9 text-container">

              <div class="container-fluid">
                <section id="Titolo1">                 
                    <h1 class="mb-3">Clonings</h1>
                </section>
              </div>

              <div class="container-fluid">
                <section id="Titolo1-1">                 
                    <h2 class="mb-3">Cycle A: introduction of gel-extraction in our protocols</h2>
                    <p>
                      <b>Design</b>: <br> We tried to build our expression vector by inserting our new composite part (<a href="https://parts.igem.org/Part:BBa_K5109001">BBa_K5109001</a>) in pJUMP29-1A plasmid backbone using the BioBrick standard.
                      We opted for digesting both insert and vector with EcoRI and PstI, and soon after we proceeded to clone our new expression vector inside the <span class="italic">E. coli</span> DH5α strain.
                      before starting with cloning experiments, we designed our cloning protocols in the following way:
                      <ul>
                        <li>digestion with EcoRI and PstI of both vector and insert</li>
                        <li>PCR clean-up of the insert digestion result</li>
                        <li>dephosphorylation of pJUMP29-1A digestion to avoid self-ligation</li>
                        <li>ligation</li>
                        <li>cell transformation in <span class="italic">E. coli</span> DH5α</li>
                        <li>plating on petri dishes with LB and kanamycin</li>
                        <li>colony picking and overnight growth in liquid medium</li>
                        <li>colony PCR with primers mapping on the prefix and suffix regions</li>
                        <li>sequencing of plasmids coming from colonies that gave a positive outcome</li>
                      </ul>
                      <br><br>
                      <b>Build</b>: <br> we applied the previously designed protocol to perform our experiments.
                      <br><br>
                      <b>Test</b>: <br> transformed cells were plated on kanamycin agar plates to select bacteria
                      The colony PCR result of the few colonies that were able to grow on our kanamycin plates was then run on an electrophoresis gel. The gel always showed the presence of a 500bp band, which meant that the plasmid contained the original insert between the prefix and suffix regions.
                      <br><br>
                      <b>Learn</b>: <br> all vectors with the original insert were partially digested plasmids that self-ligated, indicating that the plasmid dephosphorylation step was not efficient enough.To tackle this problem, we opted for switching to a different technique to isolate our digested vector: Gel extraction. We performed gel electrophoresis on the pJUMP29-1A digestion product, isolated the plasmid band at 2900bp, and extracted it from agarose with gel-ext kits. This allowed us to effectively separate the original insert from the digested plasmid.
                    </p>
                </section>
              </div>

              <div class="container-fluid">
                <section id="Titolo1-2">                 
                    <h2 class="mb-3">Cycle B:  transformation in a <span class="italic">E. coli </span>strain with the constitutive expression of LacI</h2>
                    <p>
                      <b>Design</b>:<br> In the beginning, we planned to use the pTac as a constitutive promoter and then add a constitutive LacI expression cassette to make our protein of interest’s expression inducible with IPTG.
                      <br>After many failed attempts, we hypothesised that DeHa2 may be toxic for <span class="italic">E. coli</span>. Some successful ligation products may have entered our chemically competent cells, but those cells may have not survived due to the fact that the expression of our heterologous protein was too high for a constitutive pTac promoter not blocked by Lac repressor.
                      <br>Instead of trying to insert the LacI expression cassette in our genetic construct, making it more complex and harder to clone than it already was, or co-transform our expression vector with an another backbone containing the LacI gene, risking to increase cells’ metabolic burden, we decided to switch to an E. coli strain containing an episome that allowed the constitutive expression of LacI, Top10 F’.
                      <br><br>
                      <b>Build</b>:<br>We digested pJUMP29-1A and our intracellular expression cassette containing starting enzyme DeHa2 with the aforementioned restriction enzymes EcoRI and PstI, we performed electrophoresis and gel extraction on the digestion result of both the plasmid and the synthetic insert to remove the original plasmid insert between biobrick prefix and to maintain both digestion products sticky ends, and we then transformed chemically competent Top10 F’ cells.
                      <br><br>
                      <b>Test</b>:<br>The transformation result was plated on a LB petri dish with kanamycin and we saw some colonies the next day, so we picked all colonies grown and we ran a colony PCR.
                      <br><br>
                      <b>Learn</b>:<br>All the picked and tested colonies still gave us a negative result, meaning that changing host was not sufficient to achieve cloning success.
                      <br>However, we decided to stick with this idea as avoiding cloning an additional LacI expression cassette would simplify our cloning strategy and avoid burdening our cells with plasmidic co-transformation.
                      <br>This choice was revealed to be the correct decision later on, when we changed our set of primers as described in cycle C-2: this step was crucial for improving our experimental design’s efficiency by shortening the amount of trials to reach a positive result. 
                    </p>
                </section>
              </div>

              <div class="container-fluid">
                <section id="Titolo1-3">                 
                    <h2 class="mb-3">Cycle C-1: a matter of primers</h2>
                    <p>
                      <b>Design</b>:<br>Two different primers mapping on Biobrick prefix and suffix were designed to amplify our synthetic intracellular expression cassette, so that we could use it for clonings later on.
                      <br><br>Primers’ sequences are: <br>
                      Prefix_fw: 5’- GAATTCGCGGCCGCTTCTAGAG -3’ <br>
                      Suffix_rv: 5’- CCTGCAGCGGCCGCTACTAG -3’
                      <br><br>
                      <b>Build</b>:<br>The synthetic sequence was amplified with PCR, then digested and used throughout different cloning attempts.
                      <br><br>
                      <b>Test</b>:<br>Transformation results were plated on a LB-agar Petri dish with kanamycin. The colony PCR result of the few colonies that were able to grow on our kanamycin plates was then ran on an electrophoresis gel. The gel always showed the presence of a 500bp band, which meant that the plasmid contained the original insert between the prefix and suffix regions.
                      <br><br>
                      <b>Learn</b>:<br>After many failed attempts, we hypothesised that maybe the ligation did not occur due to either the vector or the sequence not being correctly digested by EcoRI and PstI. Therefore we analysed the primers that we used to amplify the sequence, and decided to create new ones with a bigger amount of landing bases that could increase the probability of digestion to happen.
                    </p>
                </section>
              </div>

              <div class="container-fluid">
                <section id="Titolo1-4">                 
                    <h2 class="mb-3">Cycle C-2: a matter of primers</h2>
                    <p>
                      <b>Design</b>:<br>Given the negative outcome of the previous attempts, as mentioned above we designed a new set of primers to amplify our synthetic sequences that had the following sequences
                      <br>fw: 5’- CATCATGGAATTCGCGGCCGCTTC -3’<br>
                      rev: 5’- CAAGCCCTGCAGCGGCCGCTA -3’
                    </p>
                    <div class="images">
                      <img src="https://static.igem.wiki/teams/5109/engineering/engineering2.png">
                    </div>
                    <p class="didascalia">new forward primer</p>
                    <br>
                    <div class="images">
                      <img src="https://static.igem.wiki/teams/5109/engineering/engineering3.png">
                    </div>
                    <p class="didascalia">new reverse primer</p>
                    <br>
                    <p>
                      Due to time limitations, we decided to amplify with this new set of primers and perform cloning attempts only with our extracellular expression cassettes.
                      <br><br>
                      <b>Build</b>:<br>Our synthetic sequences were amplified by performing PCR using a High Fidelity Taq polymerase and then subsequently digested with EcoRI and PstI and cloned into pJUMP29-1A.
                      <br><br>
                      <b>Test</b>:<br>Transformation results were plated on a petri dish with kanamycin to see whether there were any transformed cells. As before, we picked the colonies grown on the plate and set up a colony PCR and sent them to the sequencing facility.
                      <br><br>
                      <b>Learn</b>:<br>After a few attempts, we were able to see colonies that tested positive for the insertion of our Lpp-OmpT-DeHa2 expression cassette (<a href="https://parts.igem.org/Part:BBa_K5109023:Experience">BBa_K5109023</a>) and Lpp-OmpT-Dehalogenase S (<a href="https://parts.igem.org/Part:BBa_K5109020">BBa_K5109020</a>) expression cassette, 
                      therefore confirming our cloning success as seen in our <a href="https://2024.igem.wiki/Uni-Padua-IT/results">results</a> page.
                      <br><br>
                      Three hypothesis we elaborated to explain our cloning success and they are the following:
                      <ul>
                        <li>Our clonings were previously failing due to landing sequences being too short for the activity of restriction enzymes, leading to no digestion activity</li>
                        <li>The new host cells had a constitutive repressor that may have helped mitigate the toxicity of over-expressed enzymes.</li>
                        <li>Surface expression of our enzymes may be less toxic than the intracellular one, therefore causing less bacteria to die after transformation has occurred.</li>
                      </ul>
                      <br>To verify this last point, whole-cell SDS-PAGE and subsequent Western Blot assays should be performed to quantify protein expression.
                      <br>To assure its correct exposure on the cell surface, we can subject our engineered bacteria to a thrombin treatment. Thrombin is a proteolytic enzyme that cleaves at its recognition aminoacidic sequence. In our design, it is collocated  between the anchoring motif and the exposed protein allowing release of our enzymes in the culture medium.
                      <br>Further SDS-PAGE and Western blot assays on the medium may help us understand if we have surface displayed proteins that were cleaved.
                    </p>
                </section>
              </div>

              <div class="container-fluid">
                <section id="Titolo2">                 
                    <h1 class="mb-3">Protein expression analysis</h1>
                    <p>
                      <h3>CYCLE A: IPTG concentration to induce protein expression</h3>
                      <b>Design</b>: <br> Since having a positive cloning result with Lpp-OmpT-DeHa2, a growth test with increasing concentrations of IPTG was needed to perform enzymatic tests and future SDS-PAGE assays. Since the pTac promoter that allows the expression of the dehalogenase is inducted by the presence of IPTG and, by this time, we were not sure about the toxicity of the dehalogenase, we wanted to understand what is the best IPTG concentration induction that less damages bacterial growth and allows a sufficient expression of the protein. 
                      <br><br>
                      <b>Build</b>: <br> liquid cultures of colonies #4 and #9 retrieved from the Lpp-OmpT-DeHa2 successful cloning and wild type Top10F’ were plated on a 96 multiwell plate. 
                      <br>For this test were prepared culture media containing increasing concentrations of IPTG: 0,5 μM, 5μM, 50 μM, 500μM.                      
                      <br><br>
                      <b>Test</b>: <br>cellular growth was measured using a plate reader by taking the OD600 value every five minutes for 14 hours. <br>
                      We then used the matrix of data generated by the plate reader to create the growth curves and analyze how they changed in the different concentrations of IPTG. <br>
                      The curves obtained from the analysis are the following:
                    </p>
                    <div class="images img-thiner">
                      <img src="https://static.igem.wiki/teams/5109/engineering/engineering4.png">
                    </div> <br>
                    <div class="images img-thiner">
                      <img src="https://static.igem.wiki/teams/5109/engineering/engineering5.png">
                    </div> <br>
                    <p>The colony number #3 showed a significantly different growth in the 500 uM medium, therefore we decided to treat it separately in the creation of the curves and in the data analysis</p> <br>
                    <div class="images img-thiner">
                      <img src="https://static.igem.wiki/teams/5109/engineering/engineering6.png">
                    </div> <br>
                    <p>
                      <br><br>
                      <b>Learn</b>: <br>We noticed a significant difference between the growth of the two colonies transformed with the Lpp-OmpT-DeHa2 construct. 
                      <br>Although both colonies grew slower than the wild-type, we saw that the growth of colony #4 was strongly inhibited for concentration of IPTG higher than 5 μM, while the growth of colony #9 was only slightly affected by the variation of IPTG concentrations. 
                      <br>From this data we deduced that the standard IPTG concentration of 500 μM was not suitable for our protein of interest’s induction in the colony #4, since it led to dosage of protein production that was lethal for our host, but could be used for the colony #9. 
                      <br>The sequencing that we obtained for these colonies had a really poor quality, therefore we could not make any assumptions about the genetic differences between the colonies, and we were not able to justify the differences in the growths. 
                      <br>For this reason and for the shortage of time, we decided to make a conservative choice and use for our enzymatic tests the lowest concentration that could be suitable for both the colonies, being the best compromise between having the biggest hypothetical amount of expressed Lpp-OmpT-DeHa2 and having the smallest effect on E. coli’s growth, which corresponded to 5 μM.
                      <br>Further investigation with more colony sequencing and protein expression analysis with experiments such as SDS-PAGE and western blot should be performed to properly understand the differences between the colonies.
                    </p>
                </section>
              </div>

              <div class="container-fluid">
                <section id="Titolo3">                 
                    <h1 class="mb-3">Enzymatic tests</h1>
                    <p>
                      <h3>Cycle A: Enzymatic tests for dehalogenase</h3>
                      <b>Design</b>: <br>The first step for the expression of a desired protein is to design the construct that will be inserted in an expression plasmid and transformed into bacterial cells. The main goal of our project is to enable surface expression of a dehalogenase in our chosen host E. coli. This can be done by fusing the DeHa2 sequence at the C-terminal of an anchoring motif, in our scenario the Lpp-OmpT surface display system, that contains a signal peptide that allows correct transport and collocation of the fusion protein and a transmembrane domain.
                      <br>Overall, our construct leads to the expression of a chimeric protein made up of a carrier protein, the anchoring motif, and a passenger enzyme, DeHa2, controlled by the inducible promoter pTac.                      
                      <br><br>
                      <b>Build</b>: <br>After designing and synthesising the construct, it was ligated inside a pJUMP plasmid that had been previously digested. After ligation, the engineered plasmid was transformed inside Escherichia coli Top 10F’ and at the end of the process it was verified that the colonies that were obtained had the desired construct.
                      <br><br>
                      <b>Test</b>: <br>After the cloning part, our next step was to verify the correct activity of the enzyme that we decided to express: DeHa2. DeHa2 is a dehalogenase, an enzyme that is able to remove halogens bound to a C atom.
                      <br>The enzymatic activity was measured by introducing chloroacetic acid 2.5 mM in our medium and measuring its degradation by taking a sample at three timepoints (0, 24 and 48 hours) and measuring via FIA-HRMS (flow injection analysis - high resolution mass spectrometry).                      
                      <br><br>
                      <b>Learn</b>: <br>The results showed no significant differences in the chloroacetic acid concentration at the three timepoints in the Top10 F’ wild type and in the colony #4 transformed with the Lpp-OmpT-DeHa2 construct. In colony #9 a total degradation of the reagent was measured instead, even when the protein expression was not induced.
                      <br><br>Details on why there is a marked difference between the two analysed colonies needs further research but from this test we still achieved many new understandings. 
                      Firstly, the fact that colony #9 was able to almost completely degrade chloroacetic acid even when not induced, may be an indicator of the leakage of the pTac promoter. This means that, even without the inductor, the protein gets expressed and is able to remove halogens.
                      Secondly, there needs to be further research on each of the constructs of those colonies to understand if there are any differences in the gene sequences or in the reading frames and to make further assumptions.                      
                      <br><br>Further turns of the engineering cycle are being performed to address these issues, unfortunately not in time for the wiki freeze.    
                    </p>
                </section>
              </div>


            </div>       
          
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">

      <div class="container-fluid mt-4 pt-4 position-relative">
        <div class="row container mx-auto gx-3">

          <div class="col-lg-3">
            <div class="index">
                <ul>
                    <li> 
                        <a href="#TitoloA1"> Cycle A </a> 
                    </li>
                    <li> 
                      <a href="#TitoloA2"> Cycle B-1 </a> 
                    </li>
                    <li>
                        <a href="#TitoloA3"> Cycle B-2 </a>
                    </li>
                    
                    
                </ul>
            </div> 
          </div>

          <div class="col-lg-9 text-container">

            <div class="container-fluid">
              <br><br>
              <p>
                A more in-depth analysis of the sensor construction processes is reported in 
                <a href="https://2024.igem.wiki/Uni-Padua-IT/sensor">this section</a>. 
              </p>
            </div>

            <div class="container-fluid">
              <section id="TitoloA1">                 
                  <h1 class="mb-3">Cycle A</h1>
                  <p>
                    <b>Design</b>: <br>The first prototype we used to attempt our measurements consisted of a simple gold nanoparticles (Au-NPs) surface, designed to allow us to use both measurement techniques.
                    <br><br>
                    <b>Build</b>: <br>After a 5-hour liquid ablation process, we obtained a solution containing the right concentration of Au-NPs. Then, we started a spray coating process using an airbrush on a glass plate. To create a more defined surface to work on, we used a mask over the plate during the process.
                    <br><br>
                    <b>Test</b>: <br>We performed measurements on this first prototype using the Surface Enhanced Raman Scattering (SERS) technology, both by solution analysis with a containment chamber and via drop-casting. We analysed PFOA and PFOS.
                    <br><br>
                    <b>Learn</b>: <br>The solution analysis did not produce any interesting signal via SERS. With drop-casting, we confirmed that there was no adhesion of PFAS molecules on the surface, as they seemed to prefer aggregating among themselves and crystallising during the evaporation of the drop. When pointing the laser for SERS analysis on these crystals visible under the microscope, we obtained good Raman signals. Pointing it towards other parts of the surface showed no new Raman peaks. We concluded that it is necessary to add a functionalization molecule to the surface to allow PFAS adhesion.
                  </p>
              </section>
            </div>
            
            <div class="container-fluid">
              <section id="TitoloA2">                 
                  <h1 class="mb-3">Cycle B-1</h1>
                  <p>
                    <b>Design</b>: <br>Based on the results of cycle A, we considered molecules that might work for our purpose. We identified 11-mercapto-1-undecanol as a possible candidate. It has a Tiole group (-SH) capable of bonding well to the gold nanoparticles present on our surface, an elongated carbon chain structure and a positively polarised functional group that could interact with PFOA molecules. The PFOA molecule has a slightly negative polarity.
                    <br><br>
                    <b>Build</b>: <br>After carrying out the usual Au-NPs surface development process as described in cycle A, we functionalized the surface. Functionalization was performed by incubating the surface in a solution of methanol and our molecule for 1 hour to ensure proper adhesion.
                    <br><br>
                    <b>Test</b>: <br>We performed Electrochemical Impedance Spectroscopy (EIS) and SERS analysis on the surface to verify the correct adhesion of the functionalization molecule and then tested with a solution containing 1mM PFOA in milliQ water at various time intervals. To perform the EIS analyses, 10mM NaCl was added as the electrolyte. 
                    SERS results showing a small variation from the bare, probably due to a small PFOA-surface interaction. 785 nm wavelength, 10X, 0.1 % power, 6x30s acquisition. The graphic is the following:
                  </p>
                  <div class="images">
                    <img src="https://static.igem.wiki/teams/5109/engineering/engineering7.png">
                  </div>
                  <p>                    
                    <br><br>
                    <b>Learn</b>: <br>We obtained excellent signals from the functionalization molecules with both techniques, confirming their correct and stable adhesion to the surface. However, we observe a very small variation indicating PFOA adhesion is happening, but needs further improvement. We realised that while the Tiole group allowed very stable adhesion of the molecules to the surface, further assistance was needed on the other end of the chain to promote the approach of PFOA molecules.
                  </p>
              </section>
            </div>

            <div class="container-fluid">
              <section id="TitoloA3">                 
                  <h1 class="mb-3">Cycle B-2</h1>
                  <p>
                    <b>Design</b>: <br>The results of test B-1 showed us that PFOA molecules do not interact with the detection surface. Thanks to collaboration with a student from our university, we obtained a new functionalization molecule (referred as GV38) that has a shape more similar to PFOA. It still features a Tiole group, which we had found effective for adhesion to the gold surface in cycle B-1. This time the molecule has a C9 carbon chain and a Positive Guanidinium group for interaction with PFOA. We also changed the electrolyte in the test solutions, replacing NaCl. We chose Hepes because this compound acts as a buffer and keeps the pH stable at 7.55, a value we believe can facilitate the proper interaction of PFOA with the surface.
                    <br><br>
                    <b>Build</b>: <br>As described in the previous cycles, we performed the gold surface creation process. This time, the functionalization solution was modified and now consists of MeOH and GV38 1mM.
                    <br><br>
                    <b>Test</b>: <br>We conducted our tests using EIS and SERS techniques on the surface before and after functionalization, and then after adding the solution with milliQ water + PFOA 1mM  + Hepes 10mM. SERS test is made with 633 nm laser wavelength. It detects PFOA molecules thanks to the presence of two characteristic C-F bonds peaks in the Raman spectra. The graphic is the following:
                  </p>
                  <div class="images">
                    <img src="https://static.igem.wiki/teams/5109/engineering/engineering8.png">
                  </div> <br>
                  <p>
                    EIS results showing an impedance variation due to the attachment of PFOA molecules to the detection surface. The graphic is the following:
                  </p>
                  <div class="images">
                    <img src="https://static.igem.wiki/teams/5109/engineering/engineering9.jpg">
                  </div> <br>
                  <p>
                    <br><br>
                    <b>Learn</b>: <br>The results were optimal with both techniques, confirming a stable long-term interaction between our functionalized surface and the PFOA molecules. From this point we can proceed to further characterise this result and try it under different conditions.
                  </p>
              </section>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="third" role="tabpanel" aria-labelledby="third-tab">

      <div class="container-fluid mt-4 pt-4 position-relative">
        <div class="row container mx-auto gx-3">

          <div class="col-lg-3">
            <div class="index">
                <ul>
                    <li> 
                        <a href="#TitoloB1"> Cycle A </a> 
                    </li>
                    <li>
                        <a href="#TitoloB2"> Cycle B </a>
                    </li>
                    
                    
                </ul>
            </div> 
          </div>

          <div class="col-lg-9 text-container">

            <div class="container-fluid">
              <br><br>
              <p>
                In order to cope with PFAS pollution, water service providers utilize filters composed of granular activated carbon (GAC) which adsorbs PFAS molecules on its surface. 
                When GAC reaches its PFAS sorption capacity it must be removed and replaced with a new one or the treatment system will not remain effective. Exhausted GACs are replaced every two or three months with virgin ones because the only 
                available reactivation technique is thermal, with temperatures up to 900°C, which lowers GAC sorption capacity. <br><br>
                For a more in-depth description visit 
                <a href="https://2024.igem.wiki/Uni-Padua-IT/filters">Plant Design - Filters</a>. 
              </p>
            </div>

            <div class="container-fluid">
              <section id="TitoloB1">                 
                  <h1 class="mb-3">Cycle A: Investigation of GAC chemical regeneration</h1>
                  <p>
                    <b>Design</b>: <br>To change the current situation we wanted to find a regeneration technique alternative to the thermal one; we opted for a chemical regeneration through the use of a desorption solution. After a review of the literature we decided to analyse two possible desorption solutions for GAC, one with methanol and NaOH and one with ethanol.
                    <br><br>
                    <b>Build</b>: <br>The desorption solutions analyzed were: MeOH : H2O + NaOH 0.1 M, 50:50 and EtOH : H2O, 50:50 with 2 possible GAC mass - desorption volume ratio (200 mg of GAC with 20 mL of solution and 10 mg of GAC with 100 mL of solution).
                    <br><br>
                    <b>Test</b>: <br>To analyze solvent regeneration of GAC we made 6 tests to compare the effectiveness of wet adsorbent with a dried one, select one of two possible GAC mass - desorption volume ratio and decide on the best desorption solution between the two proposed.
                  </p>
                  <div class="images">
                    <img src="https://static.igem.wiki/teams/5109/engineering/engineering9.png">
                  </div> <br>
                  <p>
                    <br><br>
                    <b>Learn</b>: <br>Through the data obtained from our GAC desorption experiments we understood that the solutions proposed have not the efficacy required to be applied to an industrial context; moreover a scale-up of this chemical desorption technique would require elevated volume of methanol or ethanol, posing an environmental and economical issue (for the economical aspect visit 
                    <a href="https://2024.igem.wiki/Uni-Padua-IT/entrepreneurship">Entrepreneurship</a> 
                    ). Further studies should be conducted on the subject, analyzing other organic and non-organic solutions and focusing on their effect on Filtrasorb 400, the GAC type used commercially. In addition, it is important to bear in mind the need to have low volumes of possible toxic solutions used in the scaleup system so as to be environmentally friendly and economically feasible. 
                  </p>
              </section>
            </div>

            <div class="container-fluid">
              <section id="TitoloB2">                 
                  <h1 class="mb-3">Cycle B: Investigation of AER as an alternative to GAC</h1>
                  <p>
                    <b>Design</b>: <br>We then focused our attention on finding an adsorbent with higher sorption capacity than GAC and that can be regenerated using a non-organic solution. This would reduce the need to replace filters so frequently, reducing costs and environmental impact. 
                    <br><br>
                    <b>Build</b>: <br>We focused on AER (anion exchange resins) as multiple studies find them to have high sorption capacity and we found out it could be regenerated using a desorption solution made with a 10% w/V NaCl solution.
                    <br><br>
                    <b>Test</b>: <br> To understand the adsorption capacity of the resins selected (A860, A110, A111) we put them in contact with PFOA and PFBA solutions (CPFOA=3,75 * 10-3 mol/L  and  CPFBA=5,27* 10-3 mol/L ) for 2 hours and measured the concentration of pollutants every half hour.
                  </p>
                  <div class="images">
                    <img src="https://static.igem.wiki/teams/5109/engineering/engineering10.png">
                  </div> <br>
                  <p>
                    To analyse the intended AER chemical regeneration, we adopted the NaCl solution for the 3 investigated resins.
                  </p>
                  <div class="images">
                    <img src="https://static.igem.wiki/teams/5109/engineering/engineering11.png">
                  </div> <br>
                  <p>
                    <br><br>
                    <b>Learn</b>: <br>
                    <ul>
                      <li>The AER adsorption experiments lead us to demonstrate the extremely high PFAS-adsorption properties of these materials, such that it is difficult to reach an equilibrium state and thus effectively determine their absorption capacity; further studies on this topic are needed.</li>
                      <li>The AER desorption tests did not confirm the data collected in the literature. We assume it is due to the difficulty in reproducing their experimental conditions. As a result, it is critical to perform further experiments to prove those data.</li>
                    </ul>
                  </p>
              </section>
            </div>            
            
          </div>

        </div>
      </div>
    </div>

  </div>


</div>

<!-- pre-footer -->

<div class="container-fluid mt-5 mb-5 pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="mb-4">Let's find out more about our project</h2>
      </div>
    </div>
    
    <div class="row mt-3">

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Project</h3>
            <div class="d-flex row-cols-2">
              <div class="icon-text">
                <a href="{{ url_for('pages', page='description') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/description-icon.svg" alt="Description Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='description') }}">
                  <span>Description</span>
                </a>
              </div>
              <div class="icon-text">
                <a href="{{ url_for('pages', page='design') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/design-icon.svg" alt="Design Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='design') }}">
                  <span>Design</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Wet Lab</h3>
    
            <div class="d-flex row-cols-2">
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='experiments') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/lab-steps-icon.svg" alt="Lab steps Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='experiments') }}">
                  <span>Experiments</span>
                </a>
              </div>
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='results') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/results-icon.svg" alt="Results Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='results') }}">
                  <span>Results</span>
                </a>
              </div>
    
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<script src="{{ url_for('static', filename = 'indexscroll.js')}}"></script>



{% endblock %}
