{% extends "layout.html" %}
  
{% block title %}Entrepreneurship{% endblock %}

{% block page_content %}

<!-- Header -->
<header class="header-entrepreneurship py-5 mb-5 mt-4">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 fw-bold text-white text-center mb-2">{{ self.title() }}</h1>
          <p class="lead mb-5 text-white-50">{% block lead %}{% endblock %}</p>
        </div>
      </div>
    </div>
</header>

<div class="container">

    <div class="row">
        <div class="col-lg-3">
            <div class="index">
                <ul>
                    <li>
                        <a href="#Titolo1"> Unmet needs </a>
                        <ul class="is-collapsible" id="Titolo1 Titolo1-1 Titolo1-2 Titolo1-3 Titolo1-4 Titolo1-5">
                            <li> 
                                <a href="#Titolo1-1"> Problem Statement </a>
                            </li>
                            <li> 
                                <a href="#Titolo1-2"> Beachhead market </a>
                            </li>
                            <li> 
                                <a href="#Titolo1-3"> Existing solutions </a>
                            </li>
                            <li> 
                                <a href="#Titolo1-4"> Benchmarking </a>
                            </li>
                            <li> 
                                <a href="#Titolo1-5"> Costumer interview </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                      <a href="#Titolo2"> Our Solution </a>
                      <ul class="is-collapsible" id="Titolo2 Titolo2-1 Titolo2-2 Titolo2-3 Titolo2-4">
                          <li> 
                              <a href="#Titolo2-1"> SurPFAS Technology </a>
                          </li>
                          <li> 
                              <a href="#Titolo2-2"> IP Protection Strategy </a>
                          </li>
                          <li> 
                              <a href="#Titolo2-3"> Business Exit strategy </a>
                          </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#Titolo3"> Development Plans </a>
                      <ul class="is-collapsible" id="Titolo3 Titolo3-1 Titolo3-2 Titolo3-3 Titolo3-4">
                        <li> 
                            <a href="#Titolo3-1"> Lean Business Model </a>
                        </li>
                        <li> 
                            <a href="#Titolo3-2"> Gantt chart </a>
                        </li>
                        <li> 
                            <a href="#Titolo3-3"> Risk Analysis </a>
                        </li>
                        <li> 
                            <a href="#Titolo3-4"> Business Plan </a>
                        </li>
                      </ul>
                  </li>
                  <li>
                    <a href="#Titolo4"> Long Term Impacts </a>
                    <ul class="is-collapsible" id="Titolo4 Titolo4-1 Titolo4-2 Titolo4-3 Titolo4-4">
                      <li> 
                          <a href="#Titolo4-1"> SWOT Analysis </a>
                      </li>
                      <li> 
                          <a href="#Titolo4-2"> Costs </a>
                      </li>
                      <li> 
                          <a href="#Titolo4-3"> Long-Term Development and Immediate Actions </a>
                      </li>
                      <li> 
                          <a href="#Titolo4-4"> Sustainable Development Goals </a>
                      </li>
                    </ul>
                  </li>
                  <li>
                    <a href="#Titolo5"> Team & Marketing </a>
                    <ul class="is-collapsible" id="Titolo5 Titolo5-1 Titolo5-2 Titolo5-3">
                        
                        <li> 
                            <a href="#Titolo5-1"> Marketing and Communication </a>
                        </li>
                        <li> 
                            <a href="#Titolo5-2"> Marketing Strategy </a>
                        </li>
                    </ul>
                  </li>

                </ul>
            </div> 
        </div>

        <div class="col-lg-9 text-container">
          
          <div class="container-fluid">
            <section id="Titolo1">

              <h1>Unmet needs</h1>

            </section>
          </div>  


          <div class="container-fluid">
            <section id="Titolo1-1"> 
                
                <h2 class="mb-3">Statement problem</h2>
                <p>PFAS, Per-Polyfluoroalkyl substances are a large family of synthetic chemicals, 
                  due to their strong carbon-fluorine bonds they are extremely hard to degrade.  Thanks 
                  to their excellent hydrophobic properties they have been widely use in industry property. 
                  In particularly, in Veneto (our region), PFAS diffusion started in 1964 with Miteni industry. Many studies affirm that PFAS can lead to liver and kidney damage, reduce fertility, impair cognitive development in fetuses and be carcinogenic. [1] <br>
                  PFAS are called forever chemicals, since their natural biodegradation occurs over an undefined period, PFAS tend to accumulate in the environment and in living organisms. <br>
                  Nowadays the only technics to try to degrade them is the thermal one with the reactivation of the filter used to isolate PFAS. In fact, to depurate groundwater, water facilities in our country use Granulated Activated Carbon filters (GAC), that can absorb PFAS. <br>
                  When the filter is saturated, companies that supply GAC can reactivate it through thermal regeneration, with temperatures reaching up to 900 degrees. However, there are conflicting opinions on this matter. While some studies claim that degradation at very high temperatures 
                  (900-1000°C) is complete(2), others argue that the applied instruments do not allow for a clear distinction between volatilization and degradation(3). Recent studies emphasize that incineration of the filters may not completely eliminate PFAS and could even produce toxic by-products such as volatile organic fluorine (VOF), tetrafluoromethane (CF4), and hexafluoroethane (C2F6). 
                  These substances that are toxic both to the environment, due to their significant impact on global warming, and to humans, causing respiratory issues(4). This inconsistency highlights how delicate the process is and that its effectiveness depends on specific conditions and parameters that must be rigorously controlled.
                </p> 
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo1-2">
                <h2 class="mb-3">Beachhead market</h2>
                <p>Through market analysis, we identified that the demand for our solution 
                  varies depending on the severity of PFAS contamination in different regions. 
                  Our primary customers are groundwater purification plants responsible for 
                  providing safe drinking water to citizens. Initially, our focus will be 
                  on deploying our solution to smaller water treatment 
                  facilities located in highly contaminated areas of the Veneto region in 
                  Italy. Once our process is tested and optimized, we plan to scale up and expand 
                  our services across the entire Italian market, eventually partnering with larger 
                  plants that cover broader territories.
                </p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/entrepreneurship/entrepreneurship1.png">
                </div>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo1-3">
                <h2 class="mb-3">Competitors</h2>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/entrepreneurship/entrepreneurship2.png">
                </div>
                <p>Our main competitors in Italy are companies that supply activated carbon and offer thermal regeneration services. In contrast, we propose a chemical regeneration of activated carbon using an ethanol solution. This approach is motivated by several factors:
                  <ul>
                    <li><b>Lower Energy Impact</b>: Unlike regeneration at very high temperatures, our process requires significantly less energy.</li>
                    <li><b>Increased Sustainability</b>: Chemical regeneration allows us to obtain a concentrated PFAS solution, which we can manage later in a controlled manner, minimizing the risk of environmental contamination.</li>
                    <li><b>Monitoring</b>: Our service includes an on-site sensor for rapid monitoring, enabling us to quickly determine whether the system is functioning properly or if filtration needs to be halted.</li>
                    <li><b>Degradation Control</b>: The PFAS solution will be treated and placed in a bioreactor with engineered E. coli to facilitate degradation. The reactions in the bioreactor will be continuously monitored by the sensor to ensure the process is functioning correctly.</li>
                    <li><b>Reusability</b>: Chemical regeneration does not alter the structure of the activated carbon, maintaining its effectiveness over multiple regeneration cycles. This allows the filter to be reused, reducing raw material costs and waste.</li>
                  </ul>
                  On a global scale, ion exchange resins are beginning to surpass activated carbon as filters for absorbing PFAS, due to their exceptional absorption capacity. Chemical regeneration of these resins is performed with a NaCl solution, which is undoubtedly less expensive and more sustainable than ethanol in an industrial process. surPFAS has also developed and analyzed resins, allowing us to offer this technique as an alternative to activated carbon in Italy. 
                </p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/entrepreneurship/entrepreneurship3.png">
                </div>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo1-4">
                <h2 class="mb-3">Benchmarking (TAM-SAM-SOM)</h2>
                <p>The filtration treatment of water to remove PFAS is a crucial step in isolating pollutants and separating them from the water that will eventually reach citizens. Our primary objective is to ensure that this process is carried out in a controlled and safe manner. Water treatment facilities are gradually adapting to the need to optimize their systems and accommodate the absorption of PFAS, a need that is expected to grow over time given the widespread presence of these "forever chemicals" and the lack of definitive solutions. surPFAS offers a service designed to be effective both industrially and environmentally, providing a definitive degradation solution. <br><br>
                  Market prospects are promising when considering the current and future value of PFAS filtration systems. Market analysis data have highlighted significant growth in this sector, which will require substantial investments. Below, we present the TAM, SAM, and SOM chart relevant to our sector, covering both PFAS filtration and monitoring in water treatment plants. [5]
                  <ul>
                    <li><b>TAM (Total Addressable Market):</b>This represents the global market, encompassing all water treatment plants worldwide that filter water from PFAS, including testing techniques. In our case, this figure is around 3.5 billion USD.</li>
                    <li><b>SAM (Serviceable Available Market):</b> This is the portion of the market that the company could realistically target based on geographic proximity, in our case focusing on Europe, the region most affected by the issue.</li>
                    <li><b>SOM (Serviceable Obtainable Market):</b>This represents the segment of the SAM that the company can capture in the short term, considering contacts with stakeholders and competitors, which in our case is Italy, the country where the startup will launch.</li>
                  </ul>
                </p>
                <div class="images img-smaller">
                  <img src="https://static.igem.wiki/teams/5109/entrepreneurship/entrepreneurship4.png">
                </div>
                <div class="images img-smaller">
                  <img src="https://static.igem.wiki/teams/5109/entrepreneurship/entrepreneurship5.png">
                </div>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo1-5">
                <h1 class="mb-3">Customer interview</h1>
                <p>
                  As highlighted in detail within our Integrated Human Practices, we had the opportunity to observe a groundwater filtration process in one of the most contaminated areas of Veneto. The facility we visited is managed by Acquevenete, the water service provider for the towns surrounding our university. During this visit, we were shown the process of replacing a saturated filter and explained how the water purification process works. These insights allowed us to identify key areas for improvement to optimize the process and ensure that citizens receive pure, PFAS-free water. <br><br>
                  The main issues we identified were related to the monitoring of the filtration process. Currently, water samples are taken approximately every two weeks and sent for analysis using mass spectrometry, which takes several days to yield results. The need for on-site sensors for faster analysis was emphasized, as this would enable prompt action in the event of a malfunction. Based on this feedback, we decided to develop our sensor using Raman technology, eliminating the need for laboratory processing and allowing for rapid, cost-effective water sample analysis in just a few minutes. <br><br>
                  Acquevenete also highlighted another challenge concerning filter regeneration. They currently use activated carbon filters provided by a competitor who performs thermal regeneration. However, we learned that they cannot reuse the same filter multiple times, as the high-temperature regeneration process reduces the granule size of the activated carbon, making it incompatible with the cisterns designed to hold them. These cisterns require a specific granule diameter, and the size reduction renders the filters unusable. <br><br>
                  To address this issue, we delved into the technical literature on alternative regeneration methods, focusing on chemical regeneration that does not alter the granule size. Simultaneously, we expanded our research to explore new filters for testing in the laboratory. <br>
                  By replacing thermal regeneration with chemical regeneration, we obtain a PFAS-laden solution that can be degraded in a bioreactor using engineered <span class="italic">E. coli</span>. This approach allowed us to apply our research on PFAS degradation through synthetic biology to a tangible industrial application. <br>
                  Acquevenete provided us with a deep understanding of the real needs of a water treatment plant for PFAS purification. We have optimized our process to offer better solutions with a positive impact on our community.
                </p>
                <div class="images img-smaller">
                  <img src="https://static.igem.wiki/teams/5109/entrepreneurship/entrepreneurship6.png">
                </div>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo2">
              <h1>Our Solution</h1>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo2-1">
              <h2>SurPFAS Technology</h2>
              <p>
                SurPFAS proposes an innovative groundwater purification process aimed at helping industries filter and biologically degrade PFAS contaminants through the genetic engineering of <span class="italic">Escherichia coli</span>. <br><br>
                The service initially offers on-site chemical regeneration of filters, facilitated by a mobile unit equipped with a tailored solution depending on the filter type. If Granular Activated Carbon (GAC) filters are employed, we propose an ethanol-based (EtOH) solution, whereas for resin filters, we utilize a sodium chloride (NaCl) solution. <br><br>
                Once regenerated, the filters are returned to the facilities, while the PFAS-containing effluent is transported back to the processing plant. Here, the solution undergoes a series of treatments to prepare it for introduction into the bioreactor. On-site, tanks containing a culture of E. coli engineered with Laccase and Dehalogenase enzymes are maintained, which are essential for the degradation process. <br><br>
                In the bioreactor, the PFAS-laden solution is introduced to facilitate degradation. Finally, waste products are either recovered or disposed of in a controlled manner. <br>
                A critical aspect of the process is the sensor system. We have identified the necessity of incorporating a monitoring system to ensure the safety of both filtration and degradation processes. <br><br>
                The sensor is strategically placed downstream of the purification tank to verify that PFAS are no longer present in the water before it reaches consumers. If any contaminants are detected, the corresponding tank can be promptly isolated. Similarly, the degradation reaction within the bioreactor is monitored to determine when the by-products have become non-toxic.
              </p>
              <div class="images">
                <img src="https://static.igem.wiki/teams/5109/entrepreneurship/entrepreneurship7.png">
              </div>

            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo2-2">
              <h2>IP Protection Strategy</h2>
              <p>
                Our project encompasses several innovative technologies. These include the engineering of E. coli for the complete degradation of PFAS and the development of rapid detection methods. Following iGEM, we plan to further refine these technologies and secure patent protection to facilitate their implementation on an industrial scale.
              </p>
              <div class="images">
                <img src="https://static.igem.wiki/teams/5109/entrepreneurship/entrepreneurship8.png">
              </div>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo2-3">
              <h2>Business Exit strategy</h2>
              <p>
                The surPFAS project is highly ambitious, with its strength lying in the concept of a comprehensive and well-connected system that addresses every step of the PFAS journey—from groundwater to complete degradation. Given the project's scope, having an exit strategy is crucial, not only to keep our goals clear and outline the steps needed to achieve them but also to ensure we reach our objectives and attract investors. We have developed multiple exit strategies, each offering specific advantages depending on the project's progress. <br><br>
                The first option involves acquisition by a company within the same sector, specifically one that provides filters to facilities and ensures their regeneration. Considering that we offer an innovative method with a superior environmental impact, this could present a significant opportunity for both Italian and international companies, such as Chemviron or Calgon Carbon, to demonstrate their commitment to revolutionizing safety technology by embracing innovation, research, and environmental sustainability. Similarly, an acquisition would be advantageous for foreign companies that are further along in their development, offering chemical regeneration systems and replacing GAC with resins. For these companies, an acquisition would allow them to enhance their processes with our ideas without overhauling their existing infrastructure. <br><br>
                This strategy would be particularly attractive once the project's feasibility has been proven on an industrial scale. However, it is essential that our future outlooks and ideas align with those of the acquiring company to maintain control over the project's future. <br><br>
                The second option is to license the developed technology, granting usage rights to third parties. This option becomes optimal once we have secured patents for the sensor and the engineered E. coli for PFAS degradation. Moreover, it allows us to stay focused on research rather than large-scale production. The timeline would be reduced to a few years, limiting the scope to laboratory-scale development. Additionally, a well-defined licensing strategy, with clear fees and rights, can ensure a steady revenue stream and proper use of the technology. <br><br>
                Another alternative to consider is selling to private equity funds specializing in sustainable and green technology investments. Investors in this sector are likely to invest significant capital to advance a project aimed at solving one of the major issues affecting environmental pollution and human health, especially as the problem continues to spread rapidly. The potential returns in case of project success would be substantial, given that the issue is global and expected to affect an increasing number of people. Presenting a detailed scalability plan and clear investment returns will be crucial in attracting these investors.
              </p>
              <div class="images">
                <img src="https://static.igem.wiki/teams/5109/entrepreneurship/entrepreneurship9.png">
              </div>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo3">
              <h1>Development Plans</h1>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo3-1">
              <h2>Lean Business Model</h2>
              <div class="images img-smaller">
                <img src="https://static.igem.wiki/teams/5109/entrepreneurship/entrepreneurship10.png">
              </div>
              <div class="accordion" id="myAccordion">
    
                <div class="accordion-item">
                  <h3 class="accordion-header" id="heading1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                      Detailed  Lean Business Model Canvas
                    </button>
                  </h3>
                  <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#myAccordion">
                    <div class="accordion-body">
                      <p>
                        <b>Problem</b><br>
                        SurPFAS was conceived and developed to tackle the growing problem of PFAS contamination in the environment. PFAS, or per- and polyfluoroalkyl substances, are synthetic compounds used in the production of various everyday items, such as waterproof clothing, non-stick cookware, firefighting foams, and more, due to their exceptional properties. Since their natural biodegradation takes an indeterminate amount of time, PFAS tend to accumulate in the environment and living 
                        organisms, posing a significant threat to human health. Epidemiological studies have shown clear links between PFAS bioaccumulation and a range of health issues, including altered immune and thyroid functions, liver and kidney diseases, lipid and insulin dysregulation, adverse reproductive and developmental outcomes, and cancer. <br><br>
                        Current solutions involve filtration systems that are not fully supported by consistent scientific reasoning, leaving the problem of complete degradation unresolved. Moreover, industrial plants often rely on detection techniques that are time-consuming and costly, as they cannot be conducted on-site and require extensive processing to yield results. <br><br><br>
                        <b>Solution</b><br>
                        We propose a degradation solution using synthetic biology, specifically by engineering E. coli to degrade PFAS. The initial steps of our research focus on the surface expression of the enzymes Laccase and Dehalogenase, which are designed to break down the strong PFAS chains within a bioreactor. <br><br>
                        To achieve this, we will utilize filters that operate in groundwater treatment plants to isolate these pollutants, ensuring that the water is clean and potable for citizens. The saturated filters will be regenerated using chemical solutions, resulting in high concentrations of PFAS that can be separately degraded. <br><br>
                        To analyze the samples and confirm the success of the process, we are developing a functionalized sensor to perform both electrochemical and spectrometric measurements. This sensor allows for rapid and cost-effective detection that can be conducted on-site. <br><br><br>
                        <b>Key metrics</b><br>
                        The key metrics for surPFAS include both scientific and operational parameters. Firstly, processes related to the engineering of <span class="italic">E. coli</span> are critical, such as gene expression efficiency and the survival rate—specifically, the percentage of bacteria that survive in the bioreactor post-engineering. The fundamental metric is the degradation of PFAS, measured by the percentage of PFAS degraded within a given time frame, which is also linked to the replication rate of <span class="italic">E. coli</span>. <br><br>
                        A crucial step is scalability—the ability to replicate these results on an industrial scale for practical application in water treatment plants. This requires short and standardized timelines to ensure timely implementation. <br><br>
                        From an engineering perspective, a key objective is to develop a sustainable chemical regeneration solution that demonstrates efficiency with a low environmental impact. Various tests will be conducted to determine the conditions that offer the highest reproducibility, and a column design will be studied for industrial application. <br><br>
                        Regarding the sensor, it will undergo numerous optimization experiments to enhance both qualitative and quantitative analyses. The goal is to increase the detectable PFAS species, even at low concentrations. <br><br><br>
                        <b>Unique value proposition</b><br>
                        SurPFAS offers a comprehensive service for the safe removal of PFAS from groundwater, ensuring the safety of citizens and preventing contamination through the ingestion of these harmful substances. The process begins with the filtration of pollutants, isolating them for separate treatment. Following this, the pollutants are degraded within a closed and controlled environment of the bioreactor, effectively preventing any dispersion into the surroundings. surPFAS represents a potential definitive solution to the spread of PFAS, with the long-term possibility of being adapted for use in other matrices. <br><br><br>
                        <b>Unfair advantage</b><br>
                        SurPFAS's unfair advantage lies in its proprietary integration of genetic engineering with environmental biotechnology. The project leverages a unique combination of engineered E. coli strains and a patent-pending Raman-SERS sensor technology, creating a solution that is both innovative and difficult to replicate. Additionally, our exclusive partnerships with leading academic institutions provide us with cutting-edge research capabilities and a continuous pipeline of innovation, ensuring that surPFAS remains at the forefront of PFAS degradation technologies. The proprietary methods for regenerating filters while maintaining their integrity further secure our position as a leader in the field. <br><br><br>
                        <b>Channel</b><br>
                        The surPFAS project reaches its clients through strategic partnerships with water treatment facilities, particularly in regions heavily affected by PFAS contamination, such as Veneto. In addition to collaborations with treatment plants, the project enhances its credibility by partnering with universities and research centers to scientifically validate the technology. <br><br>
                        Other outreach efforts include participating in specialized conferences, industry trade shows, and international sustainable innovation networks. Furthermore, surPFAS leverages digital platforms and social media to raise public awareness, attract investors, and apply for European funding opportunities in the environmental and technological sectors. <br><br><br>
                        
                        <b>Costumer segments</b><br>
                        The surPFAS project primarily targets two key customer segments. The first segment consists of water treatment facilities located in regions heavily impacted by PFAS contamination, which require innovative and effective solutions for monitoring, filtering, and degrading these substances. <br><br>
                        The second segment includes government entities, both local and national, that are dedicated to environmental protection and public health, seeking sustainable solutions to mitigate the impact of PFAS. Additionally, a critical customer group comprises industrial companies contributing to PFAS pollution that need to comply with increasingly stringent environmental regulations. <br><br><br>
                        <b>Cost structure</b><br>
                        The costs of the surPFAS project will vary over the course of the company's development. Initially, the primary expenses will be related to research, including laboratory supplies and labor required to manage various stages of the process. <br><br>
                        As the project progresses to industrial scale, costs will shift to include filter regeneration. This will involve funding for solutions and transportation to perform the process on-site. Additionally, different machinery will be needed depending on the type of filter being reactivated, such as GAC (granular activated carbon) or resins. <br><br>
                        The company will also need to invest in tanks for cultivating E. coli and maintaining their viability. Costs will vary based on the degradation rate and required volume, impacting the expenses for bioreactors. <br>
                        Finally, there will be costs associated with the development of sensors and the data analysis and processing services required to interpret the collected data. <br><br><br>

                        <b>Revenue stream</b><br>
                        The surPFAS project aims to generate revenue through multiple channels. Firstly, revenue will be derived from partnerships with water treatment facilities, which will pay for the deployment of our PFAS removal and filtration technologies. This includes ongoing service agreements for the maintenance and regeneration of filters. Additionally, surPFAS will explore government contracts and grants focused on environmental protection and public health initiatives, offering sustainable solutions for PFAS mitigation. Industrial companies contributing to PFAS pollution will also be a key revenue source, as they will need to comply with regulatory standards and invest in our innovative solutions. Furthermore, surPFAS will generate income through the sale of its sensor technologies and data analysis services, providing clients with detailed insights and monitoring capabilities. These diverse revenue streams will ensure a robust financial foundation as the project scales and expands its impact.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo3-2">
              <h2>Gantt chart</h2>
              <p>
                surPFAS requires multiple development phases across various aspects of the project, including regeneration, degradation, and monitoring. Each phase involves different timelines and testing requirements. For this reason, we have carefully scheduled our activities over the coming years, with the goal of fully implementing our project at an industrial level by 2028.
              </p>
              <div class="images">
                <img src="https://static.igem.wiki/teams/5109/entrepreneurship/entrepreneurship11.png">
              </div>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo3-3">
              <h2>Risk Analysis</h2>
              <p>
                The phases outlined in the Gantt chart are ideal but may face delays due to the inherent risks of failure, which are common in startup development. <br>
                The first risks pertain to the laboratory testing phase. After months of research and process design, the next step is to validate our ideas through experiments. Once success is demonstrated in the lab, we must consider industrial-scale application. At this stage, issues related to cost, space, and functionality may arise. Therefore, it is crucial to conduct a thorough risk analysis with potential solutions, ensuring we are prepared to pivot quickly if necessary. This approach will demonstrate to investors our foresight and ability to adapt, highlighting the project's potential and stability. <br><br>
                One of the primary risks associated with activated carbon filters is that the solution tested on a bench scale might not perform as effectively on an industrial scale. This would necessitate further analysis in two directions: adjusting the component ratios of the solution or modifying the regeneration conditions to more closely mimic those of the laboratory. <br><br>
                A similar challenge applies to ion exchange resins. However, an additional step in this case is validating the adsorption process. While this type of filter shows incredible PFAS isolation capabilities in water, it has yet to be implemented in our local water treatment facilities. Therefore, large-scale testing will be necessary to assess both adsorption and regeneration efficiency. <br><br>
                The last significant challenge is achieving complete PFAS degradation once they are introduced into the bioreactor with engineered E. coli. Beyond the complexity of correctly genetically modifying E. coli to express Laccase and Dehalogenase enzymes on its surface, it must be proven at both laboratory and industrial scales that degradation occurs. If not, we will need to revisit the literature and explore alternative strategies. This could involve forming a consortium or combining different enzymes, leveraging the bioinformatics research conducted at the project's inception.
              </p>
              <div class="images img-smaller">
                <img src="https://static.igem.wiki/teams/5109/entrepreneurship/entrepreneurship12.png">
              </div>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo3-4">
              <h2>Business Plan</h2>
              <p>
                Here you can find our specific document <br>
                <a href="https://static.igem.wiki/teams/5109/entrepreneurship/entrepreneurship-businessplan.pdf">https://static.igem.wiki/teams/5109/entrepreneurship/business-plan-surpfas.pdf</a>
              </p>
            </section>
          </div>


          <div class="container-fluid">
            <section id="Titolo4">
              <h1>Long Term Impacts</h1>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo4-1">
              <h2>SWOT Analysis</h2>
              <div class="images img-smaller">
                <img src="https://static.igem.wiki/teams/5109/entrepreneurship/entrepreneurship13.png">
              </div>
              <div class="accordion" id="myAccordion2">
    
                <div class="accordion-item">
                  <h3 class="accordion-header" id="heading2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                      read more
                    </button>
                  </h3>
                  <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#myAccordion2">
                    <div class="accordion-body">
                      <p>
                        Conducting a SWOT analysis is crucial for identifying not only the strengths but also the limitations of a project. This awareness allows us to anticipate potential challenges and be prepared to find alternative solutions quickly. Recognizing the potential problems in a project is essential for continuous improvement and ensuring the project’s success. <br>
                        <b>Strenghts:</b>
                        <ul>
                          <li>surPFAS provides an integrated solution that not only filters but also degrades PFAS, offering a distinct advantage over existing market alternatives</li>
                          <li>The project aligns with global sustainability goals by utilizing a regenerative approach that minimizes waste and environmental harm, directly appealing to growing demands for green solutions in the industrial and public sectors</li>
                          <li>The integration of Raman-SERS sensors enables real-time, on-site monitoring, which adds significant value by improving efficiency and accuracy in PFAS detection and control, giving surPFAS a technological edge in the market</li>
                          <li>Partnerships with academic institutions, research centers, and water treatment facilities not only enhance the credibility of the project but also facilitate a clear path to market implementation and scaling</li>
                        </ul>
                        <b>Weaknesses:</b>
                        <ul>
                          <li>While innovative, surPFAS is still in the development phase, which may require further validation and scaling efforts before it can be fully commercialized. This may introduce risks in timeline and budget management</li>
                          <li>The deployment of biological and chemical technologies for environmental treatment could face hurdles due to regulatory compliance and safety concerns, particularly in conservative markets or heavily regulated regions</li>
                          <li>The project's success heavily depends on securing and maintaining key partnerships with industry stakeholders, academic collaborators, and regulatory bodies. Any disruption to these relationships could slow progress</li>
                        </ul>
                        <b>Opportunities:</b>
                        <ul>
                          <li>Growing global attention to reducing PFAS pollution creates strong demand for innovative solutions like surPFAS.</li>
                          <li>With increasing global awareness and regulatory pressure to eliminate PFAS from water supplies, surPFAS is well-positioned to meet the rising demand for effective, sustainable water treatment solutions, offering significant market expansion potential</li>
                          <li>surPFAS can capitalize on numerous environmental and technological grants, including European sustainability funds, to accelerate development and commercial deployment</li>
                          <li>As public awareness of PFAS-related health risks grows, both governments and private companies are increasingly motivated to invest in innovative solutions, creating an advantageous environment for surPFAS to thrive</li>
                        </ul>
                        <b>Threats:</b>
                        <ul>
                          <li>The rapidly growing environmental technology market may see other innovative solutions for PFAS removal emerge. If these technologies are quicker to scale or receive regulatory approval faster, they could reduce surPFAS' market share and competitive edge</li>
                          <li>Navigating regulatory approvals, especially for new biological and chemical interventions, can be complex and time-consuming. Unexpected delays or changes in regulations could slow down surPFAS’ path to market, affecting its scalability and adoption timeline</li>
                          <li>Convincing water treatment plants and industrial clients to adopt new, unproven technology could be challenging, especially in sectors where operational risk and compliance are paramount</li>
                          <li>Economic downturns or changes in public funding priorities could limit the availability of capital for environmental innovation, potentially slowing down the project's growth and market entry</li>
                        </ul>
                      </p>
                    </div>
                  </div>
                </div>
              </div>

            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo4-2">
              <h2>Costs</h2>
              <p>
                The costs of our service vary significantly depending on the concentration of PFAS in the water. Below, we present an estimated cost based on a water treatment facility we visited in one of the most contaminated areas in Veneto, Italy.
                <br><br>
                <b>Sensor:</b>
                <br>The cost of the sensor is very low; what really matters is the analytical aspect. However, if a filtration and degradation system is well designed, detailed laboratory analyses should be needed only occasionally. This ensures that the costs remain aligned with safety requirements.
              </p>
              <div class="images img-smaller">
                <img src="https://static.igem.wiki/teams/5109/entrepreneurship/entrepreneurshipcosts1.png">
              </div> <br>
              <p>
                <b>Filters:</b><br>
                To estimate the cost of the filtration component, it is essential to consider two factors. The first cycle involves the cost of the resin itself, while the second cycle sees a dramatic reduction in prices. In fact, due to desorption and drying techniques that allow for salt reuse, only the minimal cost of water remains.
              </p>
              <div class="images img-smaller">
                <img src="https://static.igem.wiki/teams/5109/entrepreneurship/entrepreneurshipcosts2.png">
              </div>
              <div class="images img-smaller">
                <img src="https://static.igem.wiki/teams/5109/entrepreneurship/entrepreneurshipcosts3.png">
              </div>
              <p>
                We also present the costs associated with the use of activated carbon filters, as we initially wanted to propose an alternative solution to thermal regeneration.
                <br><br>Choice of desorption solution:		            EtOH : H2O, 50:50
                <br>Choice of GAC mass to desorption volume ratio:	200 mg GAC e 20 mL 
                <br><br>To calculate the costs of a facility using this technology, we based our analysis on the design of the Acquevenete plant: they use three steel filters containing GAC arranged in parallel, with a filtering bed corresponding to 2000 kg.
                <br><br>Thus, we apply the chosen ratio at these levels:
              </p>
              <div class="images img-smaller">
                <img src="https://static.igem.wiki/teams/5109/entrepreneurship/entrepreneurshipcosts4.png">
              </div>
              <p>
                For this volume for desorption, half will be water (which we consider to be tap water for a facility like this) and half ethanol.
                <br><br>Thus,
              </p>
              <div class="images img-smaller">
                <img src="https://static.igem.wiki/teams/5109/entrepreneurship/entrepreneurshipcosts5.png">
              </div> <br>
              <p>
                <br>Considering the following costs:
              </p>
              <div class="images img-smaller">
                <img src="https://static.igem.wiki/teams/5109/entrepreneurship/entrepreneurshipcosts6.png">
              </div> <br>
              <p>
                <br>The result is:
              </p>
              <div class="images img-smaller">
                <img src="https://static.igem.wiki/teams/5109/entrepreneurship/entrepreneurshipcosts7.png">
              </div> <br>
              <p>
                This cost includes:
                <ul>
                  <li>Initial cost of the GAC</li>
                  <li>Cost of the desorption solution</li>
                </ul>
                Additionally, the initial process costs must account for the purchase of bioreactors and the cost of obtaining the engineered bacteria.
                <br><br>Furthermore, we need to consider the costs of maintaining conditions suitable for bacterial growth and the expenses for diluting the solutions to ensure compatibility with our Escherichia coli. In this regard, we based our analysis on results obtained from growth tests, which indicate that this bacterium can survive up to a maximum concentration of 0.75 M, equivalent to 150,000 moles of ethanol. Therefore, to the previously considered volume of water, we need to add 91,245.15 L for the dilution of the desorption solution, which amounts to $367.
                <br><br>As highlighted from an economic perspective, this alternative does not prove to be cost-effective.
              </p>
            </section>
          </div> 

          <div class="container-fluid">
            <section id="Titolo4-3">
              <h2>Long-Term Development and Immediate Actions</h2>
              <p>
                Our project envisions long-term development opportunities with the goal of creating a system that prioritizes both human and environmental safety. <br><br>
                In the short term, our focus is on the absorption of PFAS from groundwater, which is currently managed by water treatment plants such as Acquevenete, ACEA, Gruppo CAP, HERA, SMAT, and Perdania Acque. The most widely used filters today are activated carbon filters supplied by companies like CHEMVIRON, Cabot Norit, Calgon Carbon (a Kuraray company), Evoqua Water Technologies, Carbotech AC, and Hydro-Chem. These companies primarily use high-temperature thermal regeneration at around 900-950 degrees Celsius. Our first step is to propose a more sustainable and effective alternative. <br><br>
                We advocate for chemical regeneration using ethanol, which allows us to obtain a solution containing PFAS that can be treated separately. This is followed by onsite distillation to produce a solution that supports the coexistence and survival of engineered <span class="italic">E. coli</span>. The final step involves degradation within a bioreactor, where the engineered bacteria and the distilled solution work together to break down the PFAS. <br>
                However, in the long term, our objective is to replace activated carbon with ion exchange resins. These resins are equally, if not more, effective in absorbing these pollutants, with the significant advantage of being activated by a NaCl solution. NaCl presents a more industrially feasible solution compared to ethanol, not only in terms of lower toxicity but also in ease of disposal and separation from PFAS.
                Regarding monitoring, a major innovation in our project is the introduction of on-site sensors. The initial step involves deploying sensors downstream of the filtration system to monitor PFAS concentrations in real-time, enabling prompt adjustments to the operation of the tanks. The EIS sensor can acquire data in approximately 5-10 minutes from on-site samples. <br><br>
                The final step, following thorough sensor characterization, will be the automation of the process. The plan is to implement continuous operation sensors positioned both upstream and downstream. The upstream sensor will be essential for predictive maintenance, utilizing software that can predict, based on the concentration of PFAS entering the filter, when saturation will be reached, and the tank needs to be replaced. <br><br>
                While our goal for degradation is to achieve complete breakdown from the outset, research will likely progress in stages, initially producing intermediate products with partial bond cleavages. Over time, we will optimize the engineering of <span class="italic">E. coli</span> and the conditions within the bioreactors to achieve complete and controlled degradation.
              </p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo4-4">
              <h2>Sustainable Development Goals</h2>
              <div class="images img-smaller">
                <img src="https://static.igem.wiki/teams/5109/entrepreneurship/entrepreneurship14.png">
              </div>
              <p>
                3- The elimination of PFAS could reduce the health problems associated with them. <br>
                6- One of the main goals is water purification to ensure its potability. <br>
                9- surPFAS promotes the development of sustainable and low environmental impact enterprises. <br>
                11- The aim is to reduce waste, recycling materials, and minimizing air pollution. <br>
                12- The degradation and filtration processes are controlled to ensure only environmentally tolerable and non-toxic byproducts are released. <br>
                13- The elimination of PFAS and the replacement of current processes with more sustainable ones are aimed at increasing environmental awareness. <br>
                14- Purifying water from PFAS ensures an environment free from toxic pollutants for marine flora and fauna. <br>
                15- PFAS degradation guarantees an environment free of toxic pollutants for terrestrial flora and fauna. <br>
                17- surPFAS promotes sustainability with processes designed to be scaled internationally, not only to address the problem in countries already affected but also to prevent it in those at risk.
              </p>
            </section>
          </div>


          <div class="container-fluid">
            <section id="Titolo5">
              <h1>Team & marketing</h1>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo5-1">
              <h2>Marketing and Communication</h2>
              <p>
                SurPFAS is more than just a startup: it’s a young, innovative movement created by a group of twenty-somethings with a clear mission—eliminating PFAS and raising global awareness about an environmental crisis that can no longer be ignored. <br><br>
                SurPFAS addresses one of the most pressing concerns of our generation—environmental sustainability—and demonstrates that young people aren’t just talking about making a difference; they are actively working towards a better future. We’re not just fighting PFAS. We aim to educate the public about this growing global threat and emphasize the urgency of acting now, before it's too late. Awareness is the key to change, and our mission is to bring this issue to the forefront. <br><br>
                To spread our message as quickly and effectively as possible, we’ve chosen the most powerful tools of this century: social media. <br><br>
                As outlined in our 
                <a href="https://2024.igem.wiki/Uni-Padua-IT/human-practices">Human Practices</a>, we’ve already partnered with a company that produces PFAS-free cookware, supporting us both financially and in spreading awareness about the problem. This collaboration was made possible through the efforts of an influencer who has been instrumental in fundraising and expanding our reach.
              </p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo5-2">
              <h2>Marketing Strategy</h2>
              <p>
                SurPFAS represents more than just a startup; it is a young and innovative movement founded by a group of individuals in their twenties, driven by a clear mission—to eliminate PFAS and increase global awareness of an environmental crisis that demands immediate action. <br><br>
                SurPFAS will have an Instagram profile where we will regularly update our followers on PFAS-related news worldwide. This profile will be highly interactive, featuring reels that showcase our processes, live sessions, and Q&A boxes to engage directly with the community. Our initial goal is to involve influencers in the sector, scientific communicators, cooking profiles, and anyone interested in the topic who wants to support the project and the startup. We are confident that the subject will attract significant interest, and the influencer community is deeply committed to promoting good actions for good causes, especially when they support young minds. <br><br>
                But our strategy doesn’t stop here. During the research and patent development phase, we will continue expanding our online presence, and eventually, we plan to scale the project to an industrial level. For every significant amount of PFAS degraded, we will organize awareness events in schools to bring students closer to environmental sustainability and research, showing that each of us can make a difference through commitment and study. This initiative will not only highlight our progress but also strengthen the bond between surPFAS and the global community. <br><br> 
                Our dream is to develop an app that allows users to monitor the progress of PFAS degradation and track the expansion of our company. We aim to build a community of people who believe in our project and the possibility of real change.
              </p>
              <div class="images">
                <img src="https://static.igem.wiki/teams/5109/entrepreneurship/entrepreneurship15.png">
              </div>
            </section>
          </div>

        </div>

    </div>
</div>

<!-- pre-footer -->

<div class="container-fluid mt-5 mb-5 pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="mb-4">Let's find out more about our project</h2>
      </div>
    </div>
    
    <div class="row mt-3">

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Project</h3>
            <div class="d-flex row-cols-2">
              <div class="icon-text">
                <a href="{{ url_for('pages', page='description') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/description-icon.svg" alt="Description Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='description') }}">
                  <span>Description</span>
                </a>
              </div>
              <div class="icon-text">
                <a href="{{ url_for('pages', page='design') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/design-icon.svg" alt="Design Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='design') }}">
                  <span>Design</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Wet Lab</h3>
    
            <div class="d-flex row-cols-2">
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='experiments') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/lab-steps-icon.svg" alt="Lab steps Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='experiments') }}">
                  <span>Experiments</span>
                </a>
              </div>
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='results') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/results-icon.svg" alt="Results Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='results') }}">
                  <span>Results</span>
                </a>
              </div>
    
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<script src="{{ url_for('static', filename = 'indexscroll.js')}}"></script>



{% endblock %}




