{% extends "layout.html" %}
  
{% block title %}Filters{% endblock %}

{% block page_content %}

<!-- Header -->
<header class="header-filters py-5 mb-5 mt-4">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 fw-bold text-white text-center mb-2">{{ self.title() }}</h1>
          <p class="lead mb-5 text-white-50">{% block lead %}{% endblock %}</p>
        </div>
      </div>
    </div>
</header>

<div class="container">

    <div class="row">
        <div class="col-lg-3">
            <div class="index">
                <ul>
                    <li>
                      <a href="#Titolo1"> Different solutions for PFAS treatment in groundwater </a>
                      <ul class="is-collapsible" id="Titolo1 Titolo1-1 Titolo1-2">
                          <li> 
                              <a href="#Titolo1-1"> Adsorption isotherms </a>
                          </li>
                          <li> 
                              <a href="#Titolo1-2"> Regeneration studies </a>
                          </li>
                      </ul>
                    </li>
                    <li>
                        <a href="#Titolo2"> Experiments </a>
                        <ul class="is-collapsible" id="Titolo2 Titolo2-1 Titolo2-2 Titolo2-3">
                            <li> 
                                <a href="#Titolo2-1"> GAC regeneration </a>
                            </li>
                            <li> 
                                <a href="#Titolo2-2"> AER adsorption </a>
                            </li>
                            <li> 
                              <a href="#Titolo2-3"> AER regeneration </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                      <a href="#References"> References </a>
                    </li>                  
                    
                </ul>
            </div> 
        </div>

        <div class="col-lg-9 text-container">

          <div class="container-fluid">
            <section id="Titolo1"> 
              <h1 class="mb-3">Different solutions for PFAS treatment in groundwater</h1>
              <p>
                PFAS molecules have been widely used for the production of many products for decades. <br>
                In the last few years they have been detected in multiple environmental media, including groundwater used to supply the population, leading to the rise of public concern over their use. <br><br>
                When the PFAS crisis erupted in Veneto, GAC was the first adsorbent used for the creation of filters in water treatment facilities, with the goal of limiting PFAS consumption. <br>
                This was because at the time it was easily available. In fact GAC had already been used as contaminant removal media for many water-soluble contaminants. <br><br>
                During the years numerous studies have demonstrated the PFAS sorption efficacy of activated carbon, leading to its use to remove various PFAS from water matrices. [3] <br><br>
                When GAC reaches its PFAS sorption capacity it must be removed and replaced with clean GAC or the treatment system will not remain effective. <br>
                The lifespan of GAC depends on the contaminant of interest, its concentration and the presence of other co-contaminants. <br>
                This means that when PFAS water concentrations are elevated the spent GAC needs to be frequently replaced with new one. <br><br>
                Replacement of PFAS-spent GAC is the main hurdle associated with GAC use. <br>
                Water service facilities, such as the ones present in Veneto (for more information <a href="https://2024.igem.wiki/Uni-Padua-IT/sponsors">Collaboration & Partnership</a>), currently use virgin GAC. As it can be easily guessed the regular replacement of spent GAC with virgin GAC is an expensive process. <br>
                This choice is connected to the fact that the only reactivation tecniche existing at the moment is a thermal one: GACs are heated to high temperatures (over 600°C). The problem with this is that the physical and chemical properties of the reactivated GAC change with each reactivation cycle due to the exposure to high temperatures conditions, lowering the  sorption capacity of the reactivated GAC. [1] Furthermore multiple studies state that this type of treatment could lead to the emission of volatile and mobile products and harmful compounds. [4] <br><br>
                The challenges imputed to thermal reactivation of GAC had led us to consider their solvent regeneration as an alternative. <br>
                We also wanted to see if the use of another, possibly more effective, adsorbent was possible. This idea brought us to bamboo-derived GAC and AER (Anion Exchange Resin) and their solvent regeneration. <br>
                We started by studying the sorption capacity of the two adsorbent and then we moved to their regeneration.
              </p>
            </section>
          </div>
            
          <div class="container-fluid">
            <section id="Titolo1-1"> 
              <h2 class="mb-3">Adsorption isotherms</h2>
              <p>
                The first step in our research was to understand the state of the art on GAC and AER adsorption. <br>
                We concentrated on studies based on batch experiments: tests carried out in closed containers with a certain amount of adsorbent and known concentrations of solute. <br>
                This examinations consist in: putting a known amount of adsorbent in a closed container with a known concentration of solute (in our case water with PFAS) and finding out the final concentration of the solution after a period of time long enough to be assumed to have reached a state of equilibrium. <br>
                The purpose of this procedure is to derive the amount of solute removed per mass of filter (q) as this parameter can be used to determine which adsorbent is the one with the best adsorption capacity. <br>
                This can be done thanks to Freundlich and Langmuir isotherm models; they allow to associate the solute concentration at equilibrium (Ce) with the value of mass of pollutant adsorbed per mass of filter at equilibrium (qe), through empirical adsorption constant (kL for Langmuir and kF for Freundlich); qm is the maximum adsorption capacity and nis a correction factor. <br><br>
              </p>
              <div class="images img-thiner">
                <img src="https://static.igem.wiki/teams/5109/filters/filters1.png">
              </div> <br>
              <p>
                For the adsorption of bamboo-derived GAC and AER we focused on studies [2] and [5] respectively. <br>
                In [2], the author focuses on bamboo-derived GAC, which seems to have higher adsorption capacities of PFOA and PFOS than Filtrasorb 400 GAC, the one commonly used by water service providers; in the table below it can be seen the difference in the value of the maximum adsorption capacity for PFOA and PFOS.
              </p>
              <div class="images">
                <img src="https://static.igem.wiki/teams/5109/filters/filters2.png">
              </div><br>
              <p>
                However, the use of this type of GAC for an industrial purpose is currently not feasible as it is not available on the market but it is only obtained through a complex process for laboratory testing. <br><br>
                We therefore studied the adsorption of AER, a category of PFAS adsorbents that can be easily found on the market. We recreated the experimental 
                conditions present in [6] demonstrating the extremely high PFAS-adsorption properties of these materials, such that it is difficult to reach an equilibrium state and thus effectively determine their absorption capacity. <br><br>
              </p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo1-2"> 
              <h2 class="mb-3">Regeneration studies</h2>
              <p>
                AER solvent regeneration has been studied extensively as AER is thought to be a valuable substitute for GAC, however in literature exists very limited documentation on activated carbon solvent regeneration. [2] <br><br>
                Most of the studies done on the subject are carried out as batch experiments; this limits the results obtained as they are different from the flow-through system used in an industrial application. <br>
                Based on the information acquired from various scientific publications we focused on 2 organic based solvent for GAC and 1 for AER:
              </p>
              <div class="images">
                <img src="https://static.igem.wiki/teams/5109/filters/filters3.png">
              </div><br>
              We also tested the growth of Escherichia coli in the presence of methanol, ethanol and NaCl to understand the dilution required for a scale-up of the results obtained here (for more information visit 
              <a href="https://2024.igem.wiki/Uni-Padua-IT/experiments">growth test</a>).
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo2"> 
              <h1 class="mb-3">Experiments</h1>
            </section>
          </div>
            
          <div class="container-fluid">
            <section id="Titolo2-1"> 
              <h2 class="mb-3">GAC regeneration</h2>
              <p>
                <h4>Materials and methods</h4>
                To analyze solvent regeneration of GAC we first looked at the scientific literature on the topic. Most of the studies on the topic propose the use of organic base solution to detach PFAS molecules from the surface of the filters, especially through the use of methanol or ethanol. <br>
                During this phase we found an interesting research [2] in which they proposed a solution of ethanol and water (50:50), more specifically they examined the desorption efficacy of 100 mL of solution in the regeneration of 10 mg of bamboo-derived GAC, obtaining a removal of 98%. <br>
                Thanks to the collaboration with Professor Ester Marotta of the University of Padova (for more information visit 
                <a href="https://2024.igem.wiki/Uni-Padua-IT/sponsors">Collaboration & Partnership</a> - Expert in Organic Pollutant Degradation) another solution was proposed: 20 mL of methanol and water with NaOH 0,1 M (50:50) for 200g of GAC. <br>
                She also gave us access to an investigation made from one of her grad student where the latter solution was used, giving a PFBA desorption efficacy of about 55%. <br><br>
                We proposed the following experiments with 2 goals in mind: 
                <ol>
                  <li>verify if the results obtained from [2] were dependent on the type of GAC used
                    (the study [2] used bamboo-derived GAC vs we used Filtrasorb 400 GAC)
                    </li>
                  <li>find out which of the solutions proposed was more effective and with which mass of GAC - volume of desorption solution ratio <br>
                    (MeOH : H2O + NaOH 0.1 M, 50:50 vs EtOH : H2O, 50:50 and 10 mg with 100 mL vs 200 g with 20 mL)
                    </li>
                </ol>
              </p>
              <div class="images img-smaller">
                <img src="https://static.igem.wiki/teams/5109/filters/filters4.jpg">
              </div><br>
              <p>
                For the experiments we used saturated Filtrasorb 400 activated carbon, received from Acquevenete, 
                a water service provider in Veneto, during our visit to their plant (for more information visit <a href="https://2024.igem.wiki/Uni-Padua-IT/sponsors">Collaboration & Partnership</a> - Veneto’s Drinking Water Provider). <br>
                The GACs received were wet so we also did tests to compare the efficacy of the solutions for wet GACs vs dry ones. <br><br>
                In order to get results on the 2 goals we set our mind to, we created 6 tests:
              </p>
              <div class="images img-smaller">
                <img src="https://static.igem.wiki/teams/5109/filters/filters5.png">
              </div><br>
              <p>
                In the case of dry GACs, we first sieved them to avoid using those that were too small to be then harvested. <br><br>
                The desorption experiments were done in batch: we put the wanted amount of GAC and desorption solution in a flask, previously labeled, in an orbital shaker for 48 hours at 25°C. <br>
                We then collected part of the solution (3 mL for the total of 20 mL and 10 mL in the case of 100 mL total), now with PFAS, and put it in a Falcon tube, then in a freezer to be analyzed at a later time by Liquid Chromatography with tandem mass spectrometry (LC-MS-MS).
              </p>
              <div class="images img-smaller">
                <img src="https://static.igem.wiki/teams/5109/filters/filters6.jpg">
              </div><br>
              <div class="images img-smaller">
                <img src="https://static.igem.wiki/teams/5109/filters/filters7.jpg">
              </div><br>
              <div class="images img-smaller">
                <img src="https://static.igem.wiki/teams/5109/filters/filters8.jpg">
              </div><br>
              <div class="images img-smaller">
                <img src="https://static.igem.wiki/teams/5109/filters/filters9.jpg">
              </div><br>
              <p>
                Test M1 and M2 were analyzed in a laboratory of the Department of Chemical Sciences of the University of Padova whereas the others were done in an external laboratory, thanks to a temporary collaboration with it. <br><br>
                <h4>Results</h4>
                <br>
                1. Wet GAC vs Dry GAC <br>
                We found higher concentrations of PFBA and PFOS in the previously dried GAC (M1 vs M3 and M2 vs M4). <br>
                This was done by comparing the mass of PFAS found in the desorption solution, specifically comparing M1 with M3 and M2 with M4.

              </p>
              <div class="images">
                <img src="https://static.igem.wiki/teams/5109/filters/filters10.png">
              </div><br><br>
              <p>
                2. Selection of GAC mass - desorption volume ratio <br>
                To analyze the best GAC mass - desorption volume ratio we consider the latter as the variable parameter by considering PFAS concentration in the solution if we had the same amount of GAC. <br>
                In the comparison of the 2 possible ratios we found out that the use of higher volume for less activated carbon, so 100 mL for 10 mg, also presented higher concentrations (twice the amount of PFBA and 5 times for PFOS), as it can be easily expected. However to apply this kind of solvent regeneration in a real industrial application we do need to consider the substantial volume that this kind of ratio would mean: considering a total of 2000 kg of GAC with a desorption with ethanol and with a ratio of 200 mg - 20 mL we would need 100.000 L of ethanol whereas in the case of 10 mg - 100 mL we would need 10.000.000 L of just ethanol. 
              </p>
              <div class="images">
                <img src="https://static.igem.wiki/teams/5109/filters/filters11.png">
              </div><br>
              <p>
                3. Selection of desorption solution <br>
                We compared the mass of PFAS found in the desorption solution, specifically comparing M3 with M4 and M5 with M6. <br><br>
                The solution with methanol and the one with ethanol gave similar results, for both ratio cases and for both PFOS and PFBA.
              </p>
              <div class="images">
                <img src="https://static.igem.wiki/teams/5109/filters/filters12.png">
              </div><br>
              <p>
                4. Desorption efficacy <br>
                The GACs tested were obtained in a real filtration system so we do not have data on the actual amount of PFAS present 
                on the adsorbent prior to the desorption, thus it was not possible to determine the effectiveness of the desorption solution used. 
                However, we did have the adsorption and desorption test results obtained by Prof. Marotta's doctoral student in which the solution with methanol 
                and NaOH at a ratio of 200mg-20mL was used (corresponding to our M3 test); in this case the desorption efficacy was about 55% for PFBA and 59% for PFOA.	<br>
                Using this notion we determined that the solution with ethanol with the same GAC-desorption solution ratio was about 53%. <br><br>
                <h4>Conclusion:</h4><br>
                Through the data obtained from our GAC desorption experiments we understood that the solutions proposed have not the efficacy required to be applied to an industrial context. 
                Moreover a scale-up of this chemical desorption technique would require elevated volume of methanol or ethanol, posing an environmental and economical issue (for the economical aspect visit 
                <a href="https://2024.igem.wiki/Uni-Padua-IT/entrepreneurship">Entrepreneurship</a>). <br><br>
                We believe that further studies should be conducted on the subject, analyzing other organic and non-organic solutions and focusing on their effect on Filtrasorb 400, as this type of GAC is the one used commercially and available to water service providers. 
              </p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo2-2"> 
              <h2 class="mb-3">AER adsorption</h2>
              <p>
                <h4>Adsorption kinetics</h4><br>
                To determine the adsorption capacity of the resins, it was necessary to verify how long it took them to reach equilibrium in adsorption. <br>
                Tests were therefore carried out on the adsorption kinetics of PFAS, in particular PFOA and PFBA. Every test was conducted in a batch. <br>
                The analyzes of the samples were carried out by Liquid Chromatography with tandem mass spectrometry (LC-MS-MS). <br><br>
                <h4>Materials and methods</h4><br>
                The resins used in this experiment are: A860, A11, A110 from Purolite. <br>
                A860 is a resin generally used for the removal of organic carbon dissolved in solutions rich in organic material, but from the literature it emerged that it also lends itself very efficiently to the removal of PFAS. <br>
                A110 and A111 are both specific resins for the removal of PFAS. <br>
                We reproduced the conditions of the experiment conducted by Fuhar Dixit et al. for the regeneration of A860 [6], so we weighted about 300 mg for each filter.
              </p>
              <div class="images img-thiner">
                <img src="https://static.igem.wiki/teams/5109/filters/filters13.png">
              </div><br>
              <div class="images img-thiner">
                <img src="https://static.igem.wiki/teams/5109/filters/filters14.png">
              </div><br>
              <p>
                The resins were in contact with 75 ml of the solution at 30°C, in a mechanical stirrer at 150 rpm.
                A sample was taken every 30 minutes for two hours.
              </p>
              <div class="images img-smaller">
                <img src="https://static.igem.wiki/teams/5109/filters/filters15.jpeg">
              </div><br>
              <h4>Results</h4><br>
              <p>
                From the analysis of the solution after the adsorption process we found out that A860 is the best among the three resins, despite it’s the only one that is non PFAS selective. <br>
                This result helped us to concentrate on this resin in the regeneration studies with tap water, but we couldn’t evaluate the mass of PFOA adsorbed for mass of resin which could confirm the Freundlich model found in [5]. <br>
                Therefore we think it’s necessary to carry out further experiments focusing on the characterization of the Freundlich isotherm. <br>
              </p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo2-3"> 
              <h2 class="mb-3">AER regeneration</h2>
              <p>
                To carry out the studies on regeneration we adopted a 10% w/V NaCl solution. The paper [6] focuses in particular on the A860. No article was found for A110 and A111. <br>
                The following table summarizes the regeneration yields of the solution at different concentrations, for the different pollutants:
              </p>
              <div class="images">
                <img src="https://static.igem.wiki/teams/5109/filters/filters16.png">
              </div><br>
              <p>
                Since the yields are quite similar and still optimal, the solution with the lowest salt concentration was taken into consideration.
                This is because <span class="italic">E.coli</span> does not survive at concentrations of NaCl greater than 2% (for the bacterial growth tests visit Growth test). 
                Therefore it is necessary in any case to dilute the chosen solution and by taking the solution with a lower concentration, 
                the dilution will be minimal (in our case the solution will therefore be 1: 5).
              </p><br>
              <h4>Regeneration in milliQ water</h4><br>
              <p>
                The filters used in the kinetic experiments were subsequently regenerated. <br>
                Chemical regeneration has been studied to separate PFAS from filters. <br>
                As all the resins in these experiments work similar, we exploited the same solution mentioned before. <br>
                The resins loaded with pollutants were left in contact with the solution for a total time of 2 hours.
                <br><br><h4>Materials and methods</h4><br>
                Each filter was in contact with 15 ml of solution for 2 hours at 30°C in a mechanical stirrer at 150 rpm.
              </p>
              <div class="images img-smaller">
                <img src="https://static.igem.wiki/teams/5109/filters/filters17.jpeg">
              </div><br>
              <br><h4>Results</h4><br>
              <p>
                Our results didn’t match with the data found in the paper. However, we didn’t carry out multiple tests, so it’s possible that we didn’t simulate the same conditions reported in the article. <br>
                So it’s fundamental to carry out further experiments to confirm the yields found in the article. <br>
                <br><h4>Regeneration in tap water</h4><br>
                Further studies were carried out on the regeneration of the most promising resin, A860. <br>
                The aim is to verify that the adsorbent properties of the resins are not modified by the ions dissolved in tap water because we want a more economical solution for our project. Regeneration studies were then conducted with a 10% (w/V) NaCl solution with tap water. <br>
                Subsequently, the resins were loaded again with a PFOA solution to verify post-regeneration adsorption. <br>
                <br><h4>Materials and methods</h4><br>
                <p>
                  4 tests were performed: 2 with a tap water solution and 2 with a milliQ water solution, as a comparison. <br>
                  Resin mass:
                </p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/filters/filters18.png">
                </div><br>
                <p>
                  The resins were in contact for 24 h with 100 mL of a 10-3 M PFOA solution at 30°C,  in a mechanical stirrer at 150 rpm. <br>
                  Subsequently, the filter was placed in contact with 7,5mL of the regeneration solution for 2 h at 30°C, 150 rpm. <br>
                  Finally, the resins were loaded again with 100 mL of a 10-3 M PFOA solution for a period of 2 h, at 30°C, 150 rpm. <br>
                  <br><h4>Results</h4><br>
                  The results obtained again contrast the data reported in the literature, perhaps further experiments should be carried out varying the volumes of the regeneration solution or the concentrations of the regeneration solutions. <br>
                  We also found out that A860 adsorbed all the PFOA in solution even if its regeneration didn’t succeed. We think that other studies could explore even better this resin’s adsorption capacity. <br><br>
                  <h4>Conclusion</h4><br>
                  The resins prove to be an excellent alternative to GACs as adsorbents, however further tests focused on their regeneration are necessary so that they can establish themselves as valid all-round alternatives.
                </p>

              </p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="References">
              <h2>References</h2>
              <ol>
                <li>Siriwardena D. P, James R, Dasu K, Regeneration of per- and polyfluoroalkyl substance-laden granular activated carbon using a solvent based technology, Journal of Environmental Management, Volume 289, 2021</li>
                <li>Shubo D, Yao N, Enhanced adsorption of perfluorooctane sulfonate and perfluorooctanoate by bamboo-derived granular activated carbon, Journal of Hazardous Materials, 282, 2015
                </li>
                <li>Zhang D. Q,  Zhang W.L, Liang Y.N, Adsorption of perfluoroalkyl and polyfluoroalkyl substances (PFASs) from aqueous solution - A review, Science of The Total Environment, 694, 2019
                </li>
                <li>Longendyke G.K, Katel S, Wang Y.  PFAS fate and destruction mechanisms during thermal treatment: a comprehensive review, Environmental Science: Processes & Impact, 2022
                </li>
                <li>Fuhar D, Benoit B, Shadan G.M, Madjid M, PFOA and PFOS removal by ion exchange for water reuse and drinking applications: role of organic matter characteristics, The Royal Society of Chemistry, 2019
                </li>
                <li>Fuhar D, Benoit B, Shadan G.M, Madjid M, Removal of legacy PFAS and other fluorotelomers: Optimized regeneration strategies in DOM-rich waters, Water Research, 183, 2020</li>
              </ol>
            </section>
          </div>



        </div>

    </div>
</div>

<!-- pre-footer -->

<div class="container-fluid mt-5 mb-5 pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="mb-4">Let's find out more about our project</h2>
      </div>
    </div>
    
    <div class="row mt-3">

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Project</h3>
            <div class="d-flex row-cols-2">
              <div class="icon-text">
                <a href="{{ url_for('pages', page='description') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/description-icon.svg" alt="Description Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='description') }}">
                  <span>Description</span>
                </a>
              </div>
              <div class="icon-text">
                <a href="{{ url_for('pages', page='design') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/design-icon.svg" alt="Design Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='design') }}">
                  <span>Design</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Wet Lab</h3>
    
            <div class="d-flex row-cols-2">
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='experiments') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/lab-steps-icon.svg" alt="Lab steps Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='experiments') }}">
                  <span>Experiments</span>
                </a>
              </div>
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='results') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/results-icon.svg" alt="Results Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='results') }}">
                  <span>Results</span>
                </a>
              </div>
    
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<script src="{{ url_for('static', filename = 'indexscroll.js')}}"></script>



{% endblock %}




