{% extends "layout.html" %}
  
{% block title %}History{% endblock %}

{% block page_content %}

<!-- Header -->
<header class="header-history py-5 mb-5 mt-4">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 fw-bold text-white text-center mb-2">{{ self.title() }}</h1>
          <p class="lead mb-5 text-white-50">{% block lead %}{% endblock %}</p>
        </div>
      </div>
    </div>
</header>

<div class="container">

    <div class="row">
        <div class="col-lg-3">
            <div class="index">
                <ul>
                    <li> 
                        <a href="#Titolo1"> PFAS in Italy: The Past and Current Situation </a> 
                    </li>   
                    <li>
                      <a href="#References"> References </a>
                    </li>          
                </ul>
            </div> 
        </div>

        <div class="col-lg-9 text-container">
          <div class="container-fluid">
            <section id="Titolo1"> 
                
                <h1 class="mb-3">PFAS in Italy: The Past and Current Situation</h1>
                <p>
                  PFAS began to be recognised as a global issue in the 2000s. In 2006, the
                  European PERFORCE project aimed to inspect PFAS levels in European rivers,
                  and the Italian Po River was found to have the highest concentration of PFOA.
                  [1,2] <br><br>
                  The Agency for Environmental Prevention and Protection of the Veneto Region
                  (ARPAV) after further measurements, identified an area covering three provinces
                  (Vicenza, Padova, and Verona) with high levels of PFAS in groundwater,
                  freshwater, and drinking water, putting thousands of inhabitants at risk. [1,2] <br><br>
                  In 2013, it was discovered that the source of contamination was an industrial
                  plant located in Trissino (province of Vicenza) that had been active for more
                  than 50 years. Waste had been released into the environment as there were no
                  specific safety measures and regulations. Following this, activated carbon
                  filters were installed in the area’s water distribution system. [1,2] <br><br>
                  In 2016, PFAS levels were analysed in a sample of people: locals had PFOA
                  levels eight times higher than those of non-exposed individuals. Consequently,
                  in 2017, a Health Surveillance Plan started for citizens in the “red area”.
                  Thousands of people were found to have incredibly high levels of 12 types of
                  PFAS. [1,2] <br><br>
                  The following table shows different PFAS levels and the clinical guidance for
                  patient follow-up after PFAS testing
                </p>
                <div class="images img-thiner">
                  <img src="https://static.igem.wiki/teams/5109/history/history1.png">
                </div>
                <br><br>
                <p>This table, on the other hand, shows the PFAS levels found in 15,720 subjects
                  aged 20–39 years who were analysed. These individuals were recruited through
                  the regional Health Surveillance Program. [3]</p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/history/history2.png">
                </div>
                <br><br>
                <div class="images img-thiner">
                  <img src="https://static.igem.wiki/teams/5109/history/history3.jpg">
                </div>
                <p>Figure – The provinces of Vicenza, Padova, and Verona were divided into three
                  groups, based on contamination levels. These are commonly referred to as the
                  “Red area”, “Orange area”, and “Yellow area”. The “Red area” alone covers an
                  area of 180 km 2. <br><br>
                  In 2018, the plant responsible for the disaster was shut down, and in 2021, the
                  trial against the plant’s managers began and is still ongoing as of 2024,
                  reflecting the gravity of the situation. It is crucial as the contaminated area is
                  expected to expand further due to water mobility, emphasising the need for
                  accountability and remediation [1,2]. <br><br>
                  In 2024, studies confirmed that between 1980 and 2018, 4,000 more deaths
                  than expected occurred in the area (51,621 observed deaths vs. 47,731
                  expected deaths). An increase in mortality from cardiovascular diseases, kidney
                  cancer, and testicular cancer was identified. [4]
                </p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="References">
              <h2 class="mb-3">References</h2>
              <p><i><ol>
                <li>
                  Giglioli S, Colombo L, Azzellino A. Cluster and multivariate analysis to study
                  the diffuse contamination of emerging per- and polyfluoroalkyl substances
                  (PFAS) in the Veneto Region plain (North-eastern Italy). Chemosphere. 2023
                  Apr 1;319:137916.
                </li>
                <li>
                  Menegatto M, Lezzi S, Musolino M, Zamperini A. The Psychological Impact of
                  Per- and Poly-Fluoroalkyl Substances (PFAS) Pollution in the Veneto Region,
                  Italy: A Qualitative Study with Parents. Int J Environ Res Public Health
                  [Internet]. 2022;19(22). Available from: https://www.mdpi.com/1660-
                  4601/19/22/14761
                </li>
                <li>
                  Canova C, Barbieri G, Zare Jeddi M, Gion M, Fabricio A, Daprà F, et al.
                  Associations between perfluoroalkyl substances and lipid profile in a highly
                  exposed young adult population in the Veneto Region. Environ Int. 2020 Dec
                  1;145:106117.
                </li>
                <li>
                  Wackett LP. Why Is the Biodegradation of Polyfluorinated Compounds So
                  Rare? mSphere. 2021 Oct 13;6(5):10.1128/msphere.00721-21.
                </li>
              </ol></i></p>

            </section>
          </div>

            
        </div>

    </div>
</div>

<!-- pre-footer -->

<div class="container-fluid mt-5 mb-5 pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="mb-4">Let's find out more about our project</h2>
      </div>
    </div>
    
    <div class="row mt-3">

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Project</h3>
            <div class="d-flex row-cols-2">
              <div class="icon-text">
                <a href="{{ url_for('pages', page='description') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/description-icon.svg" alt="Description Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='description') }}">
                  <span>Description</span>
                </a>
              </div>
              <div class="icon-text">
                <a href="{{ url_for('pages', page='design') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/design-icon.svg" alt="Design Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='design') }}">
                  <span>Design</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Wet Lab</h3>
    
            <div class="d-flex row-cols-2">
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='experiments') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/lab-steps-icon.svg" alt="Lab steps Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='experiments') }}">
                  <span>Experiments</span>
                </a>
              </div>
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='results') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/results-icon.svg" alt="Results Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='results') }}">
                  <span>Results</span>
                </a>
              </div>
    
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
  

<script src="{{ url_for('static', filename = 'indexscroll.js')}}"></script>



{% endblock %}




