{% extends "layout.html" %}
  
{% block title %}Human practices{% endblock %}

{% block page_content %}

<!-- Header -->
<header class="header-human-practices py-5 mb-5 mt-4">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 fw-bold text-white text-center mb-2">{{ self.title() }}</h1>
          <p class="lead mb-5 text-white-50">{% block lead %}{% endblock %}</p>
        </div>
      </div>
    </div>
</header>

<div class="container">

  <ul class="nav nav-tabs tabs-style nav-justified mx-5" id="myTab" role="tablist">
    <li class="nav-item">
      <button class="nav-link active" id="human-tab" data-bs-toggle="tab" data-bs-target="#human" type="button" role="tab" aria-controls="human" aria-selected="true">Human practices</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" id="integrated-tab" data-bs-toggle="tab" data-bs-target="#integrated" type="button" role="tab" aria-controls="integrated" aria-selected="false">Integrated human practices</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade active show" id="human" role="tabpanel" aria-labelledby="human-tab">

      <div class="container-fluid mt-4 pt-4 position-relative">
        <div class="row container mx-auto gx-3">
    
        
            <div class="col-lg-3">
                <div class="index">
                    <ul>
                        <li> 
                            <a href="#Titolo1"> Collaboration & partnership </a> 
                            <ul class="is-collapsible" id="Titolo1 Titolo1-1 Titolo1-2">
                              <li> 
                                  <a href="#Titolo1-1"> Inside UNIPD </a>
                              </li>
                              <li> 
                                  <a href="#Titolo1-2"> Outside UNIPD </a>
                              </li>
                          </ul>
                        </li>

                        <li>
                            <a href="#Titolo2"> Education </a>
                            <ul class="is-collapsible" id="Titolo2 Titolo2-1 Titolo2-2">
                                <li> 
                                    <a href="#Titolo2-1"> High school </a>
                                </li>
                                <li> 
                                    <a href="#Titolo2-2"> University </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                          <a href="#Titolo3"> Society engagement </a>
                          <ul class="is-collapsible" id="Titolo3 Titolo3-1 Titolo3-2">
                              <li> 
                                  <a href="#Titolo3-1"> Science Outreach </a>
                              </li>
                              <li> 
                                  <a href="#Titolo3-2"> Social Media </a>
                              </li>
                          </ul>
                        </li>
                        <li>
                          <a href="#Titolo4"> iGEM Community </a>
                          <ul class="is-collapsible" id="Titolo4 Titolo4-1 Titolo4-2">
                              <li> 
                                  <a href="#Titolo4-1"> Collaboration with previous iGEM Teams </a>
                              </li>
                              <li> 
                                  <a href="#Titolo4-2"> Current and future iGEM Teams </a>
                              </li>
                          </ul>
                        </li>
                        
                        
                    </ul>
                </div> 
            </div>
    
            <div class="col-lg-9 text-container">

              <div class="container-fluid">
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/human/human1.png">
                </div>
                <section id="Titolo1"> 
                  <h1 class="mb-3">Collaboration & partnership</h1>
                </section>
              </div>
    
              <div class="container-fluid">
                <section id="Titolo1-1">
                    <h2 class="mb-3">Inside UNIPD</h2>
                    <div class="sottoparagrafi">
                      <h4>Expert in Epidemiology</h4>
                      <p>Professor Cristina Canova has worked on many studies carried 
                        out to have a deeper understanding on the effect of PFAS on human’s
                         health.</p>
                      <div class="images">
                        <img src="https://static.igem.wiki/teams/5109/human/human2.png">
                      </div>
                      <p>
                        On the occasion of the event at Pressana, we wanted to give some space 
                        to an expert in epidemiology that worked on the PFAS problem. For this 
                        reason we asked for the participation of professor Cristina Canova and 
                        asked her to open the evening with a presentation of her recent research 
                        on the effects of PFAS. <br>
                        She had a key role in helping us organize the event at Pressana and 
                        also in responding to some of the questions that the public had. <br>
                        For more information on the event mentioned look 
                        <a href="#Titolo3">Society Engagement-Roundtable with Citizens</a>.
                      </p> <br>
                      <h4>Expert in the Neurological Effects of PFAS</h4>
                      <p>
                        In the first stages of our project, we decided to try to have a 
                        global point of view on the problem. For this reason we asked some 
                        professors from our university that work on PFAS to tell us the topic 
                        of their research and how they approach it. <br>
                        We asked Professor Mario Bortolozzi who works at the Veneto Institute 
                        of Molecular Medicine (VIMM) to meet us. On this occasion, we had the 
                        opportunity to visit his lab and have him explain his research as an 
                        expert in the Neurological Effects of PFAS.
                      </p>
                      <div class="images img-smaller">
                        <img src="https://static.igem.wiki/teams/5109/human/human3.jpg">
                      </div> <br>
                      <h4>Experts in the Sociological Impact of PFAS</h4>
                      <p>
                        The decision to undertake a project that takes an active role 
                        in the fight against PFAS contamination stems from the profound 
                        impact this issue has had on our lives and those around us, especially
                         given its strong connection to our local area. This naturally led us 
                         to address the psychological implications it has had on the most 
                         affected communities. <br><br>
                         Our research brought us to the book Cattive acque. Contaminazione 
                         ambientale e comunità violate ("Bad Waters. Environmental Contamination 
                         and Violated communities"), where professors Adriano Zamperini and 
                         Marialuisa Menegatto present their sociological research on the 
                         tangible impact of PFAS on people's lives and their interactions with 
                         authorities and the scientific community. We held an introductory 
                         meeting with the researchers on 19/3/2023, where they expressed 
                         great enthusiasm for our project and offered to assist us in 
                         establishing communication with the public. They provided valuable 
                         advice on how to approach the citizens, emphasizing the importance 
                         of building trust and maintaining transparency, with a clear commitment 
                         to outreach and even involving the community in the project’s design, 
                         taking into account their direct experiences. The importance of helping 
                         citizens understand the scientific principles underlying the project 
                         also emerged. 
                      </p>
                      <div class="images img-smaller">
                        <img src="https://static.igem.wiki/teams/5109/human/human4.jpg">
                      </div> <br>
                      <h4>Expert in Bioethics</h4>
                      <p>
                        Professor Dietelmo Pievani covers the first Italian chair of 
                        Philosophy of Biological Sciences at the Department of Biology 
                        of the University of Padua. He is a renowned science communicator
                        who wrote the introduction to the before mentioned book ‘Cattive acque.
                        Contaminazione ambientale e comunità violate ("Bad Waters. Environmental 
                        Contamination and Violated communities"). <br>
                        We interviewed him, gathering insights into the social impact 
                        of PFAS and how to discuss the issue with different social groups.
                        To share the knowledge we gained, we published the interview on our
                        website and Instagram account. <br>
                        Additionally, the professor suggested organizing a roundtable
                        with the community to foster debate and receive direct feedback on our project.
                        He continued to assist us in planning and organizing the event, 
                        and eventually participated as a moderator, ensuring the smooth 
                        running of the evening (more information on it could be found in
                        <a href="#Titolo3">Society Engagement-Roundtable with Citizens</a>).
                      </p>
                      <h4>Expert in Organic Pollutant Degradation</h4>
                      <p>
                        Professor Ester Marotta's main research activity deals with the use 
                        of non thermal plasma for the degradation of pollutants such as PFAS.
                        We contacted her in the first stages of our project to have an idea
                        of the current state of the art on PFAS degradation and guidance in
                        finding a possible solution. <br>
                        She was enthusiastic and willing to help us from the beginning.
                        We kept in touch with her during all stages of the process, we 
                        exchanged ideas, opinions and views. She also shared with us a 
                        thesis of one of her doctoral students on GAC adsorption and gave
                        us access to her laboratories to test what we found in literature
                        on GAC and AER desorption.
                      </p> <br>
                      <h4>Expert in Biocatalysis</h4>
                      <p>
                        Professor Elisabetta Bergantino is an expert in molecular 
                        biology working at the University of Padua. One of her most 
                        recent works, focused on the use of cyanobacteria as biocatalysts,
                        served as an inspiration and starting point for the design of our
                        project: from this, a possible synergy between the catalytic actions
                        of laccase and dehalogenase was identified and proposed. The
                        professor followed the design phase of our work with great 
                        interest, suggesting experimental approaches and solutions,
                        and assisting us in the design process.
                      </p>
                    </div>
                </section>
              </div>

              <div class="container-fluid">
                <section id="Titolo1-2">
                    <h2 class="mb-3">Outside UNIPD</h2>
                    <div class="sottoparagrafi">
                      <h4>Canadian Start-Up for PFAS Sensors</h4>
                      <p>
                        In the early stages of the project, while we were trying to 
                        conceptualize a well-round project, we understood the importance
                        of a PFAS sensor in a real-case scenario. <br>
                        This tool could be used in multiple steps of an industrial process
                        (as you can easily see in 
                        <a href="https://2024.igem.wiki/Uni-Padua-IT/overview">Plant Design</a>). <br>
                        After a meeting with an UniPD professor, an expert in biosensors,
                        we understood that the creation of a PFAS sensor from the ground
                        up would not be possible in the given time period. <br><br>

                        We therefore looked up if a product like this could be found
                        in the market. <br>
                        We found only a start-up: FREDsense Technologies. It’s a 
                        canadian company, founded after a participation in iGEM 2013,
                        that offers analytical services and it’s currently developing 
                        portable field kits for PFAS detection. <br><br>

                        We decided to contact them and organize a preliminary meeting
                        with CEO David Lyod to talk about our team, our project and
                        their product. <br>
                        It was the beginning of an exchange of information between 
                        us that has given us the opportunity to send them groundwater
                        samples from our region, collected at a Acquevenete’s facility
                        in the so called ‘Red Zone’ (a highly PFAS polluted area).
                      </p>
                      <div class="images img-smaller">
                        <img src="https://static.igem.wiki/teams/5109/human/human5.jpg">
                      </div> <br>
                      <h4>Veneto’s Water Service Provider</h4>
                      <p>
                        To fully understand what has been done since 2013, when the grave
                        problem of PFAS in Veneto was discovered, to find a solution to it 
                        we decided to contact Acquevenete, a water service provider in the 
                        so called ‘Red Zone’ in Veneto (which correspond to the most polluted 
                        one, with a median of 44.2 ng/mL for PFOA alone when it’s known that 
                        when the additive sum of PFAS concentrations in plasma is greater 
                        than 2 ng/L health problems can occur). <br><br>

                        To be able to provide 515.000 residents with clean water 
                        Acquavenete has installed filtration plants that use granular 
                        activated carbons (GAC) filters. <br>
                        Unfortunately this is a downstream solution, which only allows 
                        the problem to be contained. <br>
                        In fact, there are currently no degradation methods for these 
                        pollutants; when an aquifer, from which water is drawn for the 
                        water supply system, is considered polluted you simply stop drawing 
                        from it. But the problem remains. <br>
                        The company has stressed how important the research on this topic 
                        and a contribution like our is. <br><br>

                        We established a partnership with them that has allowed us to get 
                        technical data on their filtration systems. <br>
                        Moreover Acquevenete has given us the opportunity to visit one of 
                        their plants, where we were able to witness the changing of the filters 
                        and collect some GAC samples that we then use in our experiments, and 
                        groundwater samples before and after the filtration stage.
                        We then shipped the latter to FREDsense Technologies for some analysis.
                        Our team believes that a collaboration between the two, now in 
                        communication thanks to us, can be mutually beneficial. In fact, 
                        it would allow a comparison of analytical techniques used by different 
                        organizations and in relation to samples collected from significantly 
                        different territories. <br><br>

                        We are grateful for the willingness shown by both companies, 
                        committed to the common goal of tackling the global problem of PFAS pollution.
                      </p>
                      <div class="images img-smaller">
                        <img src="https://static.igem.wiki/teams/5109/human/human6.jpg">
                      </div><br>
                      <div class="images img-smaller">
                        <img src="https://static.igem.wiki/teams/5109/human/human7.jpg">
                      </div><br>
                      <div class="images img-smaller">
                        <img src="https://static.igem.wiki/teams/5109/human/human8.jpg">
                      </div> <br>
                      <h4>Company Producing PFAS-Free Cookware</h4>
                      <p>
                        Through our researches we learned about an italian company 
                        that sells PFAS-free non-stick pans and kitchenware. <br>
                        We decided to contact the company founder, Rossana Dian, 
                        famous food blogger that has taken the issue of PFAS pollution 
                        to heart, leading her to the creation of the CucinoSano product line. <br>
                        From the beginning she was willing to help us in publicizing 
                        the team and the project through her instagram account, allowing 
                        us to reach her 415k followers. <br>
                        Furthermore she has given us a substantial donation and help us 
                        make our fundraising known.
                      </p> <br>
                      <h4>Activists’ Group Raising PFAS Awareness</h4>
                      <p>
                        Following the advice of social psychology Professors Zamperini and 
                        Menegatto 
                        (<a href="#Titolo1-1">Experts in the Sociological Impact of PFAS</a>), 
                        we reached 
                        out via Facebook to MammeNoPFAS, a group of residents from PFAS-contaminated 
                        areas who have come together to support their community. This network serves 
                        both to exchange practical information on mitigating the health effects of 
                        PFAS contamination and to disseminate scientific knowledge about the chemical 
                        nature and health impacts of these substances. <br><br>

                        We held an introductory meeting on 18/04/2024, with group representatives 
                        Laura Facciolo, Michela Zamboni, and Giuliano Fin. They expressed great 
                        enthusiasm for our work, emphasizing the importance of giving people 
                        hope and showing them that someone is addressing their concerns.
                      </p>
                      <div class="images img-smaller">
                        <img src="https://static.igem.wiki/teams/5109/human/human9.jpg">
                      </div>
                      <div class="images img-smaller">
                        <img src="https://static.igem.wiki/teams/5109/human/human10.jpg">
                      </div> 
                      <p>
                        MammeNoPFAS is a highly active group with numerous connections 
                        to researchers worldwide who have studied potential PFAS degradation 
                        methods. They generously offered to share contacts and data with us. <br>
                        In particular, they helped us arrange a video call with Professor 
                        Philippe Grandjean, a world-widely known expert in environmental 
                        medicine who has focused on raising awareness about the health effects 
                        of PFAS. During this call, the expert provided us with an in-depth 
                        overview of the subject and his research findings, which revealed 
                        that there is no safe minimum threshold for PFAS exposure without 
                        toxic effects on health.
                      </p>
                      <div class="images">
                        <img src="https://static.igem.wiki/teams/5109/human/human11.jpg">
                      </div>
                      <p>
                        Additionally, MammeNoPFAS shared valuable information with us, 
                        such as methods for detecting PFAS in the environment and strategies 
                        for spreading awareness.
                      </p> <br>
                      <h4>Veneto’s Environmental Safety Agency</h4>
                      <p>
                        We had the opportunity to meet with some members of SIAN 
                        (Food Hygiene and Nutrition Service), whose goal is to improve 
                        individual and collective health by ensuring safe and quality food.
                        They told us about a study that they are currently doing by sampling 
                        multiple animal products (such as milk, eggs, meat) from Veneto Red Zone, 
                        the most polluted with PFAS. <br>
                        They are also monitoring farms and ranches in that area that use 
                        groundwater as sources of supply and if they detect a concentration 
                        of PFAS above the recommended limit, they will proceed to shut down 
                        the groundwater supply and seize the products, until they can be 
                        sure that the water used for production is safe, for example by 
                        using aqueduct water.
                      </p>
                    </div>
                </section>
              </div>

              <div class="container-fluid">
                <section id="Titolo2">
                  <h1>Education</h1>
                </section>
              </div>

              <div class="container-fluid">
                <section id="Titolo2-1">
                  <h2>High school</h2>
                  <p>
                    For our team it was very important to share knowledge with 
                    younger students and tell them what’s going on in the science 
                    world. <br>
                    Thanks to some high schools in our territory we were able to 
                    spread information about synthetic biology and PFAS. <br>
                    We visited four high schools and, for a couple of hours, 
                    taught younger students about what OGMs are, what synthetic 
                    biology is, its core concepts (like the DBTL cycle) and what 
                    applications this new field can have.
                  </p>
                  <div class="images img-smaller">
                    <img src="https://static.igem.wiki/teams/5109/human/human12.jpg">
                  </div>
                  <p>
                    We also presented our group and what we want to achieve in our 
                    project about PFAS degradation. <br><br>
                    In order to keep the attention alive, we prepared a powerpoint 
                    presentation to follow but also played some games and did some 
                    activities with the students.
                  </p>
                  <div class="images img-smaller">
                    <img src="https://static.igem.wiki/teams/5109/human/human13.jpg">
                  </div>
                  <p>
                    To better explain the importance of modularity in synthetic 
                    biology, for example, we did an activity based on biobrick 
                    assembly where they had to guess how to correctly manage the 
                    digestion and ligation of a plasmid.
                  </p>
                  <div class="images img-smaller">
                    <img src="https://static.igem.wiki/teams/5109/human/human14.jpg">
                  </div>
                  <p>
                    Kahoot was also an important part of our lessons so that students 
                    could guess with us what PFAS are, where they can be found and why they 
                    are a problem but also if they really know what GMOs are.
                  </p>
                </section>
              </div>

              <div class="container-fluid">
                <section id="Titolo2-2">
                  <h2>University</h2>
                  <div class="sottoparagrafi">
                    <h4>Introduction to Synthetic Biology Principles and Presentation of iGEM</h4>
                    <div class="testo-centrale">
                      <h5>In Classroom:</h5>
                    </div>
                    <p>In addition to talking to high school students, we also felt it was 
                    important to talk to university students. <br>
                    Some professors from different STEM faculties gave us the opportunity 
                    to use part of their lesson to inform students about iGEM and give a brief 
                    introduction to what is synthetic biology, its possible applications and how 
                    it unites different scientific fields. <br>
                    We also used these meetings to make our team known and temp the students to 
                    be part of the 2025 Team. <br><br>
                    We did this in the faculties of medicine, biology (specifically 
                    molecular biology and biotechnologies), engineering (biomedical 
                    engineering and computer engineering) and chemistry.</p>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human15.jpg">
                    </div> <br>
                    <div class="testo-centrale">
                      <h5>In UniPD SynBio Center:</h5>
                    </div>
                    <p>
                      The University of Padua has created a Synthetic Biology Center, 
                      a meeting point for professors and students from different faculties, 
                      STEM and humanities, to allow a deeper collaboration to utilize synthetic 
                      biology to solve current problems. <br>
                      During the inauguration of this center we were given the 
                      opportunity to participate and present us and our project.
                    </p>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human16.jpg">
                    </div>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human17.jpg">
                    </div>
                  </div>
                </section>
              </div>


              <div class="container-fluid">
                <section id="Titolo3">
                  <h1>Society engagement</h1>
                </section>
              </div>

              <div class="container-fluid">
                <section id="Titolo3-1">
                  <h2>Science outreach</h2>
                  <div class="sottoparagrafi">
                    <h4>Science4All: Science Festival</h4>
                    <p>
                      Every year in September, the University of Padova organizes a 
                      science festival where students, professors and researchers can 
                      present their work to the population. <br>
                      For this occasion we prepared some material that could show people 
                      of all ages what it is like to work in the scientific and engineering field. <br>
                      We prepared many agar petri dishes where children could put their 
                      fingers and observe in the following days the growth of different 
                      microorganisms that were on their hand.
                    </p>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human18.jpg">
                    </div>
                    <p>
                      Our university also allowed us to display some OGM plants that 
                      are used for research and some microscopes where people could 
                      observe different leaves and peels. <br>
                      Another main attraction was a game where people would write 
                      their name on a computer and a code would identify the letters 
                      and pick out the corresponding amino acid. The sequence of amino 
                      acids would then create an ideal protein.
                    </p>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human19.jpg">
                    </div>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human20.jpg">
                    </div> <br>
                    <h4>NEXT: Engineering Festival</h4>
                    <p>This year in May our University organized a festival called “NEXT”. 
                    In this occasion, students in STEM had the opportunity to present to 
                    others what they are passionate about or the project they are working on. 
                    This was done in a public space and every group was assigned a space where 
                    they could present their material. <br>
                    Our team participated and presented our iGEM project about PFAS biodegradation. 
                    We decided to talk about the PFAS pollution, ask other students and outside 
                    people what they knew about this problem, but also introduce our solution and 
                    how we approach the topic. <br>
                    In a “show and tell” kind of way, we brought with us a small bioreactor, a 3D 
                    model of a PFAS molecule, a prototype of PFAS sensor, some GAC filters and some 
                    engineered plants given by our professors to represent the genetic engineering 
                    part of our work. These materials were the gateway to people’s curiosity and a 
                    way to break the ice and start a conversation with anybody that was interested 
                    in what we do. <br><br> 
                    We also made a social experiment about the knowledge of the PFAS problem by 
                    asking people to ask some questions and express their answers with some 
                    thread on a poster. With this spaghetti chart, we could have an idea of 
                    what people think and know by just taking a glance.</p>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human21.jpg">
                    </div> <br>
                    <h4>Roundtable with Citizens</h4>
                    <p>
                      Given the impact of the damage caused by PFAS pollution in the Veneto area, 
                      our team thought it would be meaningful to engage in a face-to-face conversation 
                      with people from the most affected areas to hear their fear and concerns .
                      Our team member Laura Acerbi was affected firsthand by the problem and had 
                      to undergo medical screenings to ensure her health. In fact she was kind 
                      of the starting point for our project. <br><br>

                      Thanks to the municipal councilor Adriana Dalmaso, we had the opportunity 
                      to cooperate with the Pressana municipality, a small village of about 2500 
                      inhabitants, Laura included, but only one of the hundreds of villages affected. <br><br>

                      After about 3 months of work on it, on the 18th of July we hosted an 
                      evening event open to the public where we could expose our ideas and 
                      what we are doing to make our project SurPFAS advance but, 
                      most importantly, where we could listen to what people who 
                      lived through the problem had to say. As a matter of fact, 
                      we think that it is important for the scientific world to have 
                      a direct relationship with the population in order to understand 
                      worries and opinions about a bioremediation project like ours and 
                      develop it accordingly. Moreover, this was a good occasion to test 
                      market interest in the solution we are developing. <br><br>

                      The evening had an informative approach and saw the participation 
                      of Professor Dietelmo Pievani (professor of bioethics at UNIPD) and 
                      Professor Cristina Canova (epidemiologist at UNIPD). The event started 
                      with a speech by Professor Canova where she presented some of the 
                      data she collected during her research on the effects of PFAS molecules 
                      on people’s health, then we presented our project, what our goals are 
                      and how we intend on achieving them. At last, we felt it was necessary 
                      to set aside some time to have an active interaction with the public 
                      starting from some questions that we prepared in advance. The smooth 
                      running of the evening took place thanks to the mediation of Professor 
                      Pievani. <br><br>

                      The organization of the event was possible thanks to the 
                      availability of the municipality that believes it is important 
                      to inform the population and thanks to the help of professors 
                      of our University. In particular, Professor Pievani and Professors 
                      Zamperini and Menegatto (Sociology department UNIPD) advised us on 
                      the most effective way to interact with people who were affected by 
                      the problem and they helped us find the correct structure for the event. <br><br>

                      In addition to the population, we had invited some companies who we 
                      collaborated with and Legambiente which is a voluntary organization 
                      who deals with environmental problems in italian regions. Legambiente 
                      Veneto cooperates with other local organizations in the “operazione 
                      fiumi” that is a project that plans to analyze the state of the rivers 
                      in the area and measure, for the first time, the levels of PFAS in the waters. <br><br>

                      Every member of the audience was given a brochure with a brief description 
                      of our project, a list of possible questions that could be asked during 
                      the evening and our contacts. <br>
                      On the back of the brochure there also was a qr code connected to a 
                      questionnaire. This was made to allow people who didn’t have the opportunity 
                      to talk during the event, to tell us their opinion. <br>
                      We received answers from people of all educational levels and backgrounds.
                      One of the questions asked in the questionnaire was about possible 
                      ways, other than degradation, to combat PFAS pollution: 53.1 % of 
                      those who took part in the survey believed that the problem should 
                      be dealt with directly at source, by banning the sale of products 
                      containing these molecules and possibly finding environmentally 
                      sustainable alternatives. On the contrary, 31.3 % of the remainder 
                      believe it is necessary to find a methodology to remove PFAS already 
                      present in the bloodstream.
                    </p>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human22-new.png">
                    </div> <br>
                    <p>
                      We also asked whether the presence of genetically modified 
                      organisms (Escherichia coli) within a degradation process 
                      such as the one we hypothesized would cause any kind of concern: 
                      90.6 % of respondents did not feel particularly worried since they 
                      will be within a closed environment such as a bioreactor. <br>
                      In this regard, however, someone emphasized the need to clearly 
                      inform the population about what happens and how in a process in 
                      which genetically modified organisms are present.
                    </p>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human23-new.png">
                    </div> <br>
                    <p>
                      People who took part in the survey believe that PFAS removal 
                      is most urgent on water matrices, with priority being given to 
                      industrial wastewater (40.6%) and groundwater (31.3%).  Household 
                      water treatment is perceived as less of a priority. <br>
                      None of the participants considered it necessary to work primarily on air. 
                      However, several people asserted the need to work on all matrices 
                      at the same time. <br>
                      Thus, it appears that those interviewed believe that the removal of 
                      PFAS should start with the cleaning of aqueous matrices, such as groundwater. 
                      After that, the study should move on to wastewater from industrial 
                      plants and finally move on to soils receiving such water and the air 
                      surrounding industrial plants. <br>
                      This information therefore allows us to confirm our choice of matrix 
                      and identify future research steps.
                    </p>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human24-new.png">
                    </div> <br>
                    <p>
                      As a last question on the survey we asked what weaknesses 
                      could they find in our project in order to change our path 
                      and fortify them. <br>
                      Many people have emphasized the importance of having a project 
                      that could be economically sustainable so that it could be realized 
                      in the real world. This led us to create a strong business plan 
                      that can be found in 
                      <a href="https://2024.igem.wiki/Uni-Padua-IT/entrepreneurship">Business Plan</a>.
                    </p>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human25.jpg">
                    </div> <br>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human26.jpg">
                    </div> <br>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human27.jpg">
                    </div> <br>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human28.jpg">
                    </div> <br>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human29.jpg">
                    </div> <br>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human30.jpg">
                    </div> <br>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human31.jpg">
                    </div> <br>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human32.jpg">
                    </div> <br>
                    <h4>Local research projects on PFAS contamination</h4>
                    <p>
                      Following our educational event in Pressana (for more information 
                      visit <a href="#Titolo3">Society engagement</a>- Roundtable with Citizens) 
                      we were invited to talk about PFAS pollution in Veneto and to propose surPFAS solution 
                      in Cologna Veneta, another town in the most polluted area in the region. <br>
                      The event was organized with the aim of giving young people a space to 
                      present their research in the field of PFAS pollution control and to 
                      inform the citizens affected by this issue about the attempts of the 
                      scientific community in trying to develop a solution. <br>
                      This occasion was well accepted by the population, enthusiastic about 
                      the surPFAS project as they saw it as a concrete answer to the problem.
                    </p>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human33.jpg">
                    </div> <br>
                    <h4>Let’s talk science: podcast of Promega Italia</h4>
                    <p>
                      In January, we were contacted by Giacomo Grisafi, Digital Marketing 
                      Specialist for Promega Italy, who asked us to participate in an episode 
                      of Promega’s ‘’Let’s Talk Science’’, a podcast hosted by Giuseppe Mancuso 
                      where researchers have the opportunity to describe their work and field 
                      of research to a wide audience. <br>
                      We took this opportunity to talk about what iGEM is, describing both 
                      P.A.S.T.A. (the project of the 2023 iGEM team of our university), 
                      and the first stages of SurPFAS. <br>
                      In addition to that, we explained the problem of water contamination 
                      caused by PFAS, hoping to spread information about this extremely worrying topic.
                      We also discussed the future of synthetic biology at our university. 
                      This science branch is attracting more and more interest in Padua 
                      thanks to the recent creation of the Synthetic Biology center, that 
                      has the goal of creating new synergies between different departments.
                    </p>
                    <div class="images">
                      <img src="https://static.igem.wiki/teams/5109/human/human34.png">
                    </div> <br>
                    <div class="images">
                      <img src="https://static.igem.wiki/teams/5109/human/human35.png">
                    </div> <br>
                    <h4>Participation in FOSAN conference on PFAS</h4>
                    <p>
                      Through MammeNoPFAS ( we had the possibility to attend, as part 
                      of the audience, one day of a 2-day PFAS conference organized by 
                      ‘Osservatorio PFAS’, run by FOSAN (a Research Organization for the 
                      Study of Food and Nutrition), on the risk assessment in the 
                      agribusiness supply chain from primary production to packaging. 
                      During the event we had the honor of hearing from experts on the 
                      epidemiological aspects of PFAS, focusing on their toxicity and 
                      related environmental pollution. We also covered in depth what are 
                      the clinical manifestations associated with these molecules 
                      (endocrine disruption, maternal-fetal alterations, male and 
                      female fertility, metabolic alterations, and related cancers).
                      On of the speaker was a colleague of Prof. Cristina Canova, 
                      from the University of Padova, who presented her work, which 
                      we found extremely interesting, leading us to contact her from 
                      the roundtable with the citizens organized by us (for more 
                      information on her and the event visit 
                      <a href="#Titolo1">Collaboration & Partnership </a>
                      - Expert in Epidemiology and 
                      <a href="#Titolo3">Society Engagement </a>- Roundtable with Citizens).
                    </p>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human36.jpg">
                    </div> <br>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human37.jpg">
                    </div> <br>
                  </div>
                </section>
              </div>

              <div class="container-fluid">
                <section id="Titolo3-2">
                  <h2>Social Media</h2>
                  <div class="sottoparagrafi">
                    <h4>Our Instagram Account and Website</h4>
                    <p>
                      Our Instagram account is our primary outreach platform, 
                      exploiting the fast and direct communication through social 
                      media for scientific dissemination. By posting content in 
                      both Italian and English, we aim to engage and educate a 
                      wider audience. We regularly share "science pills" that 
                      break down complex aspects of PFAS contamination into 
                      simple and accessible language. We cover topics like 
                      the history of PFAS, the chemical nature of these substances, 
                      and highlight special insight on our work; by doing so, and 
                      also by sharing some information about ourselves, we want to 
                      engage the population in our project. <br><br>
                      In addition to Instagram, our website serves as a more 
                      comprehensive platform where we expand on the information 
                      shared on social media. Here, visitors can find detailed 
                      articles and interviews with PFAS experts, providing an 
                      in-depth understanding of the issue.
                    </p>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human38.jpg">
                    </div> <br>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human39.jpg">
                    </div> <br>
                    <h4>Collaboration with Influencers</h4>
                    <p>
                      Our collaboration with influencer Rossana Dian (@cucinosano) 
                      has been instrumental in promoting our Instagram account, 
                      allowing us to reach a broader audience, particularly in 
                      our local area. This partnership has generated significant 
                      positive feedback on our project through direct messages.
                    </p>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human40.jpg">
                    </div> <br>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human41.jpg">
                    </div> <br>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human42.jpg">
                    </div> <br>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human43.jpg">
                    </div> <br>
                    <h4>Local Newspapers</h4>
                    <p>
                      Aware of the local impact of our project, we involved 
                      from the beginning citizens into our project, to promote 
                      and exchange of ideas. Local newspapers were amazed by 
                      this enthusiasm and further helped us promoting SurPFAS. 
                      In the articles PadovaOggi and Il Gazzettino wrote, we 
                      had the opportunity to share our GoFundMe campaign: the 
                      financial support received was crucial for permitting us 
                      to participate to iGEM and also made us aware of the impact 
                      we were having on local communities.
                    </p>
                    <div class="images">
                      <img src="https://static.igem.wiki/teams/5109/human/human44.jpg">
                    </div> <br>
                    <div class="images">
                      <img src="https://static.igem.wiki/teams/5109/human/human45.jpg">
                    </div> <br>
                  </div>
                </section>
              </div>

              <div class="container-fluid">
                <section id="Titolo4">
                  <h1>iGEM community</h1>
                </section>
              </div>

              <div class="container-fluid">
                <section id="Titolo4-1">
                  <h2>Collaboration with previous iGEM Teams</h2>
                  <div class="sottoparagrafi">
                    <h4>FREDsense Technologies</h4>
                    <p>
                      During the past few months we had the opportunity to collaborate 
                      with FREDsense Technologies, a canadian company that offers analytical 
                      services and it’s currently developing portable field kits for PFAS detection. <br><br>
                      This start-up was founded after a participation in iGEM 2013. <br><br>
                      They have given us a few tips on what to focus on for competition and technical support. <br>
                      In fact, they provided us with information on their sensor, which is under 
                      development, and analytical tests on a sample of water from our territories. <br>
                      For more information on this visit 
                      <a href="#Titolo1">Collaboration & Partnership </a>
                      - Canadian Start-Up for PFAS Sensors
                    </p>
                    <h4>PASTA</h4>
                    <p>
                      The iGEM 2023 team from the University of Padova has given us 
                      substantial support from the beginning.
                      They were the spark that led to the creation of the 2023 Team, 
                      the first italian group to participate in iGEM since 2017. They 
                      also were the one that inspire the individual components of our 
                      current team and make us aware of the experience offered by the 
                      iGEM Community.
                      They also have given us precious advice and suggestions on how 
                      to set up the project, the website and the events with the public.
                      Last September they involved us in managing their stand in the 
                      Science4All event (for more information about that look 
                      <a href="#Titolo3">Society Engagement </a> 
                      - Science4All: Science Festival), allowing us to have our 
                      first experience with the public.
                    </p>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human46.jpg">
                    </div> <br>
                    <h4>iGEM Mentorship Programme</h4>
                    <p>
                      In May we applied for the iGEM Mentorship Programme, created with 
                      the goal of bringing new teams and alumni together, and enabling 
                      everyone to meet their targets for iGEM 2024. 
                      We were matched, by the iGEM Community with Kavya Prathap Kumar. <br><br>
                      She has been a source of advice from the beginning and her 
                      passion and her strong desire to help us left us speechless. <br>
                      We are really grateful for her involvement in our project. <br><br>
                      She has given us feedback on our short video and on how to 
                      present the general idea of surPFAS, she helped us keep up 
                      with iGEM deadlines and make sure to have everything ready for when needed.
                    </p>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/foto-kavya.jpg">
                    </div>                      
                    
                  </div>
                </section>
              </div>

              <div class="container-fluid">
                <section id="Titolo4-2">
                  <h2>Current and future iGEM Teams</h2>
                  <div class="sottoparagrafi">
                    <h4>Mini Jamboree in Toulouse</h4>
                    <p>
                      This summer we took part in the European Mini-Jamboree organized 
                      by the Toulouse iGEM team. We were invited to spend two days in 
                      Toulouse, where the students of the home team had planned several 
                      activities for us, allowing us to get in touch with students from 
                      10 other Igem teams, exchange ideas and warm up before the Grand Jamboree. <br>
                      It was an exceptional opportunity to further improve our project. <br><br>

                      Each invited team exhibited a poster and presented their project 
                      in 15 minutes live talk in front of students, professors and iGEM judges. <br>
                      The feedback we received was incredibly valuable, helping us 
                      understand our work's strengths and weaknesses and giving us 
                      important guidance on how to best prepare the exposition to the public. <br>
                      In particular, we were suggested to consider the implementation 
                      of our system also within an industrial context, in addition to 
                      groundwater, as a PFAS-purification method in wastewater. This 
                      made us reflect upon the future prospects of our project, and 
                      the possibility of expanding our system to new applications. 
                      With this in mind, we decided to also conduct growth test on 
                      Escherichia coli in a wastewater matrix, check out the results 
                      in our 
                      <a href="https://2024.igem.wiki/Uni-Padua-IT/model">Model page</a>. <br><br>

                      In addition to this, we had a great exchange of knowledge and 
                      ideas with the other groups not only during the official 
                      presentations but throughout our entire stay, which led 
                      to improvement in our working approaches and provided us 
                      with new ideas to continue our iGEM experience in the best 
                      possible way. <br><br>

                      We thank the Toulouse iGEM team for their efforts and 
                      generosity in organizing this wonderful event, and all the 
                      participants for being part of such a memorable experience.
                    </p>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human47.jpg">
                    </div> <br>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human48.jpg">
                    </div> <br>
                    <h4>Online Mini Jamboree with Michigan Team</h4>
                    <p>
                      On the 22nd of September we attended an online symposium, 
                      organized by the Michigan iGEM team, where eleven iGEM teams, 
                      working on projects focused on bioremediation, were present. 
                      During this Mini Jamboree it was possible to share our projects 
                      with each other, our perspectives on the different issues and 
                      give each other feedback before the Jamboree in Paris. The 
                      experience as a whole was very comforting, as we shared 
                      the various difficulties we encountered during this year 
                      and listened to the solutions and helpful advice offered. 
                      It was very interesting to see what each team's selling 
                      point was and how they were able to present it in such a 
                      masterful way, it was also a wonderful thing to know that 
                      people out there are as invested in the environment’s health as we are.
                    </p>
                    <div class="images">
                      <img src="https://static.igem.wiki/teams/5109/human/human49.png">
                    </div> <br>
                    <h4>Meetup with Pisa-IT Team</h4>
                    <p>
                      After more than 10 years, two different Italian iGEM teams 
                      participate during the same year at the competition: when 
                      finding this out, we immediately thought it could be extremely 
                      enriching meeting up and discussing our shared experience, 
                      coming from a similar background. When we met in person at 
                      the Mini Jamboree in Toulouse, the Pisa-IT team was very 
                      enthusiastic at the idea of getting together again in Italy, 
                      and so we reconnected a few weeks later via texts and we 
                      started to organize a new meet-up. During this meet-up, which 
                      will take place at Padua the 11th of October,  we plan to 
                      present our iGEM project during a mock-up presentation and 
                      judging session, where a few iGEM judges will be present 
                      thanks to the help of our secondary PI. Next, a brief Q&A with 
                      the members of the iGEM 2023 team will take place, where we 
                      will talk about their experience at the Jamboree: it will be 
                      the perfect opportunity for both our teams to prepare ourselves 
                      as best we can for the final presentation in Paris. After 
                      the hard work is done, we will have lunch together and visit 
                      the city of Padua in the afternoon, including a tour into 
                      the famous Orto Botanico of Padua, since the project of the 
                      Pisa-IT team revolves around plants health and we’re sure 
                      they will appreciate the tour very much.
                    </p>
                    <h4>Participation in iGEM Startup Summer School</h4>
                    <p>
                      On July 20th and 21st, a member of our team participated in the 
                      iGEM Startups Summer School, a congress organized by iGEM to 
                      prepare and guide students in drafting the wiki to be competitive 
                      for the Best Entrepreneurship Prize. During these sessions, the 
                      evaluation criteria were presented, along with the key elements 
                      that need to be included in the wiki. <br><br> 
                      The presentations helped us understand the areas to focus 
                      on and the concepts to outline in order to become a startup, 
                      both from a research and development perspective as well as an economic one. <br><br>
                      We truly appreciated this initiative by iGEM, which guided and motivated 
                      us to further explore the practical application aspect. This way, our 
                      project will not just remain in the realm of research but will have 
                      real-world applications, helping the community.
                    </p>
                    <div class="images">
                      <img src="https://static.igem.wiki/teams/5109/human/human50.jpg">
                    </div> <br>
                    <h4>Recruitment for the 2025 Team</h4>
                    <p>
                      A few professors from different STEM faculties gave us the opportunity 
                      to use part of their lesson to inform students about iGEM and give a 
                      brief introduction on what synthetic biology is. <br>
                      We also used these meetings to make our team known and encourage STEM 
                      students to be part of the 2025 Team. <br><br>

                      We talked with students enrolled in Medicine, Biology (specifically 
                      with the one from molecular biology and biotechnology), Biomedical 
                      Engineering, Software engineering and Chemistry. <br><br>

                      After this we organize a meeting for those who were interested 
                      or curious on what we do. On this occasion we talked in more 
                      detail about what a participation in the iGEM competition entails. 
                      We encountered a high level of participation from those present, 
                      who asked many questions on the topic. <br><br>

                      We then held a round of interviews with the ones that expressed 
                      their willingness to participate in the future 2025 team. <br><br>

                      Of the 40 young people who applied we had to, reluctantly, only choose 15. <br><br>

                      To end the recruitment process on a fun note we organized a 
                      happy hour with the Mutans team 2023, 2024 and 2025 of the 
                      University of Padua, thus launching the future team with 
                      the value of cohesion between past and future teams. <br><br>
                    </p>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human51.png">
                    </div> <br>
                    <div class="images img-smaller">
                      <img src="https://static.igem.wiki/teams/5109/human/human52.jpg">
                    </div>
                  </div>
                </section>
              </div>
                
            </div>       
          
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="integrated" role="tabpanel" aria-labelledby="integrated-tab">

      <div class="container-fluid mt-4 pt-4 position-relative">
        <div class="row container mx-auto gx-3">

          <div class="col-lg-3">
            <div class="index">
                <ul>
                    <li>
                        <a href="#TitoloInt1"> Overview </a>
                        <ul class="is-collapsible" id="TitoloInt1 TitoloInt1-1 TitoloInt1-2 TitoloInt1-3 TitoloInt1-4">
                            <li> 
                              <a href="#TitoloInt1-1"> Subject matter of the research </a>
                            </li>
                            <li> 
                              <a href="#TitoloInt1-2"> Sensors </a>
                            </li>
                            <li> 
                              <a href="#TitoloInt1-3"> Filters </a>
                          </li>
                          <li> 
                              <a href="#TitoloInt1-4"> Wet lab </a>
                          </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#TitoloInt2"> Future development </a>
                    </li>
                    <li>
                      <a href="#TitoloInt3"> References </a>
                    </li>   
                </ul>
            </div> 
          </div>

          <div class="col-lg-9 text-container">

            <div class="container-fluid">
              <section id="TitoloInt1">
                <h1>Overview</h1>
                <p>
                  It was May 2023, when Laura, our team member, received a letter which 
                  convened her for a control of PFAS concentration in her blood as part 
                  of an epidemiological programme for those from the so called ‘Red Zone’ 
                  (a highly PFAS polluted area in our region Veneto); this was the second 
                  screening control for PFAS levels in people living in her hometown, one 
                  of the most affected worldwide by this contamination. She found out her 
                  PFAS levels were several times higher than the maximum level stipulated. <br>
                  Deeply touched by this fact and this problem that had been going on for so 
                  many years, she began to inquire about the current treatment of the problem.
                  Conversing with other colleagues from different university faculties, such 
                  as Physics and Engineering, she found that the remediation methods in place 
                  were reductive and did not lead to a real degradation of the compounds. <br><br>

                  This notion was stuck in her mind for months, so when the time of 
                  deciding the topic of research for our team came she had an idea. <br>
                  She decided to look up ‘PFAS bacteria’ on NCBI, and from there she 
                  discovered a world: a world of research and attempts at biodegradation. 
                  She knew what our team had to focus on: PFAS. <br><br>

                  We set out to find experts who could help us look into the matter. 
                  We got a lot of feedback, as the issue is very much related to our 
                  area, even in our University. <br>
                  Prof. Bergantino's help was particularly interesting since she had 
                  already worked on the study of a bacterial species used as a biocatalytic 
                  system for PFAS degradation. <br><br>

                  We also contacted local companies, such as AcqueVenete, a water service 
                  provider in our region (for more information visit 
                  <a href="#Titolo1">Collaboration & Partnership</a> 
                  - Veneto’s Drinking Water Provider), to better understand the technologies 
                  used for the treatment of these pollutants. <br><br>

                  From all of this we realized that the current situation presentes many 
                  problematic points so we decided to attack the PFAS problem from several 
                  fronts (from the filtering systems to PFAS degradation, also implementing 
                  a way to analyze the efficiency of the entire system). 
                  We also understood that PFAS contamination had long been ignored and 
                  underestimated, even by part of the public, despite the lively activism 
                  of some citizens. <br>
                  We therefore decided to embark on a very big project, perhaps bigger than 
                  ourselves, with the intention of publicizing and raising awareness of 
                  the problem too. 
                  Consequently an integral part of our project has been the continuous 
                  contact and confrontation with experts and citizens, such as 
                  MammeNoPFAS (for more information visit 
                  <a href="#Titolo1">Collaboration & Partnership</a>  
                  - Activists’ Group Raising PFAS Awareness) and the locals from the 
                  Red Zone (for more information visit 
                  <a href="#Titolo3">Society Engagement</a>). <br>
                  Through the meetings held with companies and citizens we also got a 
                  360-degree view of the problem and an idea of what the needs and 
                  fears of these communities are. This aspect was enormously 
                  important to us as one of the core values of our team is to 
                  develop a project with always the population affected in mind. <br>
                  For example these encounters confirmed our idea of focusing on 
                  2 types of PFAS (PFOA and PFOS), but they made us grasp the 
                  importance of also considering PFBA. In addition these meetings 
                  led us to modify the matrix of study. We had started out by 
                  considering industrial wastewater, but these meetings helped 
                  us realize that priority should be given to groundwater, while 
                  keeping industrial water as the next area of research.
                </p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/integrated/integrated1.png">
                </div>
              </section>
            </div>

            <div class="container-fluid">
              <section id="TitoloInt1-1">
                <h2>Subject matter of the research</h2>
                <p>
                  An important part of the project is the identification of the 
                  specific PFAS molecules of interest and the matrix on which we 
                  want to focus on.
                </p>
                <div class="sottoparagrafi">
                  <h4>PFAS</h4>
                  <p>
                    We started by focusing on PFOA and PFOS: the types of PFAS most 
                    studied, toxic and present in the environment. <br>
                    Thanks to the meeting with Acquevenete (for more information visit 
                    <a href="#Titolo1">Collaboration & Partnership</a> 
                    - Veneto’s Drinking Water Provider) we understood the importance of 
                    considering PFBA too. This molecule is crucial for a real application 
                    of surPFAS as it’s currently use as a warning sign of the saturation 
                    of the filters: when water service providers detect PFBA in the water 
                    exiting the filters they know that GAC (the adsorbent currently used 
                    in PFAS filters, for more information about it visit 
                    <a href="https://2024.igem.wiki/Uni-Padua-IT/filters">Plant Design - Filters</a>
                    ) has reached its PFAS sorption capacity and it must be 
                    removed and replaced with clean GAC or the treatment system will 
                    not remain effective. <br>
                    After receiving this information we decided to add PFBA to the 
                    list of molecules investigated in all the modules of the project, 
                    starting with the Escherichia coli growth test. <br><br>

                    In May we had the honor to talk with Dr. Philippe Grandjean, 
                    one of the world's leading experts on the adverse health effects 
                    that are linked to the PFAS exposure. <br>
                    He endorsed our decision to undertake research into a chemical-biological 
                    methodology for the treatment of PFAS, being this the most promising way.
                    He also explained to us how the PFAS problem is becoming more and more 
                    ‘insistent’, given the creation of new molecules (Gen X) whose environmental 
                    and health impact has not been studied in detail prior to their use 
                    and dissemination. <br>
                    Nevertheless he supported our choice of focusing on PFOA and PFOS, 
                    ‘the old generation ones’, ‘because they are better characterized, 
                    already in the environment, bigger and more difficult to degrade’. <br>
                    This meeting was also useful for us because it allowed us to get a 
                    broad picture of the human health issues due to PFOA and PFOS exposure. <br>
                    In the same month, we also participated in a conference organized 
                    by the FOSAN association on the effects of PFAS exposure 
                    (for more information visit 
                    <a href="#Titolo3">Society engagement</a>
                    ), providing an even deeper understanding of the impact of 
                    these pollutants on human health. <br><br>

                    Moreover, thanks to the analysis carried out by FREDsense 
                    Technologies on groundwater samples collected at an Acquevenete plant 
                    in the so-called ‘Red Zone’, we were able to confirm the high presence 
                    of this PFAS in our region.
                  </p>
                  <div class="images img-thiner">
                    <img src="https://static.igem.wiki/teams/5109/integrated/integrated2.jpg">
                  </div> <br>
                  <p>
                    This feedback led all modules in our project to consider PFOA, 
                    PFOS and PFBA, starting with the analysis of the survival of our 
                    reference organism (Escherichia coli) in the presence of these 
                    pollutants (for more information visit 
                    <a href="https://2024.igem.wiki/Uni-Padua-IT/experiments">Experiments - growth test</a>
                    ).
                  </p> <br>
                  <h4>Matrix</h4>
                  <p>
                    Our initial idea was to focus on the study of industrial wastewater, 
                    being them a source of PFAS pollution and diffusion. <br>
                    A meeting with Acquevenete (a water service provider), however, 
                    led us to turn our attention to groundwater. In fact, this company 
                    explained to us that the only ways they were able to deal with the 
                    PFAS crisis in the Veneto region were to use absorbent filters for 
                    these pollutants and to replace the groundwater used for the water 
                    supply, so that it would be ‘clean’. However, it is currently impossible 
                    to recover contaminated groundwater because there are no methods for 
                    degrading PFAS and thus cleaning up these sites. Moreover, these sites 
                    contain higher and ‘constant’ concentrations of these pollutants over 
                    time than those found in river water. <br>
                    However, as emerged from the opinions of the participants of the Mini 
                    Jamboree held in Toulouse (for more information visit 
                    <a href="#Titolo4">iGEM Community</a>
                    ) 
                    and the meeting with the residents of the Red Zone in Pressana (for more 
                    information visit 
                    <a href="#Titolo3">Society engagement</a>
                    ), it is also important to 
                    keep in mind the need to find a solution to industrial wastewater. <br>
                    Specifically, through a questionnaire submitted to the latter, 
                    we found that people who participated in the survey believe that 
                    PFAS removal is most urgent on water matrices: of these, priority 
                    is given to industrial wastewater (40.6%) and groundwater (31.1%); 
                    household water treatment is perceived as less of a priority. 
                    However, several people supported the need to work on all 
                    matrices at the same time.
                  </p>
                  <div class="images">
                    <img src="https://static.igem.wiki/teams/5109/integrated/integrated3-new.png">
                  </div> <br>
                  <p>
                    Thus, the respondents believe that PFAS removal should start with 
                    the cleaning of aqueous matrices, such as groundwater; after that, 
                    the study should move on to wastewater from industrial plants and 
                    finally move on to soils receiving such water and the air surrounding 
                    industrial plants. <br>
                    This information therefore allowed us to confirm our choice of matrix 
                    and identify future research steps. <br>
                    Furthermore, from a meeting held with MammeNoPFAS, we identified another 
                    possible future study matrix: animal products.  <br><br>

                    Our team agrees that the next study matrix should be industrial wastewater. 
                    For this reason, we performed some tests on the growth of Escherichia 
                    coli in a matrix similar to such wastewater.
                  </p>
                </div>
              </section>
            </div>

            <div class="container-fluid">
              <section id="TitoloInt1-2">
                <h2>Sensors</h2>
                <p>
                  Part of our project focuses on developing a detection method for PFAS 
                  in water matrix that can give results easily, rapidly and in loco, as 
                  opposed to the ones based on sampling and laboratory analysis. <br><br>

                  We started by searching which PFAS sensors could be found on the 
                  market and came across FREDsense Technologies, a start-up company 
                  currently developing portable field kits for PFAS detection. We 
                  contacted them and arranged a meeting with their CEO. <br>
                  From this meeting we realized that there is still a long way to go 
                  until a sensor capable of detecting PFAS accurately and even at low 
                  concentrations is developed so we decided we wanted to do our part in 
                  finding an alternative. <br><br>

                  For this reason we decided to conceive a sensor based on RAMAN-SERS 
                  technique (for more information visit 
                  <a href="https://2024.igem.wiki/Uni-Padua-IT/sensor">Plant Design - Sensors</a>
                  ). <br>
                  We started by focusing on PFOA, then move on to PFOS and PFBA once we 
                  saw the results obtained from the collaboration with FREDsense Technologies 
                  and Acquevenete (FREDsense Technologies carried out analysis on groundwater 
                  samples collected at an Acquevenete plant in the so-called ‘Red Zone’ in our 
                  region) where the high presence of these molecules is evident. <br><br>

                  During the first stages of project design we also took into account the 
                  possibility of creating a sensor capable of measuring PFAS level in the 
                  blood but we quickly realized it would be difficult to work with this 
                  type of matrix.
                </p>
              </section>
            </div>

            <div class="container-fluid">
              <section id="TitoloInt1-3">
                <h2>Filters</h2>
                <p>
                  The first step in our project concerns a way to collect PFAS from an aqueous 
                  matrix to be then degraded. <br>
                  We started by looking into the current methods used to do this and came 
                  across granular activated carbon filters (GAC), currently used by water 
                  service providers such as Acquevenete, as explained to us during our 
                  first meeting with them. <br>
                  After a meetup with Prof. Ester Marotta, we started to consider ion 
                  exchange resins as an alternative adsorbent to GAC. <br><br>

                  Then there was the problem of how to detach the pollutants from the 
                  filters. During our meeting with Acquevenete, we were told filters 
                  are currently reactivated through thermal processes in which the 
                  saturated adsorbent is exposed to high temperatures in order to 
                  ‘destroy’ PFAS molecules; in the scientific literature it is 
                  possible to find multiple studies stating that this type of treatment 
                  needs to be investigated further because it appears that it could lead 
                  to the emission of volatile and mobile products and harmful compounds. [1] <br> 
                  This notion led us to research other possible procedures to regenerate 
                  saturated filters; we came to the decision to study the chemical desorption 
                  of PFAS filters, through the use of specific solutions. This choice was 
                  endorsed by Prof. Philippe Grandjean during the online call we had with 
                  him and MammeNoPFAS. <br><br>

                  Thanks to the collaboration with Acquevenete, in addition to the various 
                  information received on their filtration system and the adsorbent used, 
                  we were able to obtain groundwater and GAC samples: the former were sent 
                  to FREDsense to be analyzed, the latter were used for desorption experiments. <br><br>

                  The desorption solutions we tested were chosen after a literature review 
                  and a meeting with Prof. Ester Marotta, in particular for GAC we used 
                  organic solutions with methanol or ethanol and MilliQ water. We then 
                  scaled up the volumes used in the lab to full-size systems, such as 
                  the one used by Acquevenete, and found it would not be economically 
                  feasible, but in doing so we didn’t realize on thing: a filtration 
                  system would not use MilliQ but tap water, which would significantly 
                  reduce costs. This was pointed out to us by our iGEM Mentor Kavya Prathap Kumar. <br><br>

                  In the early design stages of filter regeneration, we thought about 
                  functionalizing the adsorbent surface, but then there would be a biosafety 
                  problem due to the possible detachment of microorganisms from the surface.
                </p>
              </section>
            </div>

            <div class="container-fluid">
              <section id="TitoloInt1-4">
                <h2>Wet lab</h2>
                <p>
                  Having identified a biocatalytic system as the best prospect for 
                  PFAS degradation, we began with an in-depth literature review to investigate 
                  currently employed methods. We were fortunate to find an article by Prof. Bergantino, 
                  in which she studied a possible degradative approach to PFAS; we immediately sought 
                  contact and support from the professor, who showed immediate willingness to engage 
                  in discussion. In selecting our project, we first conducted a state-of-the-art 
                  review on PFAS biodegradation. Our research aimed to find microorganisms proposed 
                  to have biodegradative activity on PFAS; using these as a starting point, we 
                  identified possible ways to implement them in the project: optimizing the organism 
                  itself for more efficient degradation or selecting specific degradative enzymes, 
                  using them either in a cell-free system or expressing them in a model organism. <br><br>

                  The choice most suitable for us was the expression in Escherichia coli of enzymes 
                  identified for PFAS degradation in microorganisms that the literature identifies 
                  as the best performers. However, the Achilles' heel of microbial PFAS biodegradation 
                  lies in their incomplete elimination: it can produce shorter-chain compounds that are 
                  still polyfluorinated and therefore persistent in the environment. Faced with this 
                  apparent partial degradation action, Prof. Bergantino advised us to consider promoting 
                  a synergistic action between enzymes; she herself had conducted a biocatalysis study 
                  on PFAS, suggesting that two enzymes, particularly laccases and dehalogenases, could 
                  have complementary action on PFAS. We therefore thought of implementing different 
                  microorganisms in the same system, co-culturing them in a bioreactor, trying to 
                  "attack PFAS with all the ammunition at our disposal". However, selecting organisms 
                  for the consortium and establishing ideal co-culture conditions represented too lengthy 
                  a task given our limited time: we decided to focus only on laccases and dehalogenases, 
                  betting on their complementary mechanism of action. <br><br>

                  Another issue we considered concerned the permeability of intermediate products 
                  from the catalytic actions of laccases and dehalogenases on PFAS. Previously, 
                  these had not been precisely defined, let alone their membrane permeability. 
                  Among possible solutions, we considered co-expressing the two enzymes in the 
                  same microorganism, or conducting a study on possible transporters that could 
                  facilitate the passage of reaction intermediates in and out of the cell. In a 
                  further meeting with Prof. Bergantino, she expressed concern about excessive 
                  metabolic load for the first alternative, while identifying the second as too 
                  lengthy a task. Instead, she proposed using a surface expression approach, 
                  particularly engineering two different strains of Escherichia coli to express 
                  either laccase or dehalogenase, anchored on their surface. <br><br>

                  Once we opted for this strategy, we began researching display systems that 
                  had previously shown the best results under conditions similar to ours. While 
                  we were setting up our design, Prof. Bergantino finally advised us to use an 
                  inducible expression system, given the metabolic load we would subject the 
                  enzyme host to. We therefore decided to implement the pTac promoter in the 
                  expression cassettes we designed, which is inducible with IPTG.
                </p>
              </section>
            </div>

            <div class="container-fluid">
              <section id="TitoloInt2">
                <h1>Future development</h1>
                <p>
                  The PFAS problem is very complex but we believe that our 
                  contribution can be ‘a shining beacon that lights the path 
                  to a solution’, as our project was described by a citizen 
                  present at our roundtable with the population. <br>
                  We do know that there is a long way ahead of us but 
                  also know what needs to be done. Future investigations 
                  should focus on: <br>
                  <ul>
                    <li>other possible solutions for GAC and resins desorption</li>
                    <li>new generations of PFAS (as said by Prof. Grandjean)</li>
                    <li>other matrices, starting from industrial wastewater 
                      (as said during the Mini Jamboree in Toulouse and the 
                      roundtable with citizens) and then moving to soil, air and animal products</li>
                  </ul> 
                  During our various meetings, such as the Mini Jamboree in Toulouse 
                  and the roundtable with citizens from a highly PFAS-polluted area 
                  in Veneto (for more information visit 
                  <a href="#Titolo4">iGEM Community</a> 
                  and 
                  <a href="#Titolo3">Society engagement</a>
                  ), a possible weak point of our project emerged: its economic feasibility. 
                  This led us to creating a solid 
                  <a href="https://2024.igem.wiki/Uni-Padua-IT/entrepreneurship">Business Plan</a> 
                  that made us even more convinced that surPFAS can be applied in 
                  the real-world and not remain just a hypothetical idea.
                </p>
              </section>
            </div>

            <div class="container-fluid">
              <section id="TitoloInt3">
                <h1>References</h1>
                <ol>
                  <li>
                    Longendyke G.K, Katel S, Wang Y.  PFAS fate and destruction 
                    mechanisms during thermal treatment: a comprehensive review, 
                    Environmental Science: Processes & Impact, 2022
                  </li>
                </ol>
              </section>
            </div>
 
          </div>

        </div>
      </div>
    </div>

  </div>

</div>

<!-- pre-footer -->

<div class="container-fluid mt-5 mb-5 pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="mb-4">Let's find out more about our project</h2>
      </div>
    </div>
    
    <div class="row mt-3">

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Project</h3>
            <div class="d-flex row-cols-2">
              <div class="icon-text">
                <a href="{{ url_for('pages', page='description') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/description-icon.svg" alt="Description Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='description') }}">
                  <span>Description</span>
                </a>
              </div>
              <div class="icon-text">
                <a href="{{ url_for('pages', page='design') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/design-icon.svg" alt="Design Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='design') }}">
                  <span>Design</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Wet Lab</h3>
    
            <div class="d-flex row-cols-2">
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='experiments') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/lab-steps-icon.svg" alt="Lab steps Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='experiments') }}">
                  <span>Experiments</span>
                </a>
              </div>
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='results') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/results-icon.svg" alt="Results Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='results') }}">
                  <span>Results</span>
                </a>
              </div>
    
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script src="{{ url_for('static', filename = 'indexscroll.js')}}"></script>

{% endblock %}