{% extends "layout.html" %}
  
{% block title %}Judging{% endblock %}

{% block page_content %}

<!-- Header -->
<header class="header-judging py-5 mb-5 mt-4">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 fw-bold text-white text-center mb-2">{{ self.title() }}</h1>
          <p class="lead mb-5 text-white-50">{% block lead %}{% endblock %}</p>
        </div>
      </div>
    </div>
</header>

<div class="container">

    <div class="row">
        <div class="col-lg-3">
            <div class="index">
                <ul>
                    <li> 
                        <a href="#Titolo1"> Bronze Medal </a> 
                    </li>
                    <li> 
                        <a href="#Titolo2"> Silver Medal </a> 
                    </li>
                    <li>
                        <a href="#Titolo3"> Gold Medal </a>
                    </li>        
                    
                </ul>
            </div> 
        </div>

        <div class="col-lg-9 text-container">

          <div class="container-fluid">
            <section id="Titolo1"> 
                <h1 class="mb-3">Bronze Medal</h1>
                <p><ul>
                  <li>
                    COMPETITION DELIVERABLES <br>
                    Wiki, Presentation Video, Judging Form, and Judging Session were all 
                    submitted in accordance to iGEM guidelines.
                  </li> <br>
                  <li>
                    PROJECT ATTRIBUTIONS <br>
                    The work of each team roster member was carefully reported 
                    and acknowledged, as well the contributions from external sources.
                    (<a href="https://2024.igem.wiki/Uni-Padua-IT/attributions">Attributions</a>) 
                  </li> <br>
                  <li>
                    PROJECT DESCRIPTION <br>
                    Our project description was submitted in July, showcasing our 
                    mission for the first time.
                  </li> <br>
                  <li>
                    CONTRIBUTIONS <br>
                    Our efforts in Synthetic Biology led to the generation of several 
                    contributions that will hopefully be useful to the future generation 
                    of iGEM participants. Check out our <a href="https://2024.igem.wiki/Uni-Padua-IT/contribution">
                    Contribution</a> page to know more.
                  </li>
                </ul></p>
            </section>
          </div>


          <div class="container-fluid">
            <section id="Titolo2">
                <h1 class="mb-3">Silver Medal</h1>
                <p><ul>
                  <li>
                    ENGINEERING SUCCESS <br>
                    After months in the laboratory and several attempts, we managed to collect encouraging 
                    <a href="https://2024.igem.wiki/Uni-Padua-IT/results">results</a> and we gained knowledge 
                    of the possible improvements to our system, by giving the DBTL wheel several 
                    spins (link DBTL). We obtained significant achievements both in 
                    biological and chemical experiments, making our system more and more complete.
                  </li> <br>
                  <li>
                    HUMAN PRACTICES <br>
                    Our entire project is based on the experiences and suggestions of the 
                    community we are a part of. We always prioritized sharing awareness regarding 
                    the world of Synthetic Biology and we were actively involved in numerous initiatives. 
                    (<a href="https://2024.igem.wiki/Uni-Padua-IT/human-practices">Human practices</a>)
                  </li>
                </ul></p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo3">
                <h1 class="mb-3">Gold Medal</h1>
                <p><ul>
                  <li>
                    INTEGRATED HUMAN PRACTICES <br>
                    Our personal experiences and the events that went down on our territory 
                    allowed us to have a close perspective of the issue of PFAS contamination. 
                    Therefore, we were able to shape our project according to the local population 
                    needs, building a system that could bring effective solutions.
                    (<a href="https://2024.igem.wiki/Uni-Padua-IT/human-practices">Human practices</a>)
                  </li> <br>
                  <li>
                    NEW COMPOSITE PART <br>
                    In order to reach our biological goals, we designed a novel composite 
                    biobrick that, thanks to its modularity, allows us to test both intracellular 
                    and surface-expression of multiple enzymes starting from the same construct.
                    (<a href="https://2024.igem.wiki/Uni-Padua-IT/design">Design</a>)
                  </li> <br>
                  <li>
                    ENTREPRENEURSHIP <br>
                    After ideating our system, we realized its huge potential on the market. 
                    Thanks to interactions with stakeholders and detailed analysis, we put 
                    together a business plan capable of leading the future growth of our project, 
                    its scale-up and the commercialization of our service, demonstrating how a 
                    bioremediation project could be valuable and worth investing in. 
                    (<a href="https://2024.igem.wiki/Uni-Padua-IT/enterpreneurship">Enterpreneurship</a>)
                  </li>
                </ul></p>
            </section>
          </div>

        </div>

    </div>
</div>

<!-- pre-footer -->

<div class="container-fluid mt-5 mb-5 pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="mb-4">Let's find out more about our project</h2>
      </div>
    </div>
    
    <div class="row mt-3">

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Project</h3>
            <div class="d-flex row-cols-2">
              <div class="icon-text">
                <a href="{{ url_for('pages', page='description') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/description-icon.svg" alt="Description Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='description') }}">
                  <span>Description</span>
                </a>
              </div>
              <div class="icon-text">
                <a href="{{ url_for('pages', page='design') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/design-icon.svg" alt="Design Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='design') }}">
                  <span>Design</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Wet Lab</h3>
    
            <div class="d-flex row-cols-2">
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='experiments') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/lab-steps-icon.svg" alt="Lab steps Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='experiments') }}">
                  <span>Experiments</span>
                </a>
              </div>
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='results') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/results-icon.svg" alt="Results Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='results') }}">
                  <span>Results</span>
                </a>
              </div>
    
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script src="{{ url_for('static', filename = 'indexscroll.js')}}"></script>



{% endblock %}