{% extends "layout.html" %}
  
{% block title %}Notebook{% endblock %}

{% block page_content %}

<!-- Header -->
<header class="header-notebook py-5 mb-5 mt-4">
  <div class="container h-100">
    <div class="row h-100 align-items-center">
      <div class="col-lg-12">
        <h1 class="display-4 fw-bold text-white text-center mb-2">{{ self.title() }}</h1>
        <p class="lead mb-5 text-white-50">{% block lead %}{% endblock %}</p>
      </div>
    </div>
  </div>
</header>

<!-- Content -->
<div class="container-fluid mb-5">
  <div class="container p-4 bg-lightblue">

  <div class="row">
    <div class="col py-5 overflow-scroll">
      <table>
        <tr>
          <th>Name</th>
          <th>Link</th>
        </tr>
        <tr>
          <td>Cloning lab 1: protocols</td>
          <td>
            <a href="https://static.igem.wiki/teams/5109/notebook/cloning-lab-1-protocols-docx.pdf" target="_blank">Link 1</a>
          </td>
        </tr>
        <tr>
          <td>Cloning lab 1: notebook</td>
          <td>
            <a href="https://static.igem.wiki/teams/5109/notebook/cloning-lab-1-notebook.pdf" target="_blank">Link 2</a>
          </td>
        </tr>
        <tr>
          <td>Cloning lab 2: protocols</td>
          <td>
            <a href="https://static.igem.wiki/teams/5109/notebook/cloning-lab-2-protocols.pdf" target="_blank">Link 3</a>
          </td>
        </tr>
        <tr>
          <td>Cloning lab 2: notebook</td>
          <td>
            <a href="https://static.igem.wiki/teams/5109/notebook/cloning-lab-2-notebook.pdf" target="_blank">Link 4</a>
          </td>
        </tr>
        <tr>
          <td>Growth tests lab: notebook</td>
          <td>
            <a href="https://static.igem.wiki/teams/5109/notebook/notebook-enzymatic-tests.pdf" target="_blank">Link 5</a>
          </td>
        </tr>
        <tr>
          <td>Enzymatic tests: notebook</td>
          <td>
            <a href="https://static.igem.wiki/teams/5109/notebook/notebook-growth-tests.pdf" target="_blank">Link 6</a>
          </td>
        </tr>
      </table>
    </div>
  </div>  

  </div>
</div>

{% endblock %}
