{% extends "layout.html" %}
  
{% block title %}Overview{% endblock %}

{% block page_content %}

<!-- Header -->
<header class="header-overview py-5 mb-5 mt-4">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 fw-bold text-white text-center mb-2">{{ self.title() }}</h1>
          <p class="lead mb-5 text-white-50">{% block lead %}{% endblock %}</p>
        </div>
      </div>
    </div>
</header>

<div class="container">

    <div class="row">
                          
        <div class="col-lg-12 text-container">

          <div class="container-fluid">
            <p><br><br>
              We wanted to develop a project that could be implemented in an industrial plant that sees the degradation of PFAS, present in an aqueous matrix, all-round. <br>
              For this reason, we have built  SurPFAS in 3 interconnected modules:
              <ul>
                <li>Biological degradation</li>
                <li>Filter system to collect the pollutant</li>
                <li>Sensor technology</li>
              </ul> <br>
              A company, such as the one we envisioned, has a clientele of water service providers, especially from polluted areas.
              Right now the majority of them, before letting groundwater enter the water supply system for 
              the population, pass this water through a filtration system, to remove any pollutant, including PFAS. <br><br>

              The filters used are mostly made of granular activated carbon (GAC) that, when almost 
              saturated, undergo thermal treatment, bringing them to extremely high temperatures, to 
              degrade PFAS molecules. Unfortunately this kind of process changes GAC properties, decreasing 
              its efficiency. For this reason, water service providers usually use virgin GAC. <br>
              There’s also an environmental issue with this technique: in the scientific literature 
              it is possible to find multiple studies stating that this type of treatment needs to 
              be investigated further because it appears that it could lead to the emission of volatile 
              and mobile products and harmful compounds. [1] <br><br> 

              Our idea is to receive these spent filters and regenerate them by combining a 
              chemical and a biological process. <br>
              Our starting point was the regeneration of GAC but, through a few 
              experiments, we learned that, for the time being, this road is not viable. <br>
              We then considered a different adsorbent: ionic exchange resins. <br>
              The differences between the 2 cases from a technical point of view, 
              that demonstrate the rationale behind our change, can be found 
              below (
              <a href="https://2024.igem.wiki/Uni-Padua-IT/filters">Plant Design - Filtration and Regeneration</a>).
              Instead for an economic comparison please refer to 
              <a href="https://2024.igem.wiki/Uni-Padua-IT/entrepreneurship">Business Plan</a>, where you 
              can find the estimated volumes needed for the desorption of GAC and AER (Anion Exchange Resin)  
              filters and the relative cost, based on the information received from 
              Acquevenete, a water service provider in Veneto (for more information about it visit 
              <a href="https://2024.igem.wiki/Uni-Padua-IT/sponsors">Collaboration & Partnership</a>). <br><br>
              The process in a nutshell:
            </p>
            <div class="images">
              <img src="https://static.igem.wiki/teams/5109/overview/overview1.png">
            </div><br>
            <p>
              <ol>
                <li>The water service provider uses filters to remove PFAS from groundwater, providing clean water to the population.</li>
                <br><li>Once a filter saturation threshold is reached, as reported by a sensor (i.e. when the water leaving the 
                  filtration process has higher than expected PFAS concentrations), the filter is collected, cleaned using a specific desorption solution and given back to the water service provider. <br>
                  For ionic exchange resins a solution of NaCl is used to detach the pollutant molecules.
                  </li>
                <br><li>The desorption solution used, that now has PFAS in it, enters a facility that allows the degradation of that pollutant.</li>
                <br><li>The solution is diluted, in order to decrease its NaCl concentration until a value that allows the engineered bacteria growth is reached.</li>
                <br><li>The engineered bacteria, as described in <a href="https://2024.igem.wiki/Uni-Padua-IT/experiments">Wet lab</a>, are placed in a bioreactor together with the previously diluted desorption solution.</li>
                <br><li>The products of the biological degradation are:
                  <ul>
                    <li>fluorides</li>
                    <li>dead bacteria</li>
                    <li>water and salt</li>
                  </ul>
                </li>
                <br><li>Through an exsiccation process, NaCl can be obtained and used to generate the desorption solution for a subsequent regeneration cycle.</li>
                <br><li>When the engineered microorganism is dead it can be removed through a phase of sedimentation in the form of pellet.</li>
                <br><li>Fluorides could be removed through different techniques such as: precipitation with addition of calcium and aluminum salts, specific adsorbents, reverse osmosis and electrodialysis; to be able to choose the best one for the plant additional investigations of the case are needed.</li>
              </ol>
              In surPFAS we proposed the use of sensors, as having a functioning device capable of 
              quickly detecting PFAS on site would be useful at several points in our degradation 
              process and in water facilities, to verify the correct functioning of the system. <br><br>
              Moreover, in step number 5, we propose the use of a bioreactor; this is because in order to achieve PFAS degradation, it is important that our engineered microorganisms are in a controlled and stable environment, 
              so that they have the best conditions to work in. This can be accomplished by using a bioreactor: a device designed to create an optimal internal environment that meets the needs of the cultivated bacteria so that a high yield of the bioprocess is achieved. [2] <br>
              For our goal, bacteria need to survive and thrive in order to express the desired enzymes on their surface so it is essential to have a deep understanding of how Escherichia coli would react in the presence of some substrates inside the bioreactor. <br>
              For this reason we decided to tackle several growth tests where the coltural medium would contain substances that could be present inside the bioreactor. <br>
              In addition, the presence of this device in a bioremediation project such as surPFAS is essential because it permits genetically modified microorganisms to be kept in a nearby environment, avoiding their dispersion into the external environment, thus reducing public fears and doubt about the project. In this regard we asked citizens of the ‘Red Zone’, a highly PFAS-polluted area in our region, whether 
              the presence of genetically modified organisms (<span class="italic">Escherichia coli</span>) within a degradation process such as the one we hypothesized would cause any kind of concern: 90.6 % of respondents did not feel particularly worried since they will be within a closed environment such as a bioreactor (for more information about the population opinion on PFAS and surPFAS visit 
              <a href="https://2024.igem.wiki/Uni-Padua-IT/human-practices"></a>Society Engagement - Roundtable with citizens).
            </p>
            <div class="images img-smaller">
              <img src="https://static.igem.wiki/teams/5109/overview/overview2-new.png">
            </div>

            <br><br>
            <h2>References</h2><br>
            <ol><i>
              <li>Longendyke G.K, Katel S, Wang Y.  PFAS fate and destruction mechanisms during thermal treatment: a comprehensive review, Environmental Science: Processes & Impact, 2022</li>
              <li>Zhong J, Bioreactor Engineering, Comprehensive Biotechnology (Second Edition), 2011</li>
            </i></ol>
          </div>
            
        </div>

    </div>
</div>

<!-- pre-footer -->

<div class="container-fluid mt-5 mb-5 pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="mb-4">Let's find out more about our project</h2>
      </div>
    </div>
    
    <div class="row mt-3">

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Project</h3>
            <div class="d-flex row-cols-2">
              <div class="icon-text">
                <a href="{{ url_for('pages', page='description') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/description-icon.svg" alt="Description Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='description') }}">
                  <span>Description</span>
                </a>
              </div>
              <div class="icon-text">
                <a href="{{ url_for('pages', page='design') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/design-icon.svg" alt="Design Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='design') }}">
                  <span>Design</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Wet Lab</h3>
    
            <div class="d-flex row-cols-2">
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='experiments') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/lab-steps-icon.svg" alt="Lab steps Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='experiments') }}">
                  <span>Experiments</span>
                </a>
              </div>
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='results') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/results-icon.svg" alt="Results Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='results') }}">
                  <span>Results</span>
                </a>
              </div>
    
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<script src="{{ url_for('static', filename = 'indexscroll.js')}}"></script>



{% endblock %}




