{% extends "layout.html" %}
  
{% block title %}Parts{% endblock %}

{% block page_content %}

<!-- Header -->
<header class="header-parts py-5 mb-5 mt-4">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 fw-bold text-white text-center mb-2">{{ self.title() }}</h1>
          <p class="lead mb-5 text-white-50">{% block lead %}{% endblock %}</p>
        </div>
      </div>
    </div>
</header>

<div class="container">

  <div class="summary">
    <h1>Introduction</h1>
    <br>
    <p>
      Here we show the collection of parts that we either used 
      or created during the course of our project. <br>
      For every part is provided the name, the Registry accession number, 
      and a complete brief description. <br>
      Our project aims to test the functioning of different enzymes, 
      on the same molecules. For this purpose we structured our parts 
      to have access to different sets of parts: we have sets of basic 
      parts and composite parts that present the same structure but with 
      different coding sequences. <br>
      In this way, we can keep the experimental settings as similar as 
      possible while testing the functioning of different enzymes.
    </p>
    <h1>Registry parts that we used</h1>
    <br>
    <div class="accordion" id="myAccordion">

      <div class="accordion-item">
        <h2 class="accordion-header" id="heading1">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
            Ptac, trp & lac regulated promoter: <a href="https://parts.igem.org/Part:BBa_K864400"> BBa K864400</a>
          </button>
        </h2>
        <div id="collapse1" class="accordion-collapse collapse" aria-labelledby="heading1" data-bs-parent="#myAccordion">
          <div class="accordion-body">
            A promoter derived from the fusion of the lac and trp promoters. 
            It’s a strong promoter  inducible with IPTG. The sequence also contains 
            the LacO operator sequence for regulation.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="heading2">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
            RBS.1:  <a href="https://parts.igem.org/Part:BBa_B0030"> BBa B0030</a> 
          </button>
        </h2>
        <div id="collapse2" class="accordion-collapse collapse" aria-labelledby="heading2" data-bs-parent="#myAccordion">
          <div class="accordion-body">
            Strong RBS based on Ron Weiss thesis.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="heading3">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
            pJUMP29-1A sf LacZ: <a href="https://parts.igem.org/Part:BBa_J428341">BBa_J428341</a> 
          </button>
        </h2>
        <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3" data-bs-parent="#myAccordion">
          <div class="accordion-body">
            A plasmid backbone belonging to the JUMP collection. It contains two different 
            terminators, a Kanamycin selection marker and a medium copy number ORI: 
            <a href="https://parts.igem.org/Part:BBa_J428303">BBa_J428303</a>.
            pJUMP29-1A serves as a standard backbone from the JUMP collection, a series 
            of plasmids for Golden Gate or Biobrick cloning, with Kanamycin resistance. 
            This part offered a perfect backbone for our work since it encodes for a 
            terminator right after the suffix sequence: 
            <a href="https://parts.igem.org/Part:BBa_J428305">BBa_J428305</a> 
            , which is a T0 lambda terminator.
          </div>
        </div>
      </div>

      <div class="accordion-item">
        <h2 class="accordion-header" id="heading4">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
            Dehalogenase type 2, variant 2: <a href="https://parts.igem.org/Part:BBa_K3347010 ">BBa_K3347010</a>
          </button>
        </h2>
        <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4" data-bs-parent="#myAccordion">
          <div class="accordion-body">
            The coding sequence of a native dehalogenase found in the known 
            Delftia acidovorans genome, codon optimized for E. coli expression.
          </div>
        </div>
      </div>

    </div>

  </div>

  <ul class="nav nav-tabs tabs-style nav-justified mx-5" id="myTab" role="tablist">
    <li class="nav-item">
      <button class="nav-link active" id="basic-tab" data-bs-toggle="tab" data-bs-target="#basic" type="button" role="tab" aria-controls="basic" aria-selected="true"><h3>New basic parts</h3></button>
    </li>
    <li class="nav-item">
      <button class="nav-link" id="composite-tab" data-bs-toggle="tab" data-bs-target="#composite" type="button" role="tab" aria-controls="composite" aria-selected="false"><h3>New composite parts</h3></button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade active show" id="basic" role="tabpanel" aria-labelledby="basic-tab">

      <div class="container-fluid mt-4 pt-4 position-relative">
        <div class="row container mx-auto gx-3">
    
            <div class="col-lg-12 text-container container-fluid p-4">

              <div class="accordion" id="BasicAccordion"> 

                <div class="accordion-item">
                  <h3 class="accordion-header" id="basic1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsebasic1" aria-expanded="false" aria-controls="collapsebasic1">
                      Dehalogenase type II with NdeI and BamHI at the ends: <a href="https://parts.igem.org/partsdb/twin_info.cgi?part=BBa_K5109009">BBa_K5109009</a>
                    </button>
                  </h3>
                  <div id="collapsebasic1" class="accordion-collapse collapse" aria-labelledby="basic1" data-bs-parent="BasicAccordion">
                    <div class="accordion-body">
                      This is an improvement on part 
                      <a href="https://parts.igem.org/Part:BBa_K3347010">BBa_K3347010</a> 
                      , which encodes 
                      for the sequence of Dehalogenase type two. <br>
                      The sequence was modified by adding bases to insert the 
                      NdeI restriction site upstream and BamHI restriction site 
                      downstream. This structure is developed for an intracellular 
                      expression cassette, and the presence of two different restriction 
                      sites at the beginning and the end of the sequence, allows to remove 
                      and change the coding sequence via directed cloning. <br>
                      Any sequence of interest would need the same enzymatic sites at the 
                      end in order to be exchanged with this part.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h3 class="accordion-header" id="basic2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsebasic2" aria-expanded="false" aria-controls="collapsebasic2">
                      DNA sequence for Golden Gate assembly: <a href="https://parts.igem.org/Part:BBa_K5109002">BBa_K5109002</a>
                    </button>
                  </h3>
                  <div id="collapsebasic2" class="accordion-collapse collapse" aria-labelledby="basic2" data-bs-parent="BasicAccordion">
                    <div class="accordion-body">
                      This 32 bases sequence is a part that only contains two BsaI recognition 
                      sites, and was designed to be used to insert a terminator via golden 
                      gate assembly. <br>
                      This sequence was initially necessary in order to insert a 
                      terminator, since it couldn’t be synthesized inside the expression 
                      cassette. We subsequently choose to keep the terminator of 
                      the backbone instead.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h3 class="accordion-header" id="basic3">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsebasic3" aria-expanded="false" aria-controls="collapsebasic3">
                      Alpha/Beta hydrolase: <a href="https://parts.igem.org/Part:BBa_K5109010">BBa_K5109010</a>
                    </button>
                  </h3>
                  <div id="collapsebasic3" class="accordion-collapse collapse" aria-labelledby="basic3" data-bs-parent="BasicAccordion">
                    <div class="accordion-body">
                      This part was a result of searching with PROTEIN BLAST in 
                      Synechocystis PCC 6803 proteome for alignments with the five 
                      Delftia acidovorans dehalogenases. <br><br>
                      The sequences used as query were selected from the ones 
                      proposed by USAFA iGEM 2020 Team as best candidates for 
                      PFAS degradation: the search yielded significant results only 
                      for DeHa4. We propose DeHaS as an enzyme with good degrading 
                      activity on PFAS since its similarity with DeHa4 and considering 
                      the high Synechocystis’ survival capabilities in contaminated 
                      areas, and we used this sequence as a part of the enzymatic 
                      surface display system: 
                      <a href="https://parts.igem.org/Part:BBa_K5109020">BBa_K5109020</a>. <br><br>
                      A 3D model was developed through homology modeling for 
                      this enzyme and docking simulations with various PFAS 
                      molecules demonstrated positive and encouraging results. 
                      The simulations revealed a specific binding pocket within 
                      the enzyme, suggesting a potential catalytic site where 
                      PFAS could be degraded.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h3 class="accordion-header" id="basic4">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsebasic4" aria-expanded="false" aria-controls="collapsebasic4">
                      ECOL laccase improved part: <a href="https://parts.igem.org/PaBBa_K5109011">BBa_K5109011</a>
                    </button>
                  </h3>
                  <div id="collapsebasic4" class="accordion-collapse collapse" aria-labelledby="basic4" data-bs-parent="BasicAccordion">
                    <div class="accordion-body">
                      Coding sequence of a Laccase from Escherichia coli genome. <br>
                      The sequence was chosen from bioinformatic research and is an 
                      improvement of part 
                      <a href="https://parts.igem.org/Part:BBa_K863006">BBa_K863006</a> 
                      , with the removal of undesired 
                      restriction sites that were removed since they interfered with 
                      our cloning experiments. <br>
                      This enzyme has been extensively used in previous iGEM projects, 
                      where it has been well-characterized. Additionally, we confirmed 
                      that it contains all three domains characteristic of the laccase 
                      family. <br>
                      This enzyme was chosen as a putative candidate for PFAS degradation, 
                      since it has a promising background in bioremediation.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h3 class="accordion-header" id="basic5">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsebasic5" aria-expanded="false" aria-controls="collapsebasic5">
                      Multicopper Oxidase: <a href="https://parts.igem.org/PaBBa_K5109011">BBa_K5109011</a>
                    </button>
                  </h3>
                  <div id="collapsebasic5" class="accordion-collapse collapse" aria-labelledby="basic5" data-bs-parent="BasicAccordion">
                    <div class="accordion-body">
                      This part consists of the sequence encoding Synechocystis 
                      PCC 6803's laccase, which is an enzyme selected to be part 
                      of a surface display system:
                      <a href="https://parts.igem.org/Part:BBa_K5109022">BBa_K5109022</a>. <br>
                      We selected this enzyme because it is endogenously expressed 
                      in Synechocystis PCC which is well known for its high survival 
                      capabilities in PFAS-contaminated environments. Additionally, 
                      a BLAST search demonstrated significant similarity to a laccase 
                      expressed in Pleurotus ostreatus, which has been shown in previous 
                      studies to effectively degrade PFOA and may be applicable for the 
                      degradation of other PFAS compounds.
                      A further BLAST analysis revealed its similarity to E. coli's 
                      laccase, which we have also selected for our project.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h3 class="accordion-header" id="basic6">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsebasic6" aria-expanded="false" aria-controls="collapsebasic6">
                      Lpp - OmpT: <a href="https://parts.igem.org/partsdb/edit_seq.cgi?id=91822&New_feature=1">BBa_K5109003</a>
                    </button>
                  </h3>
                  <div id="collapsebasic6" class="accordion-collapse collapse" aria-labelledby="basic6" data-bs-parent="BasicAccordion">
                    <div class="accordion-body">
                      The coding sequence of a carrier, consisting of Lpp’s signal peptide 
                      (first 20 aminoacids of its entire sequence) and of a truncated 
                      version of OmpT (coding aminoacids 7-158). <br><br>

                      This sequence comes from a bibliographic research that indicated 
                      Lpp-OmpT as the best and most used candidate for surface display 
                      systems. Our main reference was: “Development of a novel bacterial 
                      surface display system using truncated OmpT as an anchoring motif” <br>

                      <span class="italic"><a href="https://pubmed.ncbi.nlm.nih.gov/31025146/">Hui CY, Guo Y, 
                        Liu L, Zheng HQ, Wu HM, Zhang LZ, Zhang W. Development 
                        of a novel bacterial surface display system using truncated OmpT as 
                        an anchoring motif. Biotechnol Lett. 2019 Jul;41(6-7):763-777. doi: 
                        10.1007/s10529-019-02676-4. Epub 2019 Apr 25. PMID: 31025146.</a></span> 

                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h3 class="accordion-header" id="basic7">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsebasic7" aria-expanded="false" aria-controls="collapsebasic7">
                      Lpp - OmpT - linker: <a href="https://parts.igem.org/Part:BBa_K5109004">BBa K5109004</a>
                    </button>
                  </h3>
                  <div id="collapsebasic7" class="accordion-collapse collapse" aria-labelledby="basic7" data-bs-parent="BasicAccordion">
                    <div class="accordion-body">
                      The coding sequence encoding a carrier and a linker, to 
                      use upstream a gene of interest in an expression cassette 
                      to create a display system. <br><br>
                      This part improves part 
                      <a href="https://parts.igem.org/partsdb/edit_seq.cgi?id=91822&New_feature=1">BBa_K5109003</a> 
                      : the presence of the linker allows this part to function as a carrier. 
                      The linker sequence also encodes for a thrombin cleavage site. By supplying 
                      thrombin to the medium in which the cells are cultured, the linker can be 
                      cleaved, enabling the isolation of the surface-expressed protein. <br>
                      Upstream and downstream the coding sequence, there are NdeI restriction 
                      sites: those allow the cloning of this part upstream a coding sequence, 
                      via restriction with NdeI and following ligation.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h3 class="accordion-header" id="basic8">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsebasic8" aria-expanded="false" aria-controls="collapsebasic8">
                      DeHa2: <a href="https://parts.igem.org/Part:BBa_K5109016">BBa_K5109016</a>
                    </button>
                  </h3>
                  <div id="collapsebasic8" class="accordion-collapse collapse" aria-labelledby="basic8" data-bs-parent="BasicAccordion">
                    <div class="accordion-body">
                      Coding sequence of Dehalogenase type II from part 
                      <a href="https://parts.igem.org/Part:BBa_K3347010">BBa_K3347010</a>  
                      with the addition of an His Tag at the end of the sequence.
                      <div class="images">
                        <img src="https://static.igem.wiki/teams/5109/parts/parts1.png">
                      </div> <br> 
                      BsaI restriction site and BamHI restriction site were added 
                      respectively upstream and downstream the coding sequence, by adding bases. <br>
                      Those modifications are identically made on the Multicopper Oxidase, 
                      the Alfa/Beta hydrolase and the ECOL laccase. <br>
                      This procedure provides a set of four different enzymes with 
                      different coding sequences but structured in the same way, 
                      allowing the interchange of them in the same expression tool. <br>
                      Together, Deha2, DehaS, LacE and LacS form a set of similar 
                      basic parts but with a different coding sequence. <br>
                      Creating a set of different enzymes with the same design 
                      allows it to proceed in parallel with different cloning: 
                      this way, a better comparison between the functioning of 
                      different enzymes can be analyzed.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h3 class="accordion-header" id="basic9">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsebasic9" aria-expanded="false" aria-controls="collapsebasic9">
                      Dehalogenase S: <a href="https://parts.igem.org/Part:BBa_K5109013">BBa_K5109013</a>
                    </button>
                  </h3>
                  <div id="collapsebasic9" class="accordion-collapse collapse" aria-labelledby="basic9" data-bs-parent="BasicAccordion">
                    <div class="accordion-body">
                      Coding sequence of Synechocystis sp. dehalogenase type 
                      II from part 
                      <a href="https://parts.igem.org/Part:BBa_K5109010">BBa_K5109010</a> 
                      , with the addition of an His Tag at the end of the sequence. 
                      BsaI restriction site and BamHI restriction site were added respectively 
                      upstream and downstream the coding sequence, by adding bases. <br><br>
                      Dehalogenase S is the new name chosen for this part after the improvement.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h3 class="accordion-header" id="basic10">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsebasic10" aria-expanded="false" aria-controls="collapsebasic10">
                      Laccase E: <a href="https://parts.igem.org/Part:BBa_K5109014:Design">BBa_K5109014</a>
                    </button>
                  </h3>
                  <div id="collapsebasic10" class="accordion-collapse collapse" aria-labelledby="basic10" data-bs-parent="BasicAccordion">
                    <div class="accordion-body">
                      Coding sequence of ECOL laccase from E. coli, from part 
                      <a href="https://parts.igem.org/PaBBa_K5109011">BBa_K5109011</a> 
                      , with the addition of an His Tag at the end of the sequence. 
                      BsaI restriction site and BamHI restriction site were added 
                      respectively upstream and downstream the coding sequence, 
                      by adding bases. <br><br>
                      After improving the sequence, we renamed it Laccase E.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h3 class="accordion-header" id="basic11">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsebasic11" aria-expanded="false" aria-controls="collapsebasic11">
                      Laccase S: <a href="https://parts.igem.org/Part:BBa_K5109015">BBa_K5109015</a>
                    </button>
                  </h3>
                  <div id="collapsebasic11" class="accordion-collapse collapse" aria-labelledby="basic11" data-bs-parent="BasicAccordion">
                    <div class="accordion-body">
                      Coding sequence of Synechocistis sp Multicopper Oxidase from part 
                      <a href="https://parts.igem.org/Part:BBa_K5109012">BBa_K5109012</a> 
                      , with the addition of an His Tag at the end of the sequence. <br>
                      BsaI restriction site and BamHI restriction site were 
                      added respectively upstream and downstream the 
                      coding sequence, by adding bases. <br><br>
                      After improving the sequence, we renamed it Laccase S.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h3 class="accordion-header" id="basic12">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsebasic12" aria-expanded="false" aria-controls="collapsebasic12">
                      pJUMP29-1A ∆NdeI: <a href="https://parts.igem.org/cgi/partsdb/part_info.cgi?part_name=BBa_K5109060">BBa_K5109060</a>
                    </button>
                  </h3>
                  <div id="collapsebasic12" class="accordion-collapse collapse" aria-labelledby="basic12" data-bs-parent="BasicAccordion">
                    <div class="accordion-body">
                      Improvement of part 
                      <a href="https://parts.igem.org/Part:BBa_J428341">BBa_J428341</a> 
                      that modifies a single base in the sequence, removing an
                      undesired NdeI site. Mutation of the site is obtained
                      via PCR with mutagenic primers. <br><br>
                      Mutagenesis was mandatory on pJUMP29-1A because an NdeI 
                      site was present in the backbone: all our composite parts 
                      present one or more NdeI restriction sites, which are 
                      fundamental to follow the project design. <br>
                      In order to do so, we performed a mutagenic PCR that 
                      changed the backbone sequence through mutagenic primers.
                    </div>
                  </div>
                </div>



              </div>
                
            </div>       
          
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="composite" role="tabpanel" aria-labelledby="composite-tab">

      <div class="container-fluid mt-4 pt-4 position-relative">
        <div class="row container mx-auto gx-3">
    
            <div class="col-lg-12 text-container container-fluid p-4">

              <div class="accordion" id="CompositeAccordion"> 

                <div class="accordion-item">
                  <h3 class="accordion-header" id="composite1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsecomposite1" aria-expanded="false" aria-controls="collapsecomposite1">
                      <p>DeHa2 intracellular expression tool: <a href="https://parts.igem.org/Part:BBa_K5109001">BBa K5109001</a><br>
                      Subparts: <a href="https://parts.igem.org/Part:BBa_B0030">BBa_B0030</a>,
                      <a href="https://parts.igem.org/Part:BBa_K864400">BBa_K864400</a>, 
                      <a href="https://parts.igem.org/partsdb/twin_info.cgi?part=BBa_K5109009">BBa_K5109009</a></p>
                    </button>
                  </h3>
                  <div id="collapsecomposite1" class="accordion-collapse collapse" aria-labelledby="composite1" data-bs-parent="CompositeAccordion">
                    <div class="accordion-body">
                      Expression cassette for intracellular expression of the dehalogenase 
                      type II from Delftia acidovorans. <br><br>
                      This part describes a construct for intracellular expression 
                      of Dehalogenase type II, featuring specific restriction sites at both ends:  
                      <a href="https://parts.igem.org/partsdb/twin_info.cgi?part=BBa_K5109009">BBa_K5109009</a> 
                      . Dehalogenase type II was previously characterized 
                      by the iGEM20_USAFA team as part  
                      <a href="https://parts.igem.org/Part:BBa_K3347010">BBa_K3347010</a> 
                      , demonstrating its potential as a foundation for subsequent bioremediation research. <br>
                      The construct includes an inducible promoter, which incorporates 
                      the LacO operator sequence for regulation through IPTG. Part 
                      <a href="https://parts.igem.org/Part:BBa_K864400">BBa_K864400</a> 
                      was selected to establish an inducible rather than 
                      constitutive expression system: in the presence of LacI, 
                      expression is repressed, while addition of IPTG activates 
                      gene expression. A strong ribosome binding site (RBS), part 
                      <a href="https://parts.igem.org/Part:BBa_B0030">BBa_B0030</a> 
                      , was also employed. <br>
                      Due to synthesis limitations, a dedicated terminator was not 
                      included; instead, the expression cassette utilizes the terminator 
                      embedded in the chosen backbone, pJUMP29-1A, specifically 
                      <a href="https://parts.igem.org/Part:BBa_J428341">BBa_J428341</a> 
                      , which is positioned immediately after the biobrick suffix, allowing 
                      it to function as a terminator for the expression construct. <br>
                      The selection of restriction sites was performed with precision: 
                      NdeI and BamHI cutting sites are strategically positioned at the 5' 
                      and 3' ends of the gene of interest, respectively. This configuration 
                      enables the excision of the gene and its replacement with alternative 
                      enzyme expression sequences via standard restriction and ligation protocols. 
                      Furthermore, the NdeI site was engineered for the insertion of the Lpp-OmpT 
                      anchor, facilitating surface expression applications. <br>
                      Additionally, the two BsaI sites located at the 
                      downstream end are designated as part 
                      <a href="https://parts.igem.org/Part:BBa_K5109002">BBa_K5109002</a> 
                      . This 32-base sequence enables the insertion of supplementary 
                      terminators through GoldenGate cloning methods.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h3 class="accordion-header" id="composite2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsecomposite2" aria-expanded="false" aria-controls="collapsecomposite2">
                      <p>
                        DeHa2 surface display system: <a href="https://parts.igem.org/Part:BBa_K5109023">BBa_K5109023</a><br>
                        Subparts: <a href="https://parts.igem.org/Part:BBa_K864400">BBa_K864400</a>, 
                        <a href="https://parts.igem.org/Part:BBa_B0030">BBa_B0030</a>, 
                        <a href="https://parts.igem.org/Part:BBa_K5109004">BBa K5109004</a>, 
                        <a href="https://parts.igem.org/Part:BBa_K5109016">BBa_K5109016</a>
                      </p>
                    </button>
                  </h3>
                  <div id="collapsecomposite2" class="accordion-collapse collapse" aria-labelledby="composite2" data-bs-parent="CompositeAccordion">
                    <div class="accordion-body">
                      Expression cassette for outer membrane expression of DeHa type II via Lpp OmpT. <br>
                      <div class="images">
                        <img src="https://static.igem.wiki/teams/5109/parts/parts2.png">
                      </div> <br>
                      This section describes a modification of the intracellular 
                      expression cassette 
                      <a href="https://parts.igem.org/Part:BBa_K5109001">BBa K5109001</a> 
                      , enhanced by integrating a 
                      sequence that encodes the anchoring motif 
                      <a href="https://parts.igem.org/Part:BBa_K5109004">BBa K5109004</a> 
                      , resulting 
                      in the creation of a display system. This expression cassette 
                      enables the surface presentation of an intracellular protein, 
                      specifically Dehalogenase type II, by fusing it to an Lpp-OmpT carrier. 
                      The component utilizes the coding sequence of Dehalogenase derived from 
                      the Deha2 structure: by assembling part 
                      <a href="https://parts.igem.org/Part:BBa_K5109016">BBa_K5109016</a> 
                      with the carrier BBa K5109004, a surface display system is established. <br><br>
                      The design incorporates various restriction sites positioned both 
                      upstream and downstream of the carrier and dehalogenase sequences, 
                      thereby facilitating its application in multiple projects. Notably, 
                      the Lpp-OmpT sequence can be excised using NdeI, allowing for conversion 
                      of the cassette to an intracellular expression format or enabling the 
                      substitution of the carrier. This substitution could facilitate comparative 
                      studies on the efficacy of Lpp-OmpT as a carrier in contrast to alternative 
                      anchoring motifs. The passenger protein can also be exchanged via 
                      digestion with BsaI and BamHI. <br><br>

                      To optimize the design strategy presented, we have modified the 
                      restriction enzyme sites compared to BBa K5109001: specifically, 
                      two BsaI restriction sites located downstream of the passenger were 
                      removed, and a BsaI restriction site was introduced upstream of the 
                      sequence encoding the passenger. This modification enhances the 
                      manipulation of the surface expression cassette, enabling the 
                      modification of the passenger protein irrespective of the presence 
                      of the carrier in the expression cassette. <br><br>

                      The structure of this component is repeated in three additional 
                      basic parts that adopt the same design but feature different coding 
                      sequences, thereby providing a surface display system for the enzymes 
                      Alfa/beta hydrolase, ECOL laccase, and Multicopper Oxidase. <br><br>

                      This collection of composite parts is intended to evaluate the 
                      functional performance of the various enzymes under consistent 
                      experimental conditions and settings. Moreover, it allows for the 
                      assessment of the synergistic activity of the enzymes on identical 
                      substrates by employing two distinct cell lines, each expressing one 
                      construct, within the same environment.
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h3 class="accordion-header" id="composite3">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsecomposite3" aria-expanded="false" aria-controls="collapsecomposite3">
                      <p>
                        Dehalogenase S surface display system: <a href="https://parts.igem.org/Part:BBa_K5109020">BBa_K5109020</a><br>
                        Subparts: <a href="https://parts.igem.org/Part:BBa_K864400">BBa_K864400</a>,
                        <a href="https://parts.igem.org/Part:BBa_B0030">BBa_B0030</a>,
                        <a href="https://parts.igem.org/Part:BBa_K5109004">BBa K5109004</a>,
                        <a href="https://parts.igem.org/Part:BBa_K5109013">BBa_K5109013</a>
                      </p>
                    </button>
                  </h3>
                  <div id="collapsecomposite3" class="accordion-collapse collapse" aria-labelledby="composite3" data-bs-parent="CompositeAccordion">
                    <div class="accordion-body">
                      Expression cassette for outer membrane expression of alfa/beta Hydrolase via Lpp OmpT.
                      <div class="images">
                        <img src="https://static.igem.wiki/teams/5109/parts/parts3.png">
                      </div> <br>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h3 class="accordion-header" id="composite4">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsecomposite4" aria-expanded="false" aria-controls="collapsecomposite4">
                      <p>
                        Laccase E surface display system: <a href="https://parts.igem.org/Part:BBa_K5109021">BBa_K5109021</a><br>
                        Subparts: <a href="https://parts.igem.org/Part:BBa_K864400">BBa_K864400</a>,
                        <a href="https://parts.igem.org/Part:BBa_B0030">BBa_B0030</a>,
                        <a href="https://parts.igem.org/Part:BBa_K5109004">BBa K5109004</a>,
                        <a href="https://parts.igem.org/Part:BBa_K5109014:Design">BBa_K5109014</a>
                      </p>
                    </button>
                  </h3>
                  <div id="collapsecomposite4" class="accordion-collapse collapse" aria-labelledby="composite4" data-bs-parent="CompositeAccordion">
                    <div class="accordion-body">
                      Expression cassette for outer membrane expression of ECOL laccase via Lpp OmpT.
                      <div class="images">
                        <img src="https://static.igem.wiki/teams/5109/parts/parts4.png">
                      </div> <br>
                    </div>
                  </div>
                </div>

                <div class="accordion-item">
                  <h3 class="accordion-header" id="composite5">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsecomposite5" aria-expanded="false" aria-controls="collapsecomposite5">
                      <p>
                        Laccase S surface display system: <a href="https://parts.igem.org/Part:BBa_K5109022">BBa_K5109022</a><br>
                        Subparts: <a href="https://parts.igem.org/Part:BBa_K864400">BBa_K864400</a>,
                        <a href="https://parts.igem.org/Part:BBa_B0030">BBa_B0030</a>,
                        <a href="https://parts.igem.org/Part:BBa_K5109004">BBa K5109004</a>,
                        <a href="https://parts.igem.org/Part:BBa_K5109015">BBa_K5109015</a>
                      </p>
                    </button>
                  </h3>
                  <div id="collapsecomposite5" class="accordion-collapse collapse" aria-labelledby="composite5" data-bs-parent="CompositeAccordion">
                    <div class="accordion-body">
                      Expression cassette for outer membrane expression of Multicopper Oxidase via Lpp OmpT.
                      <div class="images">
                        <img src="https://static.igem.wiki/teams/5109/parts/parts5.png">
                      </div> <br>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- pre-footer -->

<div class="container-fluid mt-5 mb-5 pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="mb-4">Let's find out more about our project</h2>
      </div>
    </div>
    
    <div class="row mt-3">

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Project</h3>
            <div class="d-flex row-cols-2">
              <div class="icon-text">
                <a href="{{ url_for('pages', page='description') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/description-icon.svg" alt="Description Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='description') }}">
                  <span>Description</span>
                </a>
              </div>
              <div class="icon-text">
                <a href="{{ url_for('pages', page='design') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/design-icon.svg" alt="Design Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='design') }}">
                  <span>Design</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Wet Lab</h3>
    
            <div class="d-flex row-cols-2">
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='experiments') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/lab-steps-icon.svg" alt="Lab steps Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='experiments') }}">
                  <span>Experiments</span>
                </a>
              </div>
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='results') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/results-icon.svg" alt="Results Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='results') }}">
                  <span>Results</span>
                </a>
              </div>
    
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<script src="{{ url_for('static', filename = 'indexscroll.js')}}"></script>



{% endblock %}




