{% extends "layout.html" %}
  
{% block title %}PFAS{% endblock %}

{% block page_content %}

<!-- Header -->
<header class="header-pfas py-5 mb-5 mt-4">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 fw-bold text-white text-center mb-2">{{ self.title() }}</h1>
          <p class="lead mb-5 text-white-50">{% block lead %}{% endblock %}</p>
        </div>
      </div>
    </div>
</header>

<div class="container">

    <div class="row">
        <div class="col-lg-3">
            <div class="index">
                <ul>
                    <li>
                        <a href="#Titolo1"> Understanding PFAS </a>
                        <ul class="is-collapsible" id="Titolo1 Titolo1-1 Titolo1-2">
                            <li> 
                                <a href="#Titolo1-1"> Molecular properties </a>
                            </li>
                            <li> 
                                <a href="#Titolo1-2"> Industrial applications </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                      <a href="#References"> References </a>
                    </li>                   
                </ul>
            </div> 
        </div>

        <div class="col-lg-9 text-container">

          <div class="container-fluid">
            <section id="Titolo1">
                <h1 class="mb-3">Understanding PFAS</h1>
                <p class="text-justified">PFAS is an acronym for per- and poly-fluoroalkyl substances, 
                  a class of 4,730 synthetic compounds. [1]</p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo1-1">
                <h2 class="mb-3">Molecular properties</h2>
                <p> PFAS are artificial substances with remarkable chemical and physical
                  properties, making them highly relevant to the industrial sector. <br><br>
                  They are composed of a carbon chain that can be fully (perfluoroalkyl) or
                  partially (polyfluoroalkyl) fluorinated. The carbon chain can be composed of 4 to
                  16 carbon atoms. Specifically, short-chain PFAS have fewer than 7 carbon
                  atoms (6 in the case of sulfonates), while long-chain PFAS have 8 carbon atoms
                  or more. The carbon-fluoride (C-F) bond is the shortest and strongest known
                  covalent bond. They also have functional group heads, such as amines,
                  carboxylates, sulfonates, sulfates, and phosphates. [2–4] <br><br>
                  PFAS exhibit high diversity in carbon chain length, degree of saturation,
                  branching, and functional groups, which allows them to be divided into many
                  subclasses. Although various classifications exist, there is a need to
                  standardise this process. [2] <br><br>
                  These structures make PFAS hydrophobic, lipophobic and resistant to
                  chemicals and degradation. [1,3]
                </p>
                <div class="images img-thiner">
                  <img src="https://static.igem.wiki/teams/5109/pfas/pfas1.png">
                </div>
                <div class="images img-thiner">
                  <img src="https://static.igem.wiki/teams/5109/pfas/pfas2.png">
                </div>
                <p>Figure – The most common PFAS types are PFOA (Perfluorooctanoic Acid) and
                  PFOS (Perfluorooctane Sulfonate).</p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo1-2">
                <h2 class="mb-3">Industrial applications</h2>
                <p>
                  Among the 4,730 PFAS molecules, “only” 256 (5,5%) are currently used
                  commercially. Their numerous physicochemical properties make them
                  extremely versatile in the manufacturing field. Thousands of tons are 
                  produced annually due to their low costs. <br><br>
                  PFAS are used in over 200 categories of consumer products, such as
                  surfactants, water-proof fabrics, firefighting foams, textiles and leather, oil-
                  repelling containers, semiconductors, non-stick cooking pans, food packaging,
                  shampoos, photo films, cleaners, masks, stain repellents, polishes, paints, and
                  coatings. [1,2,3]
                </p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="References">
              <h2 class="mb-3">References</h2>
              <p><i><ol>
                <li>
                  Scott C, Hu M. Toward the development of a molecular toolkit for the
                  microbial remediation of per-and polyfluoroalkyl substances. Appl Environ
                  Microbiol. 2024 Mar 13;90(4):e00157-24.
                </li>
                <li>
                  Berhanu A, Mutanda I, Taolin J, Qaria MA, Yang B, Zhu D. A review of microbial
                  degradation of per- and polyfluoroalkyl substances (PFAS): Biotransformation
                  routes and enzymes. Sci Total Environ. 2023 Feb 10;859:160010.
                </li>
                <li>
                  Zhang Z, Sarkar D, Biswas JK, Datta R. Biodegradation of per- and
                  polyfluoroalkyl substances (PFAS): A review. Bioresour Technol. 2022 Jan
                  1;344:126223.
                </li>
                <li>
                  Meegoda JN, Bezerra de Souza B, Casarini MM, Kewalramani JA. A Review of
                  PFAS Destruction Technologies. Int J Environ Res Public Health. 2022;19(24).
                </li>
              </ol></i></p>

            </section>
          </div>
            
        </div>

    </div>
</div>

<!-- pre-footer -->

<div class="container-fluid mt-5 mb-5 pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="mb-4">Let's find out more about our project</h2>
      </div>
    </div>
    
    <div class="row mt-3">

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Project</h3>
            <div class="d-flex row-cols-2">
              <div class="icon-text">
                <a href="{{ url_for('pages', page='description') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/description-icon.svg" alt="Description Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='description') }}">
                  <span>Description</span>
                </a>
              </div>
              <div class="icon-text">
                <a href="{{ url_for('pages', page='design') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/design-icon.svg" alt="Design Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='design') }}">
                  <span>Design</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Wet Lab</h3>
    
            <div class="d-flex row-cols-2">
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='experiments') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/lab-steps-icon.svg" alt="Lab steps Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='experiments') }}">
                  <span>Experiments</span>
                </a>
              </div>
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='results') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/results-icon.svg" alt="Results Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='results') }}">
                  <span>Results</span>
                </a>
              </div>
    
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
  

<script src="{{ url_for('static', filename = 'indexscroll.js')}}"></script>



{% endblock %}




