{% extends "layout.html" %}
  
{% block title %}Results{% endblock %}

{% block page_content %}

<!-- Header -->
<header class="header-results py-5 mb-5 mt-4">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 fw-bold text-white text-center mb-2">{{ self.title() }}</h1>
          <p class="lead mb-5 text-white-50">{% block lead %}{% endblock %}</p>
        </div>
      </div>
    </div>
</header>


<div class="container">

  <ul class="nav nav-tabs tabs-style nav-justified mx-5" id="myTab" role="tablist">
    <li class="nav-item">
      <button class="nav-link active" id="first-tab" data-bs-toggle="tab" data-bs-target="#first" type="button" role="tab" aria-controls="first" aria-selected="true">Biology</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" id="second-tab" data-bs-toggle="tab" data-bs-target="#second" type="button" role="tab" aria-controls="second" aria-selected="false">Sensor</button>
    </li>
    <li class="nav-item">
      <button class="nav-link" id="third-tab" data-bs-toggle="tab" data-bs-target="#third" type="button" role="tab" aria-controls="third" aria-selected="false">Filtration</button>
    </li>
  </ul>

  <div class="tab-content" id="myTabContent">

    <div class="tab-pane fade active show" id="first" role="tabpanel" aria-labelledby="first-tab">

      <div class="container-fluid mt-4 pt-4 position-relative">
        <div class="row container mx-auto gx-3">
    
        
            <div class="col-lg-3">
                <div class="index">
                    <ul>
                      <li>
                        <a href="#Titolo0"> Choice of enzymes </a>
                      </li>
                      <li> 
                        <a href="#Titolo1"> Clonings </a> 
                      </li>
                      <li> 
                        <a href="#Titolo2"> Growth tests </a> 
                      </li>
                      <li> 
                        <a href="#Titolo3"> Enzymatic tests </a> 
                      </li> 
                      <li>
                        <a href="#Titolo4"> Future perspectives </a>
                      </li>
                    </ul>
                </div> 
            </div>
    
            <div class="col-lg-9 text-container">

              <div class="container-fluid">
                <section id="Titolo0"> 
                  <h1 class="mb-3">Choice of enzymes</h1>
                  <p>
                    We successfully managed to find all four candidates we needed: two dehalogenases and two laccases. Each enzymatic group is composed by one well characterised enzyme and one obtained through literature and bioinformatic analyses. <br><br>
                    These enzymes needed to be tested to verify their effectiveness in PFAS bioremediation, to do so we planned to engineer different E. coli populations to express these enzymes on their surface. 
                  </p>
                  <div class="images img-smaller">
                    <img src="https://static.igem.wiki/teams/5109/results/choice-of-the-enzymes1.png">
                  </div>
                  <br>
                  <h4>Dehalogenases</h4><br>
                  <p>
                    For the first dehalogenase, we decided to focus on one of the five dehalogenases from Delftia acidovorans, isolated by the USAFA iGEM 2020 team. Among the five dehalogenases isolated from D. acidovorans, only DeHa2 and DeHa4 demonstrated defluorination capability. Docking simulations were performed, and DeHa2 (WP_011137954.1) achieved the highest score, making it  our final choice. <br><br>
                    For the second dehalogenase, we conducted multiple BLAST analyses, where UPI00000C10BF, an alpha/beta hydrolase fold enzyme from Synechocystis PCC 6803, emerged as the top candidate overall. Subsequent docking simulations yielded positive results, leading us to select this dehalogenase.
                  </p>
                  <br><br>
                  <h4>Laccases</h4><br>
                  <p>
                    For the first laccase, we selected a well-characterised E. coli laccase (P36649), which has been used in past iGEM projects for various bioremediation purposes, and we aimed to test its potential for PFAS bioremediation as well. <br><br>
                    For the second laccase, we conducted several BLAST analyses, where MEB3229074.1, a multicopper oxidase from Synechocystis PCC 6803, emerged as the leading candidate. Further docking simulations showed promising results, leading us to choose this laccase.
                  </p>
                </section>
              </div>
    
              <div class="container-fluid">
                <section id="Titolo1"> 
                  <h1 class="mb-3">Clonings</h1>
                  <p>
                    <h4>pJUMP29-1A NdeI site mutagenesis</h4><br>
                    Mutagenic PCR was performed on our pJUMP29-1A original vector thanks to a primer pair mapping directly on the NdeI first restriction site. <br>
                    To see whether mutagenic PCR was effective, the result from the mutagenic PCR was digested with 3 enzymes, EcoRI, PstI and NdeI: if three distinct bands at respectively 2kb, 700kb and 600kb were to be seen, it meant that the plasmid had not been mutagenized, while two distinct bands at 2,9 kb and 500kb meant that the restriction site was modified.
                  </p>
                  <div class="images">
                    <img src="https://static.igem.wiki/teams/5109/results/cloningsresults1.jpg">
                  </div>
                  <p class="didascalia">Agarose gel performed loading results form mutagenic PCR in wells 1, 2, 3, and pJUMP29-1A digestion in wells 4 and 5</p>
                  <br>
                  <p>
                    Columns 1,2,3 come from our mutagenesis result, and in columns number 2 and 3 we can clearly see two distinct bands at 2.9 and 0,5 kb: meaning that the mutagenic PCR was successful. Gel extraction was performed to proceed with other experiments. <br>
                    For further reassurance, the mutated plasmid was sequenced, and this confirmed the correct mutation of the NdeI site: this is now a new improved part in the registry named pJUMP29-1A ∆NdeI (Part BBa_K5109060). <br><br>
                    This is the chosen backbone we used for further cloning experiments.
                    <br><br><h4>Cloning of DeHa2 intracellular expression cassette</h4><br>
                    Our intracellular expression cassette containing the DeHa2 coding sequence was amplified through PCR with our primers mapping on Prefix and Suffix, then digested with EcoRI and PstI and cloning and we attempted to insert it in our pJUMP29-1A ΔNdeI vector. <br>
                    Bacteria were transformed with our ligation products and then plated on LB-kanamycin plates to select colonies containing our plasmid with the kanR gene. <br>
                    Even though some colonies were able to grow on our kanamycin plates, everytime we performed either colony PCR or minipreps on inocula coming from these colonies we always found out that the vector they 
                    contained was a result of partial digestion and subsequent self-ligation of the plasmid itself, always showing on electrophoresis gels bands at 400-500 bp corresponding to the original insert of the backbone. <br>
                    Due to time limitations, the intracellular expression of <a href="https://parts.igem.org/Part:BBa_K3347010">BBa_K3347010</a> has yet to be achieved.
                    <br><br><h4>Homologous recombination</h4><br>
                    This procedure was performed as an alternative to the digestion-ligation protocol since no positive results came back from trying to clone our construct in pJUMP29-1A ΔNdeI. <br>
                    After transforming our bacteria with the insert and vector mix with a 3:1 insert-backbone proportion, our bacteria were plated on an Lb+kanR plate, but it gave us a negative result as no colony grew on the plates. After this attempt, we went on with more traditional cloning attempts, since it was the cloning technique we knew best. <br><br>
                    <h4>Cloning of extracellular DeHa2 and extracellular Dehalogenase S</h4><br>
                    Right after the idea of using our new primers with flanking sites at the extremities with Top10 F’ host cells, we decided to start working immediately on our extracellular expression cassettes by amplifying both DeHa2 and Dehalogenase S cassettes. <br>
                    We performed digestion and ligation assays and then we transformed our Top10F' competent cells and plated them on LB kanamycin petri dishes. <br>
                    On our first try, we could see that some colonies grew on both of our agar plates (Lpp-OmpT-DeHa2 plate on the top, Lpp-OmpA-Dehalogenase S plate on the bottom)
                  </p>
                  <div class="images img-smaller">
                    <img src="https://static.igem.wiki/teams/5109/results/cloningsresults2.jpg">
                  </div>
                  <p class="didascalia">LB + Kan plate with F’ transformed bacteria with DeHa2 cloned in pJUMP</p>
                  <div class="images img-smaller">
                    <img src="https://static.igem.wiki/teams/5109/results/cloningsresults3.jpg">
                  </div>
                  <p class="didascalia">LB + Kan plate with F’ transformed bacteria with Dehalogenase S cloned in pJUMP</p>
                  <p>
                    Given the small amount of time left before the wiki freeze, we decided to screen every colony available through colony PCR.
                  </p>
                  <div class="images img-smaller">
                    <img src="https://static.igem.wiki/teams/5109/results/clonigsresults4.png">
                  </div>
                  <p class="didascalia">Colony PCR gel performed on colonies coming from Dehalogenase S and DeHa2 kanamicine paltes</p>
                  <p>
                    In colonies #4 and #9 a 1500 bp long band, corresponding to our synthetic sequence length, was visible, meaning that the expression cassette for the extracellular expression of DeHa2 was successfully cloned in pJUMP29-1A ΔNdeI in E. coli Top10F'. 
                    <br>Afterwards, we prepared our successful clones of <a href="https://parts.igem.org/Part:BBa_K5109023">BBa_K5109023</a> (expressing DeHa2) and sent them to the sequencing facility. Right before the wiki freeze, sequencing results came back, and we were able to confirm colony PCR’s results. Unfortunately, due to some technical problems, the quality of the sequencings we obtained was quite poor in some sections: therefore we could not determine if there were any mismatches or deletions in our colonies.
                    <br><br>
                    After the first colony PCR, we decided to repeat it for all the Lpp-OmpA-Dehalogenase S colonies that gave an inconclusive result. Colony #4 still gave us an inconclusive result.
                  </p>
                  <div class="images img-smaller">
                    <img src="https://static.igem.wiki/teams/5109/results/cloningsresults5.png">
                  </div>
                  <p class="didascalia">Second colony PCR gel performed on colonies cloned with Dehalogenase S</p>
                  <p>
                    We decided to send our uncertain clone #4 of BBa_K5109020 (expressing Dehalogenase S) to the sequencing facility, just to be sure not to delete all possibilities of a successful cloning: surprisingly, this clone of BBa_K5109020 also revealed a clear homology with our synthetic expression cassette, confirming that we obtained a successful cloning of the expression cassette for the extracellular expression of Dehalogenase S in pJUMP29-1A ΔNdeI in E. coli Top10F’. <br><br>
                    <h4>CLONING OF EXTRACELLULAR LACCASE S</h4> <br>
                    This cloning was done simultaneously to those of the synthetic sequences BBa_K5109020 and BBa_K5109023, but this sequence was not successfully cloned in Top10 F’. A reason to this failed attempt may lie on the significant length of BBa_K5109022 (Laccase S expression cassette), being 2232 bp long, and the difficulties it may cause with the cloning of it in a vector not so much longer than the expression cassette (the pJUMP vector is 3374 bp long) and also the fact that, due to time limitations, we could not reiterate this cloning many times.
                  </p>
                </section>
              </div>

              <div class="container-fluid">
                <section id="Titolo2"> 
                  <h1 class="mb-3">Growth tests</h1>
                  <p>
                    Results of this part of the experiment are available in the PDF form down below. <br>
                    <a href="https://static.igem.wiki/teams/5109/results/growth-tests-results/growth-tests-results.pdf">Growth tests-results.pdf</a>
                  </p>
                </section>
              </div>

              <div class="container-fluid">
                <section id="Titolo3"> 
                  <h1 class="mb-3">Enzymatic tests</h1>
                  <p>
                    To verify the activity of DeHa2, we performed an assay of degradation of the chloroacetate substrate that can be converted into glycolate after the removal of the chlorine done by the dehalogenase. <br><br>
                    The data obtained from the FIA-MS (flow injection analysis - high resolution mass spectrometry) measurements were analyzed using GraphPad Prism 10 and a Student’s t-test was conducted to determine if there was any significant difference between the measures taken at the different timepoints. <br><br>
                    All samples grew in a medium containing chloroacetic acid 2.5 mM and were then differentiated between the methods used for the cellular lysis. For sample A we used osmotic lysis so the cultural medium was substituted with water while for sample B we used the french press maintaining the cultural medium. <br><br>
                    After analyzing the data, the first observation we did was that the samples that contained only the cellular lysate (A) did not contain chloroacetic acid, since the concentration resulted lower than the limit of detection (LOD). This can allow us to say that the compound cannot be internalized by E. coli and remains in solution. <br><br>
                    For what concerns the samples obtained after lysing the cells with the french press keeping the medium (B), we obtained the following results:
                  </p>
                  <div class="images img-thiner">
                    <img src="https://static.igem.wiki/teams/5109/results/enzymatic-tests/enzymatic-test1.png">
                  </div>
                  <p class="didascalia">Normalized values of chloroacetic acid concentrations for B samples after 0, 24 and 48 hours</p>
                  <p>
                    In this graph, we can see the variation of acid chloroacetic with time in the two different colonies transformed with the Lpp-OmpT-DeHa2 construct (colony #4 and #9) and in the wild type Top 10 F’ used as negative control. Both colonies were analyzed with and without the inductor for the expression of dehalogenase.
                  </p>
                  <div class="images img-thiner">
                    <img src="https://static.igem.wiki/teams/5109/results/enzymatic-tests/enzymatic-test2.png">
                  </div>
                  <p>
                    Percentage reduction in chloroacetic acid concentration <br><br>
                    At first glance, we can see how colony #4 did not degrade the chloroacetic acid and gave similar results to the wild-type strain. On the other hand, colony #9 managed to degrade almost all the chloroacetic acid even when not induced. This may suggest a possible leaky activity of Ptac promoter. 
                    <br>To determine if there was a significant variation (and therefore some enzymatic activity) of the acid concentration in the samples, we conducted a Student’s t-test. 
                    <br>We calculated the value of t using the formula t=xA-xBsxA2+sxB2, in which x is the mean of the measurements and s is the standard deviation, and the degrees of freedom with the  formula ν=sxA2+sxB22sxA4nA-P+sxB4nB-P, in which n is the number of replicates and P the number of parameters evaluated (P=1).
                  </p>
                  <div class="images">
                    <img src="https://static.igem.wiki/teams/5109/results/enzymatic-tests/enzymatic-test3.png">
                  </div>
                  <p>
                    In the table we reported the integrated chronogram peak areas for chloroacetic acid (I AcCl, obtained with FIA-MS and measured in relative abundance arbitrary units - aU) and the mean and the standard deviation for each group of samples. <br><br>
                    The results obtained by the test are the followings:
                  </p>
                  <div class="images img-thiner">
                    <img src="https://static.igem.wiki/teams/5109/results/enzymatic-tests/enzymatic-test4.png">
                  </div>
                  <p>
                    The number of degrees of freedom was approximated by default. <br><br>
                    No significant difference in the concentration of chloroacetic acid was measured at the different time points in either Top10F' wild type or colony #4 transformed with the Lpp-OmpT-DeHa2 construct. <br><br>
                    There was instead a significant reduction in the concentration of chloroacetic acid in the colony #9 transformed with the Lpp-OmpT-DeHa2 construct. Specifically, a reduction of 97.94% was observed in the samples in which the expression inducer was present, compared to a reduction of 90.23% in the samples in which it was absent.
                  </p>
                </section>
              </div>

              <div class="container-fluid">
                <section id="Titolo4"> 
                  <h1 class="mb-3">Future perspectives</h1>
                  <p>
                    <h4>Clonings</h4><br>
                    We plan to try again with the cloning of BBa_K5109022 (Laccase E expression cassette) as soon as possible, to have at least one laccase to have for our future enzymatic assays.
                    <br>One of our goals is also to be able to clone the main intracellular expression cassette in pJUMP29-1A. <br>From this starting point, we would be able to switch enzyme sequences and create four different vectors expressing our protein of interest intracellularly.
                    <br><br><h4>Growth test</h4><br>
                    Since the growth test with PFOA in a medium containing 2% NaCl did not provide a clear correlation between the PFOA concentration and the inhibition of the growth, further investigation is required.  
                    <br>Clearly, we plan also to conduct other growth tests using the transformed bacteria, in order to see if there are any differences with the wild type, determine if the reaction occurs on our final target molecule and whether any toxic intermediates are produced.
                    <br><br><h4>Protein expression and enzymatic tests</h4><br>
                    From what can be seen in the section above, Lpp-OmpT-DeHa2 colony #9 showed the ability to process almost the entirety of chloroacetate dissolved in the culture medium, meanwhile colony #4 showed no sign of degradation activity.
                    <br>Further investigation is necessary to understand why both of these phenomena are happening.
                    <br>As mentioned before, we were able to get our sequencing results back just right before wiki freeze. They seemed to have a positive outcome for colony #9, while a deletion changing the reading frame is likely to be present in colony #4, but  we did not have enough time to deeply investigate these results and we proceeded with the enzymatic tests regardless.
                    <br>Regarding analysis on colony #9, we should perform SDS-PAGE and Western blot assay to verify the correct expression of our protein of interest.
                    <br>These tests would be particularly useful to analyze superficial expression of DeHa2 fused together with the anchoring motif: thanks to our thrombin cut site situated between the C-terminal of truncated OmpT and the N-terminal of our enzymes, we can subject our engineered bacteria to thrombin treatment, thus allowing the release of our enzymes in the medium. Through subsequent cell precipitation through centrifugation and running the surnatant in SDS-PAGE, it could be possible to analyze the efficiency of our surface display system by measuring how much cleaved protein is detected. 
                    <br>Pelleted cells from previous centrifugation could also be lysed and cytoplasmic and membrane fraction could be separated and run on SDS page, thus verifying the presence of the anchoring domain in our membrane or formation of inclusion bodies.
                    <br><br>Regarding enzymatic assays to verify our proteins’ degradation activities, there are a series of tests that we had planned to perform. 
                    <br><br>From what concerns DeHa2, we could further investigate its activity modifying the parameters that we used in our first test. Specifically, we could either increase the concentration of IPTG to try to obtain an increased protein production (above the conservative limit adopted due previously observed colony #4 IPTG-growth response), or lower it to assess the tunability of the system, and we could try to use closer time points to better characterize the kinetics of the reaction.
                    <br>In addition to that, chloroacetate tests should be performed also on Dehalogenase S, meanwhile tests with reliable substrates should be performed on Laccase S and E. 
                    <br>By carrying out research in literature, we found syringaldazine as one of our possible candidates: syringaldazine is a substrate that changes its absorbance spectrum when oxidized by laccases, making degradation activity measurable with a spectrophotometer. 
                    <br>Lastly, degradation tests need to be conducted on the previously selected perfluoroalkyl substances - PFOA, PFOS and PFBA - on which we have performed several growth tests, to determine the feasibility of our system for PFAS degradation. 
                    <br>The previous one is the last step right before we introduce our four populations of engineered bacteria in a bioreactor and let the enzymes perform their catalytic activity synergically, which will hopefully lead to a total degradation of these pollutants.
                    <br>We believe that such a biological approach needs an outline system that allows it to be utilized to the fullest. The system we have ideated is described in 
                    <a href="https://2024.igem.wiki/Uni-Padua-IT/overview">Plant Design - Overview</a>. 
                  </p>
                </section>
              </div>
                
            </div>       
          
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">

      <div class="container-fluid mt-4 pt-4 position-relative">
        <div class="row container mx-auto gx-3">

          <div class="col-lg-3">
            <div class="index">
                <ul>
                    <li> 
                        <a href="#TitoloA1"> Feedback & testing </a> 
                    </li>
                    <li>
                        <a href="#TitoloA2"> Future perspectives </a>
                    </li>
                    
                    
                </ul>
            </div> 
          </div>

          <div class="col-lg-9 text-container">

            <div class="container-fluid">
              <section id="TitoloA1"> 
                <h1 class="mb-3">Feedback & testing</h1>
                <p>
                  After a few tests with different functionalization molecule designs (11-mercapto1-undecanol as functionalization molecule and NaCl as electrolyte), we managed to get the first results with GV38 as functionalization molecule and Hepes as electrolyte. More information about measurement cycles is shown on 
                  <a href="https://2024.igem.wiki/Uni-Padua-IT/engineering">Engineering</a>. <br><br>
                  The first round of measures with this functionalization got us signals with SERS and EIS as well. The graphs below are created by the union of three measurements, bare surface, functionalized surface and functionalized surface + PFOA solution. <br><br>
                  The first two graphs show us how the Impedance module and phase changed between the three measurements.
                </p>
                <div class="images img-smaller">
                  <img src="https://static.igem.wiki/teams/5109/results/results-sensor/resultsensor1.jpg">
                </div><br>
                <div class="images img-smaller">
                  <img src="https://static.igem.wiki/teams/5109/results/results-sensor/resultssensor2.png">
                </div>
                <p>
                  The most interesting part of the graph is the range 70-1000 Hz, since with this range of frequency we can better appreciate the effects of the capacitance change in the system.
                </p>
                <div class="images img-smaller">
                  <img src="https://static.igem.wiki/teams/5109/results/results-sensor/resultssensor3.png">
                </div><br>
                <p>
                  As we can see, for higher values of frequency (higher than 1000Hz), we have differences between the measurements. These differences are mostly due to the resistance of the solution and the electrode. This parameter is hard to control, since the position of the electrodes and the evaporation of the solution can easily modify it. <br><br>
                  The measure of functionalized surface + PFOA solution shown in the first graph was taken immediately after the PFOA solution was placed in our chamber. We have taken two other measurements at 30-minute intervals. The final measurements stated a stable interaction between the PFOA and the surface, since the impedance remained almost exactly the same.
                </p>
                <div class="images img-smaller">
                  <img src="https://static.igem.wiki/teams/5109/results/results-sensor/resultssensor4.png">
                </div><br>
                <p>
                  After carrying out the SERS analyses, we can confirm the presence of PFOA above the sensor. So the adhesion of the PFOA molecules to the surface is happening.
                  <br><br>The PFOA powder's spectra show us this chemical compound's spectral characteristics, so we used it as a reference.
                </p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/results/results-sensor/resultssensor5.png">
                </div><br>
                <p>
                  Observing the PFOA on sensor analyses, we can see two peaks, respectively about the functionalization and the presence of carbon-fluorine bonds. This confirms the presence of PFOA on the functionalized surface of the sensor.
                </p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/results/results-sensor/resultssensor6.png">
                </div><br>
                <p>
                  We wanted to test our prototype with PFOS and PFBA, so we fabricated another set of sensors. <br>
                  This round of testing has been performed due to technical problems with polypropylene chambers, which are not optimal for PFAS analysis because of their high tendency to adsorb them. <br><br>
                  In the graphs, we can see the measurements of the functionalized surface (functionalized), then the measurements after the PFAS solution addition from T0(0min) to T3(120min) at 40-minute intervals.
                  <br><br>With the PFOS we had no significant shifting in the impedance spectrum, while the PFBA seems to interact with the surface but with less accentuated shiftings than PFOA.
                </p>
                <div class="images img-smaller">
                  <img src="https://static.igem.wiki/teams/5109/results/results-sensor/resultssensor7.jpg">
                </div><br>
                <div class="images img-smaller">
                  <img src="https://static.igem.wiki/teams/5109/results/results-sensor/resultssensor8.jpg">
                </div><br>
                <div class="images img-smaller">
                  <img src="https://static.igem.wiki/teams/5109/results/results-sensor/resultssensor9.jpg">
                </div><br>
                <div class="images img-smaller">
                  <img src="https://static.igem.wiki/teams/5109/results/results-sensor/resultssensor10.jpg">
                </div><br>
                <p>
                  Further analysis of this data has been reported in the <a href="https://2024.igem.wiki/Uni-Padua-IT/model">modeling section</a>.
                  <br><br>As a last experiment, we did a test with a new adjustment. We performed another EIS test, but this time we added in the solution the redox species ferry-ferrocyanide, hoping to enhance the effects observed in the past measurements.
                </p>
                <div class="images img-smaller">
                  <img src="https://static.igem.wiki/teams/5109/results/results-sensor/resultssensor11.png">
                </div><br>
                <p>We managed to get some first promising results that will be further analysed on future occasions.</p>
              </section>
            </div>

            <div class="container-fluid">
              <section id="TitoloA2"> 
                <h1 class="mb-3">Future perspectives</h1>
                <p>
                  <h4>Implementation of other PFAS compounds</h4><br>
                  In our project, we focused on the detection of PFOA, the major pollutants of the PFAS family in Italy, as the analysis that Fredsense did with our samples revealed. <br><br>
                  Having a sensor that works only on one compound can be useful even in industrial applications, for example, to assess if a filtering system is working correctly or in PFAS degradation processes. <br><br>
                  A huge improvement would be to create a sensor that can detect multiple PFAS typologies. <br><br>
                  In this case, there are two paths to reach the result:
                  <ul>
                    <li>attracting multiple PFAS to the same surface, and thanks to the SERS properties, we are able to recognise them after the Raman analyses</li>
                    <li>creating multiple surfaces able to interact only with one compound each in order to complete multiple EIS analysis</li>
                  </ul>
                  <br><h4>Groundwater analysis</h4><br>
                  Currently, we have only tested a simple solution where the possibility of interference from elements of the solution with our functionalized surface is really low. <br><br>
                  A mandatory step before the commercialization of our sensor would be to determine the condition under which it can operate. The real solution will interface with our sensing system because there are many more elements dissolved. <br><br>
                  <h4>Offline application</h4><br>
                  Once the characterization of our first prototype is completed and the applicability in real solution will be verified, we will be able to present our sensor to water facilities and other PFAS degradation companies. <br><br>
                  Initially, it will be a disposable product <br><br>
                  <h4>Surface regeneration</h4><br>
                  Based on the characteristics of the surface we are developing, we have good hopes of being able to make it reusable with proper regeneration. <br><br>
                  The bond between the functionalization molecule and the surface proved out to be really strong, meanwhile, the forces that attract the PFAS to the surface are weaker. <br><br>
                  This should make it possible for us to develop a regeneration process for our sensor in the future in order to cut the price even more. <br>
                  <br><h4>Online application</h4><br>
                  This is the ultimate application for our project. Operating continuously in a water flow requires a lot of work and study. The surface needs to be able to attract and release PFAS in order to reach a certain equilibrium with the flowing solution. <br><br>
                  This improvement would be a huge step for PFAS worldwide waters monitoring.
                </p>
              </section>
            </div>
            
          </div>

        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="third" role="tabpanel" aria-labelledby="third-tab">

      <div class="container-fluid mt-4 pt-4 position-relative">
        <div class="row container mx-auto gx-3">

          <div class="col-lg-3">
            <div class="index">
                <ul>
                    <li> 
                        <a href="#TitoloB1"> GAC regeneration </a> 
                    </li>
                    <li>
                        <a href="#TitoloB2"> AER adsorption </a>
                    </li>
                    <li> 
                      <a href="#TitoloB3"> AER regeneration </a> 
                    </li>
                    <li>
                      <a href="#TitoloB4"> Future perspectives </a>
                    </li>
                    
                    
                </ul>
            </div> 
          </div>

          <div class="col-lg-9 text-container">

            <div class="container-fluid">
              <section id="TitoloB1">
                <h1>GAC regeneration</h1>
                <p>
                  To analyze solvent regeneration of GAC we first looked at the scientific literature on the topic. <br>
                  Through this phase and a collaboration with Professor Ester Marotta of the University of Padova 
                  (for more information visit 
                  <a href="https://2024.igem.wiki/Uni-Padua-IT/human-practices">Collaboration & Partnership</a> - Expert in Organic Pollutant Degradation) we analyzed 2 possible organic solutions in 2 potential GAC mass - desorption volume ratio:
                  <ul>
                    <li>MeOH : H2O + NaOH 0.1 M, 50:50 vs EtOH : H2O, 50:50</li>
                    <li>10 mg with 100 mL vs 200 g with 20 mL</li>
                  </ul>
                  <br>
                  The GACs used for the experiments were received from a water service provider in Veneto and were wet so we also compared those with a dried version of them. <br><br>
                  1. Wet GAC vs Dry GAC <br>
                  We found higher concentrations of PFBA and PFOS in the previously dried GAC (M1 vs M3 and M2 vs M4). <br>
                  This was done by comparing the mass of PFAS found in the desorption solution, specifically comparing M1 with M3 and M2 with M4.
                </p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/results/filter-results/results1.png">
                </div> <br>
                <p><br>
                  2. Selection of GAC mass - desorption volume ratio <br>
                  To analyze the best GAC mass - desorption volume ratio we consider the latter as the variable parameter by considering PFAS concentration in the solution if we had the same amount of GAC. <br>
                  In the comparison of the 2 possible ratios we found out that the use of higher volume for less activated carbon, so 100 mL for 10 mg, also presented higher concentrations (twice the amount of PFBA and 5 times for PFOS), as it can be easily expected. However to apply this kind of solvent regeneration in a real industrial application we do need to consider the substantial volume that this kind of ratio would mean: considering a total of 2000 kg of GAC with a desorption with ethanol and with a ratio of 200 mg - 20 mL we would need 100.000 L of ethanol whereas in the case of 10 mg - 100 mL we would need 10.000.000 L of just ethanol.
                </p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/results/filter-results/results2.png">
                </div><br>
                <p><br>
                  3. Selection of desorption solution <br>
                  We compared the mass of PFAS found in the desorption solution, specifically comparing M3 with M4 and M5 with M6. <br><br>
                  The solution with methanol and the one with ethanol gave similar results, for both ratio cases and for both PFOS and PFBA.
                </p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/results/filter-results/results3.png">
                </div> <br>
                <p>
                  4. Desorption efficacy <br>
                  The GACs tested were obtained in a real filtration system so we do not have data on the actual amount of PFAS present on the adsorbent prior to the desorption, thus it was not possible to determine the effectiveness of the desorption solution used. However, we did have the adsorption and desorption test results obtained by Prof. Marotta's doctoral student in which the solution with methanol and NaOH at a ratio of 200mg-20mL was used (corresponding to our M3 test); in this case the desorption efficacy was about 55% for PFBA and 59% for PFOA. <br>
                  Using this notion we determined that the solution with ethanol with the same GAC-desorption solution ratio was about 53%.
                  <br><br>
                  Conclusions: <br>
                  Through the data obtained from our GAC desorption experiments we understood that the solutions proposed have not the efficacy required to be applied to an industrial context. Moreover a scale-up of this chemical desorption technique would require elevated volume of methanol or ethanol, posing an environmental and economical issue (for the economical aspect visit 
                  <a href="https://2024.igem.wiki/Uni-Padua-IT/entrepreneurship">Entrepreneurship</a>).
                </p>
              </section>
            </div>

            <div class="container-fluid">
              <section id="TitoloB2">
                <h1>AER adsorption</h1>
                <p>
                  The following table summarizes the results obtained from the analyses: <br><br>
                  A860 - PFOA
                </p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/results/filter-results/filters4.png">
                </div> <br>
                <p>A110 - PFOA</p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/results/filter-results/filters5.png">
                </div> <br>
                <p>A111 - PFOA</p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/results/filter-results/a111pfoa.png">
                </div> <br>
                <p>A860 - PFBA</p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/results/filter-results/filters7.png">
                </div> <br>
                <p>A110 - PFBA</p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/results/filter-results/filters8.png">
                </div> <br>
                <p>A111 - PFBA</p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/results/filter-results/a111pfba.png">
                </div> <br>
                <p>
                
                  However, from the data it can be seen that the best of the resins, in terms of adsorption kinetics, is A860. <br>
                  We also see that all resins reach a plateau in PFBA adsorption. This behavior is similar to that of GACs, in fact we know from 
                  meetings with Acuqevente that PFBA is the pollutant that first causes the filters they use to saturate. <br>
                  In any case, A860 manages to adsorb more PFBA than the other resins, and is therefore the best of the three in terms of adsorption.
                </p>
              </section>
            </div>

            <div class="container-fluid">
              <section id="TitoloB3">
                <h1>AER regeneration</h1>
                <p>
                  Regeneration in milliQ water <br>
                  The following table summarizes the results obtained from the analyses:
                </p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/results/filter-results/tabfiltro.png">
                </div><br>
                <p>
                  In general, the regeneration of the resins did not bring noteworthy results.
                  <br>The best appears to be A110 for PFOA and A860 for PFBA.
                  <br>However, no surrender is suitable for our purposes.
                  <br>In order to obtain valid alternatives to the GACs currently used, it is necessary to study chemical regeneration more thoroughly, carrying out more tests and also looking for new regeneration solutions.
                  <br><br><h4>Regeneration in tap water</h4> <br>
                  The following table collects the results obtained:
                </p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/results/filter-results/tapwater.png">
                </div><br>
                <p>
                  The single regeneration value obtained again contrasts the data collected in the literature.
                  <br>The efficiency of A860 it’s remarkable: although it was practically full from the first adsorption, it managed to re-adsorb almost all of the PFOA in solution.
                  <br>We therefore think it is necessary to carry out further studies regarding the adsorption capacity of the resin and its regeneration..
                  <br>In particular we suggest varying the volumes and concentrations of the solution.
                  <br>We could also have varied these parameters, however we decided not to do so in an attempt to demonstrate the results of the article we used as a model. For our project it would be essential to achieve this objective as the ratio between the volume of resin used and the volume of the regeneration solution is extremely low (in particular the volume of the regeneration solution is equal to 10 times the volume of the resin). This characteristic translates from an ecological point of view into a lower use of water compared to GAC for example and from an economic point of view into a low cost due to chemical regeneration.
                  <br>Other experiments could be performed with column regeneration tests, using a pressurized jet for example with a Buchner funnel.
                </p>
              </section>
            </div>

            <div class="container-fluid">
              <section id="TitoloB4">
                <h1>Future perspectives</h1>
                <p>
                  We believe that further studies should be conducted on GAC chemical desorption, analyzing other organic and non-organic solutions and focusing on their effect on Filtrasorb 400, as this type of GAC is the one used commercially and available to water service providers. In addition,
                  it is important to bear in mind the need to have low volumes of possible toxic solutions used in the scaleup system so as to be environmentally friendly and economically feasible. <br><br>
                  <br>The studied resins have performed very well in terms of filtering capacity and we believe that with a deeper regeneration characterization is needed.
                  <br>We suppose that it’s necessary to confirm the results we found in the literature, then to try again to regenerate resins with different volumes or concentrations or even different solutions.
                  <br>Other tests could be performed with a pressurized jet,
                  <br>Through these experiments we’ll be able to demonstrate that anionic exchange resins are a valuable alternative to GACs.                  
                </p>
              </section>
            </div>
            



          </div>

        </div>
      </div>
    </div>

  </div>


</div>

<!-- pre-footer -->

<div class="container-fluid mt-5 mb-5 pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="mb-4">Let's find out more about our project</h2>
      </div>
    </div>
    
    <div class="row mt-3">

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Project</h3>
            <div class="d-flex row-cols-2">
              <div class="icon-text">
                <a href="{{ url_for('pages', page='description') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/description-icon.svg" alt="Description Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='description') }}">
                  <span>Description</span>
                </a>
              </div>
              <div class="icon-text">
                <a href="{{ url_for('pages', page='design') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/design-icon.svg" alt="Design Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='design') }}">
                  <span>Design</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Wet Lab</h3>
    
            <div class="d-flex row-cols-2">
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='experiments') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/lab-steps-icon.svg" alt="Lab steps Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='experiments') }}">
                  <span>Experiments</span>
                </a>
              </div>
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='results') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/results-icon.svg" alt="Results Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='results') }}">
                  <span>Results</span>
                </a>
              </div>
    
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script src="{{ url_for('static', filename = 'indexscroll.js')}}"></script>

{% endblock %}