{% extends "layout.html" %}
  
{% block title %}Sensor{% endblock %}

{% block page_content %}

<!-- Header -->
<header class="header-sensor py-5 mb-5 mt-4">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 fw-bold text-white text-center mb-2">{{ self.title() }}</h1>
          <p class="lead mb-5 text-white-50">{% block lead %}{% endblock %}</p>
        </div>
      </div>
    </div>
</header>

<div class="container">

    <div class="row">
        <div class="col-lg-3">
            <div class="index">
                <ul>
                    <li>
                        <a href="#Titolo1"> Technologies </a>
                        <ul class="is-collapsible" id="Titolo1 Titolo1-1 Titolo1-2 Titolo1-3">
                            <li> 
                                <a href="#Titolo1-1"> SERS </a>
                            </li>
                            <li> 
                                <a href="#Titolo1-2"> EIS </a>
                            </li>
                            <li>
                              <a href="#Titolo1-3"> Surface functionalization </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                      <a href="#Titolo2"> Materials and methods </a>
                      <ul class="is-collapsible" id="Titolo2 Titolo2-1 Titolo2-2 Titolo2-3 Titolo2-4 Titolo2-5 Titolo2-6">
                          <li> 
                              <a href="#Titolo2-1"> LAL </a>
                          </li>
                          <li> 
                              <a href="#Titolo2-2"> Micro-Raman </a>
                          </li>
                          <li> 
                            <a href="#Titolo2-3"> Wire 4.4 Renishaw Software </a>
                          </li>
                          <li> 
                            <a href="#Titolo2-4"> EIS hardware </a>
                          </li>
                          <li> 
                            <a href="#Titolo2-5"> PSTrace software </a>
                          </li>
                          <li> 
                            <a href="#Titolo2-6"> Functionalization </a>
                          </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#Titolo3"> Results </a>
                      <ul class="is-collapsible" id="Titolo3 Titolo3-1">
                          <li> 
                              <a href="#Titolo3-1"> Sensor design and creation </a>
                          </li>
                      </ul>
                    </li>
                    <li>
                      <a href="#References"> References </a>
                    </li>
                </ul>
            </div> 
        </div>

        <div class="col-lg-9 text-container">

          <div class="container-fluid">
            <section id="Titolo1">
                <h1>Technologies</h1>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo1-1">
                <h2>SERS</h2>
                <p>
                  Our approach is based on Surface Enhanced Raman Spectroscopy (SERS) 
                  and Electrochemical Impedance Spectroscopy (EIS). <br><br>
                  Why these technologies? <br>
                  <ul>
                    <li>High sensitivity and specificity</li>
                    <li>Portable format</li>
                    <li>Quantitative and qualitative analysis</li>
                  </ul>
                  The SERS analyses are based on the Raman Effect, consisting of 
                  quantification and characterization of Raman Scattering. All molecules 
                  scatter light when excited by a laser beam. We can observe Raman Scattering 
                  when the scattered light has a different wavelength than the incident 
                  laser beam. After characterising this phenomenon, we can study the 
                  chemical nature of the components analysed. <br><br>
                  This technique is based on the analyses of vibrational states 
                  expressed via ‘Raman Shift’. It represents the difference between 
                  incident wavelength and scattered wavelength. To determine the value 
                  of the ‘Raman Shift’ this equation can be used:
                </p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/sensor/sensor1.png">
                </div> <br>
                <p>
                  Raman Scattering is an unlikely phenomenon and has a very low intensity 
                  when it happens. Using a particular conductivity surface we can enhance 
                  the Raman signal. This enhancement is based on the plasmon properties of 
                  metals. In particular noble metals are often used due to their chemical 
                  stability. In our project, we have used a surface made of gold nanoparticles 
                  (Au-NPs).
                </p>
                <div class="images img-smaller">
                  <img src="https://static.igem.wiki/teams/5109/sensor/sensor2.png">
                </div>  
                <p>
                  Image adapted from [2] <br><br>
                  In this image, we can observe the Scattering mechanism. 
                  The light scattered is divided into: <br>
                  <ul>
                    <li>Rayleigh Scattering: same scattering wavelength;</li>
                    <li>Stokes Raman Scattering: scattering wavelength greater than incident wavelength;</li>
                    <li>Anti-Stokes Raman Scattering: scattering wavelength greater than incident wavelength;</li>
                  </ul>
                  In SERS analyses, Rayleigh wavelength is removed by a holographic filter. 
                  We also consider Stokes Raman Scattering because it is more probable and 
                  less disturbed as well. <br><br>
                </p>
            </section>
          </div>  

          <div class="container-fluid">
            <section id="Titolo1-2">
                <h2 class="mb-3">Electrochemical impedance spectroscopy (EIS)</h2>
                <p>
                  Electrochemical impedance spectroscopy (EIS) allows for the analysis 
                  of the interface between the electrode and the solution. In applying this 
                  technique, the system is subjected to a frequency spectrum, and the impedance 
                  is measured. <br><br>
                  The need to analyse this parameter arises mainly because, unlike ideal systems, 
                  real systems deviate from purely ohmic behaviour and no longer adhere to 
                  the canonical law <br>
                  R = V(t) / I(t) <br>
                  due to the presence of additional capacitive and inductive components. 
                  To obtain this value, the system is first polarised at a specific Vo, 
                  referred to as the ‘working point,’ and then a sinusoidal 
                  perturbation dV (usually with an amplitude in the order of a few mV) is applied. <br> 
                  This perturbation generates a current disturbance dI, 
                  with which the impedance of the system can be calculated, defined as <br>
                  Z(ω) = δv(ω) / δi(ω). <br>
                  This impedance is characterised by a real component with zero phase 
                  (the resistance of our system) and an imaginary component that also 
                  considers the non-ideal behaviours of the system - j / (ωC) with a 
                  phase of <br> π / 2. <br>
                  This technique is considered non-perturbative because the 
                  currents generated within the system are sufficiently small. <br>
                  For this reason, this measurement could be performed using only 
                  two electrodes while still obtaining good results. However, in 
                  our measurements, we preferred to use three electrodes to better 
                  appreciate the system’s characteristics. The frequency spectrum 
                  analysed is generally broad and can range from mHz to MHz, 
                  depending on the system being measured and the specific requirements.
                </p>
              </section>
            </div>

          
          <div class="container-fluid">
            <section id="Titolo1-3">
                <h2 class="mb-3">Surface functionalization</h2>
                <p>
                  SERS and EIS are based on surface-sample interactions; hence, 
                  they require the presence of sample molecules on the conductivity surface. <br>
                  Using the bare surface made by Au-NPs we saw that the molecule of PFAS 
                  does not interact. A functionalization was needed in order to attract 
                  the PFAS molecule to the surface and proceed with our analysis. <br>
                  Both techniques used are more efficient when the analyte is 
                  attached or really close to the surface.
                </p>
            </section>
          </div> 

          <div class="container-fluid">
            <section id="Titolo2">
                <h1 class="mb-3">Materials and methods</h1>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo2-1">
                <h2 class="mb-3">LAL (Laser Ablation in Liquid)</h2>
                <p>
                  Laser Ablation in Liquid (LAL) for gold nanoparticles production is 
                  based on the expulsion of material by means of a laser pulse that irradiates 
                  a solid target immersed in a liquid solution, generally water. <br><br>
                  This procedure is based on a sequence of processes: <br>
                  <ul>
                    <li>laser ablation</li>
                    <li>plasma induction</li>
                    <li>exchange of energy from the plasma to the liquid</li>
                    <li>generation of the cavitation bubble</li>
                    <li>release of particles from the bubble to the aqueous solution</li>
                  </ul>
                </p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/sensor/sensor5.png">
                </div>
                <p>
                  Image adapted from [3] <br>
                  <br>
                  When the laser beam passes through the liquid solution only one part
                  reaches the surface, most of the energy is spent on the excitation
                  of external electrons and consequently heating. For this reason, 
                  the ablated material is converted to plasma phase so that due to 
                  the solution incompressibility reaches a very high density. After the 
                  interaction between the cavitation bubble and the surrounding solution, 
                  the plasma cools down and expels nanoparticles. <br>
                  As a result, we obtain a red solution, due to the presence of gold nanoparticles. <br>
                  In our experiments, we used LAL to get a gold nanoparticle (AuNPs) 
                  solution and then used it to create the conductivity surface.
                </p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo2-2">
                <h2 class="mb-3">Micro-Raman</h2>
                <p>
                  The micro-Raman used in our experiments is a Renishaw inVia 
                  equipped with three laser sources and connected to a Leica 
                  DM-LM optical microscope. <br>
                  The laser sources used for the characterization of the 
                  samples are a Renishaw RL633 He-Ne with emission at 633 
                  nm and a Renishaw RL785 diode with emission at 785 nm. <br>
                  We can see in the image a simplified diagram of the operating system.
                </p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/sensor/sensor6.jpg">
                </div> 
                <p>
                  Image adapted from [4] <br>
                  <br>
                  The sample is initially presented under the microscope with many objectives,
                  from 5x to 100x. <br>
                  Thanks to the magnification, we can focus the incident laser radiation on
                  a small portion of the sample, allowing the detection of very small amounts
                  of material despite the weakness of Raman scattering. <br>
                  The spectrometer has a series of holographic filters, which eliminate
                   the corresponding Rayleigh component. <br>
                  We then have a diffraction grid that divides the spectrum obtained
                  from Raman scattering into its monochromatic components, sending
                  them individually to a CCD detector, which exports the spectral data obtained. <br>
                  The results are then processed by a software called Wire 4.4, which
                  allows us to carry out quantitative and qualitative analyses through
                  the graphical analysis of the spectral function.
                </p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo2-3">
                <h2 class="mb-3">Wire 4.4 Renishaw Software</h2>
                <p>
                  Wire 4.4 Renishaw  is a software that permits us to control 
                  the micro-Raman system and to analyse the SERS data. The 
                  collected data can be downloaded as a text file (.txt) and 
                  processed with another software. Our graphics images are 
                  created using MATLAB.
                </p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo2-4">
                <h2 class="mb-3">EIS hardware</h2>
                <div class="images img-smaller">
                  <img src="https://static.igem.wiki/teams/5109/sensor/sensor7.png">
                </div> 
                <p>
                  Image adapted from www.palmsens.com <br><br>
                  The EmStat Pico Development Kit features a reliable, tested, and 
                  calibrated potentiostat module that enables rapid prototyping 
                  without requiring any programming expertise. With this instrument, 
                  you can perform a wide variety of electrochemical measurements 
                  using your own sensor. <br>
                  Some important features of this instrument that make it a 
                  perfect candidate to perform the analysis needed for our 
                  PFAS detection are: <br>
                  <ul>
                    <li>Possibility of being connected and powered via USB</li>
                    <li>PSTrace software can be used to complete the measurements</li>
                    <li>Wireless connection with mobile devices</li>
                  </ul>
                  These characteristics allow us to work with the objective 
                  of creating a portable, affordable and fast sensor system for PFAS revelation.
                </p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo2-5">
                <h2 class="mb-3">PSTrace software</h2>
                <p>
                  This software enables easy management of PalmSens instruments. 
                  Its interface allows you to effortlessly set the necessary 
                  parameters for measurements and then perform data fitting to 
                  identify the equivalent electrical components of your electrochemical 
                  system. The collected data can be downloaded and processed; in our 
                  case, we used MATLAB to create graphs that help better interpret the data.
                </p>
                <div class="images img-smaller">
                  <img src="https://static.igem.wiki/teams/5109/sensor/sensor8.png">
                </div>
                <p>Image adapted from www.palmsens.com</p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo2-6">
                <h2 class="mb-3">Functionalization</h2>
                <p>
                  To get the correct interaction between PFOA and the gold nanoparticles, 
                  we’ve used a molecule composed of a carbonious chain (C9) to mimic the 
                  shape of our analyte, a Tiole (-SH) for the affinity with gold on one 
                  end and a Positive Guanidinium group for the affinity with PFOA on 
                  the other end. In our project, we called this molecule GV38. <br>
                  The functionalization solution was composed MeOh+GV38 (1mM) <br><br>
                  GV38 is really promising because it has dimensions similar to 
                  PFOA and permits insertions between the functionalization molecules. <br>
                  The functionalization strategy is shown in this figure.
                </p>
                <div class="images img-smaller">
                  <img src="https://static.igem.wiki/teams/5109/sensor/sensor9.png">
                </div> <br>
                <p>
                  The solutions that we have tested were composed of:
                  <ul>
                    <li>milliQ water + NaCl 10 mM + PFOA</li>
                    <li>milliQ water +  Hepes 10 mM +PFOA / PFOS / PFBA 1mM</li>
                  </ul>
                  Hepes stabilises the pH of the solution at 7.55 and makes AuNPs-GV38-PFOA 
                  interactions more efficients. It also serves as an electrolyte to boost the 
                  conductivity of the solution in order to allow EIS analysis.
                </p> <br><br>
                <h4>EIS parameters</h4><br>
                <p>
                  Three different EIS measurement cycles were performed using a three-electrode setup. 
                  For more information visit <a href="https://2024.igem.wiki/Uni-Padua-IT/engineering">Engineering Sensor</a>.
                  <br>The electrodes used were:
                  <ul>
                    <li>Working Electrode: Au electrode</li>
                    <li>Reference Electrode: Ag/AgCl</li>
                    <li>Counter Electrode: Pt</li>
                  </ul>
                  In the <b>first cycle</b>, the functionalization molecule used was 11-Mercapto-1-undecanol, while NaCl was chosen as the electrolyte, however, this setup did not lead to significant results. <br>
                  <br>In the <b>second cycle</b>, the new functionalization molecule GV38 was used. In all measurements, a 10mM Hepes solution was used, and the measurements on the surface were as follows:
                  <ol>
                    <li> Measurement of the metallic surface without functionalization</li>
                    <li>Measurement of the metallic surface after functionalization (1 hour of incubation)</li>
                    <li>Measurement of the functionalized metallic surface with PFOA solution (at 0 minutes after adding the PFOA solution)</li>
                    <li>Measurement of the same metallic surface from (3) after 30 minutes</li>
                    <li>Measurement of the same metallic surface from (3) after 60 minutes</li>
                  </ol><br>
                  The parameters used for the measurements were:
                  <ul>
                    <li>Vdc = 0V</li>
                    <li>Vac = 15 mV</li>
                    <li>Hold time = 5 seconds</li>
                    <li>Frequency range = 100 kHz – 1 Hz</li>
                  </ul><br>
                  In the <b>third cycle</b> (where only the most significant results will be presented for practical reasons), five different prototypes were built to test the following conditions: <br>
                  <ol>
                    <li>GV38 + 10mM HEPES</li>
                    <li>GV38 + 1mM PFOA</li>
                    <li>MeOH + 1mM PFOA</li>
                    <li>GV38 + 1mM PFBA</li>
                    <li>GV38 + 1mM PFOS</li>
                  </ol>
                  The presence of prototype 1 (where no PFAS were added) and prototype 3 (which was not functionalized) allows us to have a negative control on the measurements to confirm that the impedance variations we observe are due to the interaction between the functionalization and the PFAS, and 
                  not other external factors. The measurement protocol chosen is similar to the one used in the second cycle, with the difference that we chose to wait 40 minutes between measurements with the PFAS solution. The parameters used for the measurements were: <br>
                  <ul>
                    <li>Vdc = 0V</li>
                    <li>Vac = 15 mV</li>
                    <li>Hold time = 10 seconds</li>
                    <li>Frequency range = 100 kHz – 1 Hz</li>
                  </ul>
                  We first performed a measurement on all the prototypes after functionalization, as well as on prototype 3, which was not functionalized. The second measurement was performed immediately after the addition of the PFAS solution, and the subsequent three measurements were taken at 40-minute intervals for all prototypes. <br><br>
                  As the final experiment, we performed a test using ferri/ferrocyanide as redox species, hoping to amplify the phenomenon. We carried out some EIS measurements following the same protocol used in previous measurements. The parameters used for these measurements were as follows:
                  <ul>
                    <li>Vdc = 22 mV</li>
                    <li>Vac = 15 mV</li>
                    <li>Frequency = 1-100 kHz</li>
                    <li>Hold time = 10 s</li>
                  </ul><br>
                  The decision to use a non-zero Vdc was driven by the need to polarise the solution to allow the redox reaction to occur properly.
                </p><br><br>
                <h4>SERS parameters</h4><br>
                <p>
                  After carrying out every EIS measurement cycle we continued using the SERS technology. This allowed us to confirm the results obtained via EIS.
                  For more information visit <a href="">https://2024.igem.wiki/Uni-Padua-IT/engineering</a>Engineering Sensor. <br><br>
                  In the <b>first cycle</b>, SERS technology confirmed to us that 11-mercapto-1-undecanol does not interact very well with PFOA molecules. <br>
                  We analysed PFOA 1 mM + NaCl 1 mM using the laser wavelength of 633 nm. <br><br>
                  The microscope of micro-Raman showed us the presence of aggregates, as we can see in the picture below. <br>
                </p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/sensor/sensor10.jpg">
                </div>
                <p>
                  The presence of aggregates means that the functionalization does not work well as it does not hold properly with the PFOA molecules. <br><br>
                  In the <b>second cycle</b> and in the <b>third cycle</b>, SERS measurements showed us the presence of PFOA in the solution analysed. <br><br>
                  We analysed only PFOA 1 mM + Hepes 10 mM solution. <br><br>
                  The Raman spectra has two characteristic C-F bond peaks due to the attachment of PFOA molecules to the functionalized surface. For more information visit sensor 
                  <a href="https://2024.igem.wiki/Uni-Padua-IT/results">results</a>. <br><br>
                  The parameters using for this measurements are the following:
                  <ul>
                    <li>Laser wavelength: 633 nm</li>
                    <li>Power: 0.1 - 10 %</li>
                  </ul>
                </p>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo3">
                <h1 class="mb-3">Results</h1>
            </section>
          </div>

          <div class="container-fluid">
            <section id="Titolo3-1">
                <h2 class="mb-3">Sensor design and creation</h2>
                <p>
                  For the sensor, we chose a particular design that allows us to 
                  perform SERS analysis and EIS analysis as well. The presence of 
                  a containment chamber is essential to being able to carry out 
                  analysis on solutions. <br>
                  The sensor assembled is made by a conductivity surface 
                  placed over a glass plate and surrounded by a containment chamber. 
                  Two metal stripes are placed at the extremity of the electrode to 
                  monitor its conductivity. <br><br>
                  We can see a 3D model of the sensor designed.
                </p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/sensor/sensor11.png">
                </div> <br>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/sensor/sensor12.png">
                </div> <br>
                <p>
                  To create the electrode we’ve combined the technologies of Ablation 
                  Laser in Liquid for getting gold nanoparticles and spray coating to 
                  deposit it. <br>
                  Between the creation of the solution and its deposition, 
                  we have carried out some tests to verify the quality of 
                  the nanoparticles. We’ve used a UV-Vis Spectroscopy to 
                  analyse the spectrum of the AuNPs solution. As we can 
                  see in the graphic, the solution reaches 0.4 absorbance 
                  intensity at 520 nm, which is the wavelength of the plasmon 
                  peak for gold nanoparticles [1]. That confirms the high stability 
                  of the solution.
                </p>
                <div class="images img-smaller">
                  <img src="https://static.igem.wiki/teams/5109/sensor/sensor13.png">
                </div> <br>
                <p>
                  After the stability verification, we proceed with the deposition 
                  using spray coating. We used a geometrical mask to follow 
                  a rectangular shape. <br><br>
                  Finally, we have assembled the sensor using a bicomponent 
                  glue that permits high stability and heat resistance.
                </p>
                <div class="images">
                  <img src="https://static.igem.wiki/teams/5109/sensor/sensor14.png">
                </div> <br>
            </section>
          </div>

          <div class="container-fluid">
            <section id="References">
                <h1 class="mb-3">References</h1>
                <p>
                  <ol>
                    <li>Weihong Shi et al. ≪Synthesis and Characterization of 
                      Gold Nanoparticles with Plasmon Absorbance Wavelength Tunable 
                      from Visible to Near Infrared Region≫. In: International Scholarly 
                      Research Notices 2012.1 (2012). DOI: 10.5402/2012/659043. </li>
                    <li>Mithun N et al. ≪Raman Spectroscopy for Detecting Neurological Disorders: Progress and Prospects≫. In: Theranostic Applications of Nanotechnology in Neurological Disorders. Springer, Singapore, 2023, pp. 219–250. DOI: 10 . 1007 / 978 - 981 - 99 - 9510 -310.</li>
                    <li>Enza Fazio et al. ≪Nanoparticles Engineering by Pulsed Laser Ablation in Liquids: Concepts and Applications≫. In: Nanomaterials 10 (23 nov. 2020), p. 2317. DOI:10.3390/Nano10112317.</li>
                    <li>Beatrice Campanella, Vincenzo Palleschi e Stefano Legnaioli. ≪Introduction to vibrational spectroscopies≫. In: ChemTexts 7 (19 gen. 2021). DOI: 10 . 1007 / s40828 - 020 -00129-4.</li>
                  </ol>
                </p>
            </section>
          </div>

        </div>    
      </div>

    </div>
</div>

<!-- pre-footer -->

<div class="container-fluid mt-5 mb-5 pt-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="mb-4">Let's find out more about our project</h2>
      </div>
    </div>
    
    <div class="row mt-3">

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Project</h3>
            <div class="d-flex row-cols-2">
              <div class="icon-text">
                <a href="{{ url_for('pages', page='description') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/description-icon.svg" alt="Description Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='description') }}">
                  <span>Description</span>
                </a>
              </div>
              <div class="icon-text">
                <a href="{{ url_for('pages', page='design') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/design-icon.svg" alt="Design Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='design') }}">
                  <span>Design</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="d-flex justify-content-center">
          <div class="shortcut-box">
            <h3 class="fw-bold">Wet Lab</h3>
    
            <div class="d-flex row-cols-2">
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='experiments') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/lab-steps-icon.svg" alt="Lab steps Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='experiments') }}">
                  <span>Experiments</span>
                </a>
              </div>
    
              <div class="icon-text">
                <a href="{{ url_for('pages', page='results') }}">
                  <img src="https://static.igem.wiki/teams/5109/footer/results-icon.svg" alt="Results Icon" class="m-2">
                </a>
                <a href="{{ url_for('pages', page='results') }}">
                  <span>Results</span>
                </a>
              </div>
    
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>


<script src="{{ url_for('static', filename = 'indexscroll.js')}}"></script>



{% endblock %}




