{% extends "layout.html" %}
  
{% block title %}Sponsors{% endblock %}

{% block page_content %}

<!-- Header -->
<header class="header-sponsors py-5 mt-4">
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-lg-12">
          <h1 class="display-4 fw-bold text-white text-center mb-2">{{ self.title() }}</h1>
          <p class="lead mb-5 text-white-50">{% block lead %}{% endblock %}</p>
        </div>
      </div>
    </div>
</header>

<!-- Content -->
<div class="container-fluid">
  <div class="container p-4 bg-lightblue">

    <div class="row">
      <div class="col py-4 px-5">
        <h6>
          Approaching companies was a crucial step in financing our team, obtaining feedback on our research, and learning from experts in the field. We would like to thank all the sponsors who supported us on this journey and made the realization of our project possible.
        </h6>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <hr class="hr-sponsor">
      </div>
    </div>

    <!-- First row -->
    <div class="row">
      <div class="col-xl-6">
        <div class="row">
          <div class="col-md-5 text-center m-auto py-2">
            <a href="https://www.unipd.it/" target="_blank">
              <img src="https://static.igem.wiki/teams/5109/sponsors/sponsors-1.png" alt="UniPD logo" class="sponsor-logo">
            </a>
          </div>
          <div class="col-md-7 py-2">
            <h4>University of Padua</h4>
            <p>
              The University of Padua, founded in 1222, is one of the world's oldest and most prestigious academic institutions. Renowned for its commitment to research, innovation, and interdisciplinary education, it has played a key role in shaping global scientific and cultural advancements for over eight centuries.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="row">
          <div class="col-md-5 text-center m-auto py-2">
            <a href="https://cucinosano.it/" target="_blank">
              <img src="https://static.igem.wiki/teams/5109/sponsors/sponsors-2.png" alt="Cucinosano logo" class="sponsor-logo">
            </a>
          </div>
          <div class="col-md-7 py-2">
            <h4>Rossana Dian</h4>
            <p>
              Rossana Dian is a food blogger who has always been in the forefront of the fight against PFAS. Through her Instagram channel with more than 400k followers @Cucinosano, she conveys concrete solutions for everyday health and has developed a line of cookware without PFAS, PTFE (Teflon®), GenX, BPA, PFOA e Nichel, 100% Made in Italy.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Second row -->
    <div class="row">
      <div class="col-xl-6">
        <div class="row">
          <div class="col-md-5 text-center m-auto py-2">
            <a href="https://www.biologia.unipd.it/" target="_blank">
              <img src="https://static.igem.wiki/teams/5109/sponsors/logo-dibio.jpg" class="sponsor-logo">
            </a>
          </div>
          <div class="col-md-7 py-2">
            <h4>DiBio</h4>
            <p>
              The Department of Biology of the University of Padua (DiBio) focuses on cutting-edge research and education in the life sciences. Its scientific investigations are dedicated to many different fields of modern biology at various levels of organization, from molecules to organisms and ecosystems, in an evolutionary perspective.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="row">
          <div class="col-md-5 text-center m-auto py-2">
            <a href="https://www.dei.unipd.it/en/" target="_blank">
              <img src="https://static.igem.wiki/teams/5109/sponsors/logo-dei.png" class="sponsor-logo">
            </a>
          </div>
          <div class="col-md-7 py-2">
            <h4>DEI</h4>
            <p>
              The Department of Information Engineering of the University of Padua (DEI) is dedicated to the development of new techniques and equipment for the acquisition, processing and transmission of information. Its different research areas address complementary fields, whose synergy allows the development of innovative technological equipment. 
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Third row -->
    <div class="row">
      <div class="col-xl-6">
        <div class="row">
          <div class="col-md-5 text-center m-auto py-2">
            <a href="https://promega.com/" target="_blank">
              <img src="https://static.igem.wiki/teams/5109/sponsors/sponsors-3.png" alt="Promega logo" class="sponsor-logo">
            </a>
          </div>
          <div class="col-md-7 py-2">
            <h4>Promega</h4>
            <p>
              PROMEGA is a pioneering biotech company specialized in creating high-quality reagents and integrated systems for different fields of life science research, such as DNA, RNA and protein analysis, drug development and molecular diagnostics.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="row">
          <div class="col-md-5 text-center m-auto py-2">
            <a href="https://www.qiagen.com/us" target="_blank">
              <img src="https://static.igem.wiki/teams/5109/sponsors/sponsors-4.png" alt="Qiagen logo" class="sponsor-logo">
            </a>
          </div>
          <div class="col-md-7 py-2">
            <h4>Qiagen</h4>
            <p>
              QIAGEN is a global leader in molecular testing. They offer Sample to Insight solutions to help costumers unlocking valuable molecular insights encoded in the building blocks of life.  Operating in over 25 countries with a team of 6’000 employees, QIAGEN is able to deliver service to customers in nearly every corner of the globe.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Fourth row -->
    <div class="row">
      <div class="col-xl-6">
        <div class="row">
          <div class="col-md-5 text-center m-auto py-2">
            <a href="https://www.bio-cell.it/" target="_blank">
              <img src="https://static.igem.wiki/teams/5109/sponsors/sponsors-5.png" alt="Bio-Cell logo" class="sponsor-logo">
            </a>
          </div>
          <div class="col-md-7 py-2">
            <h4>Bio-Cell</h4>
            <p>
              BIO-CELL srl is a young and dynamic company founded in 2011 with the aim of becoming a trusted partner for life science researchers, providing its customers the best products and services available on the market in the field of cell and molecular biology.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="row">
          <div class="col-md-5 text-center m-auto py-2">
            <a href="https://www.purolite.com/it/index" target="_blank">
              <img src="https://static.igem.wiki/teams/5109/sponsors/sponsors-6.png" alt="Purolite logo" class="sponsor-logo">
            </a>
          </div>
          <div class="col-md-7 py-2">
            <h4>Purolite</h4>
            <p>
              PUROLITE focuses 100% of their resources on advanced resin technologies to separate, remove or recover very specific elements and compounds. With 1000 active commercial products, PUROLITE is able to deliver essential solution across various sectors.
            </p>
          </div>
        </div>
      </div>
    </div>

    <!-- Fifth row -->
    <div class="row">
      <div class="col-xl-6">
        <div class="row">
          <div class="col-md-5 text-center m-auto py-2">
            <a href="https://fredsense.com/" target="_blank">
              <img src="https://static.igem.wiki/teams/5109/sponsors/sponsors-7.png" alt="FREDsense logo" class="sponsor-logo">
            </a>
          </div>
          <div class="col-md-7 py-2">
            <h4>FREDsense</h4>
            <p>
              FREDsense Technologies is an iGEM-based startup specializing in the production of advanced biosensors for water quality monitoring. Their first product was developed from a 2012 iGEM project, which was so successful that it led to the creation of FREDsense.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-6">
        <div class="row">
          <div class="col-md-5 text-center m-auto py-2">
            <a href="https://www.acquevenete.it/" target="_blank">
              <img src="https://static.igem.wiki/teams/5109/sponsors/sponsors-8.png" alt="AcqueVenete logo" class="sponsor-logo">
            </a>
          </div>
          <div class="col-md-7 py-2">
            <h4>AcqueVenete</h4>
            <p>
              AcqueVenete is the integrated water service manager for over 500 thousand inhabitants and a territory of 3200 square kilometers in the northeast of Italy. It is responsible for making the water potable, distributing it to all users, and to purify it in appropriate plants after it has been used.
            </p>
          </div>
        </div>
      </div>
    </div>
    

  </div>
</div>

{% endblock %}