{% extends "layout.html" %}
  
{% block title %}Team{% endblock %}

{% block page_content %}

<div class="container bg-lightblue pb-5">

  <div class="row pt-5">
    <div class="col text-center team-title">
      <h1><b>UNI-PADUA TEAM</b></h1>
    </div>
  </div>


  <div class="row mt-5">
    <div class="col-lg-12 col-md-11 d-flex justify-content-center">
      <div class="container-team-photo">
        <div class="team-photo">
          <img src="https://static.igem.wiki/teams/5109/team/alice-ghiaroni.jpg">
          <div class="team-photo-text">
            Hi everyone! I'm Alice and I'm an Industrial Biotechnology student. As Uni-Padua-IT team leader, 
            I contributed to the coordination of the activities and the overview of the project development, 
            maintaining a clear direction for the project. I also enjoyed collaborating in the social department, 
            participating in many events and directing our team's videos. In the laboratory, I made myself 
            useful in cloning experiments and activity tests, and I was also a part of the bioinformatic 
            research team.  I firmly believe that, once you set your mind on a goal, any obstacle can be overcome. My motto in life is “hard work beats talent when talent doesn't work hard”.     
          </div>
        </div>
        <div class="team-text">
          Alice Ghiaroni <br>
          Team Leader
        </div>
      </div>
      <div class="container-team-photo">
        <div class="team-photo">
          <img src="https://static.igem.wiki/teams/5109/team/camilla-sabbion.jpg">
          <div class="team-photo-text">
            Hello! I am 22 years old and a biomedical engineering student and, as a good engineer, I enjoy solving problems. This is why I decided to participate in iGEM and collaborate with my team in the fight against one of the biggest environmental pollution challenges. 
            I took care of the entrepreneurial aspect of SurPFAS, to make our research project truly applicable.Synthetic biology has shown me a new way to approach issues, opening my mind to new research possibilities in other fields as well!
 
          </div>
        </div>
        <div class="team-text">
          Camilla Sabbion
        </div>
      </div>
      <div class="container-team-photo">
        <div class="team-photo">
          <img src="https://static.igem.wiki/teams/5109/team/leonardovarotto.jpg">
          <div class="team-photo-text">
            Hi! I’m a 22 years old bioengineering student. I managed the Mutans team site during the project and worked on the wiki programming. This experience improved my programming skills, taught me a lot from working with people from different academic backgrounds, and was a great opportunity in the field of research. iGEM was a great opportunity for me to challenge myself and connect with new people and experiences.
          </div>
        </div>
        <div class="team-text">
          Leonardo Varotto
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-12 col-md-11 d-flex justify-content-center">
      <div class="container-team-photo">
        <div class="team-photo">
          <img src="https://static.igem.wiki/teams/5109/team/lauraacerbi.jpg">
          <div class="team-photo-text">
            Hi! I'm 22 years old, and I am a molecular biology student. 
            I come from one of the towns in the red area of Veneto, which means that I know first-hand how devastating the issue of PFAS pollution is on people and the environment, and I am currently one of the people who are undergoing sanitary screening.
            What I like the most about being an iGEMer is the opportunity to come in contact with how life inside a lab works, but also how networks between scientists coming from different backgrounds can develop and give birth to extraordinary ideas!
            In this team, I was responsible for coming in contact with other people and entities that are still fighting this problem, and I was also one of the wet lab activities coordinators.
          </div>
        </div>
        <div class="team-text">
          Laura Acerbi
        </div>
      </div>
      <div class="container-team-photo">
        <div class="team-photo">
          <img src="https://static.igem.wiki/teams/5109/team/alessandraperdon.jpg">
          <div class="team-photo-text">
            Hi! I’m 22 and I’m a biotechnology student. Being on this project helped me understand the importance of working with a multidisciplinary group and taught me new skills that will surely be beneficial in my future. During this experience, I worked intensely on the wet lab activities, in particular on the cloning attempts with our synthetic expression cassettes, and I also took part in events organization and literature research. 
          </div>
        </div>
        <div class="team-text">
          Alessandra Perdon
        </div>
      </div>
      <div class="container-team-photo">
        <div class="team-photo">
          <img src="https://static.igem.wiki/teams/5109/team/alessandro-serraglio.jpg">
          <div class="team-photo-text">
            Hi! I'm 22 and I’m a biomedical engineer. In the project, I spent most of my time developing the PFAS sensor and learning about various detection techniques and chemical interactions. What attracts me most to synthetic biology are the new possibilities it can bring to existing technologies. I hope our efforts will be truly helpful in solving the global problem we’ve decided to tackle! 
          </div>
        </div>
        <div class="team-text">
          Alessandro Serraglio
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-12 col-md-11 d-flex justify-content-center">
      <div class="container-team-photo">
        <div class="team-photo">
          <img src="https://static.igem.wiki/teams/5109/team/andregrollo.jpg">
          <div class="team-photo-text">
            Hi! I'm a 21-year-old biotechnology student. Being part of a synthetic biology project has allowed me to understand how stimulating the collaboration between different branches of science can be.
            I took part in the bioinformatics research to select the best enzymatic candidates, in the growth test to determine the optimal mixture in the bioreactor and the enzymatic tests of the dehalogenase. I also managed the economic side of the project, focusing on fundraising and sponsorship activities.
          </div>
        </div>
        <div class="team-text">
          Andre Hortencio Grollo
        </div>
      </div>
      <div class="container-team-photo">
        <div class="team-photo">
          <img src="https://static.igem.wiki/teams/5109/team/filippomaniero.jpg">
          <div class="team-photo-text">
            Hi! I'm 23 years old and I’m a biomedical engineer. I’m always looking for new challenges to keep my mind active and I love sharing experiences with others. What fascinates me most about synthetic biology is the mix between scientific methods and nature's creative ways.
            <br>In our iGEM project, I participated in the development of the PFAS sensor. This was a crucial step in our goal of detecting PFAS in solutions. I'm excited to see where this journey takes us!
          </div>
        </div>
        <div class="team-text">
          Filippo Maniero
        </div>
      </div>
      <div class="container-team-photo">
        <div class="team-photo">
          <img src="https://static.igem.wiki/teams/5109/team/giuliatonin.jpg">
          <div class="team-photo-text">
            HI! I’m a 22 years old biotechnology student. Being part of this team allowed me to understand what it is like to work in the scientific field and with people from different backgrounds. For our project I did part of the literature research, worked on the growth tests of Escherichia coli and on its modeling part. I'm very much interested in telling people what is like to do science and what our project is, so my time was also spent organizing and coordinating our human practices activities.  
          </div>
        </div>
        <div class="team-text">
          Giulia Tonin
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-12 col-md-11 d-flex justify-content-center">
      <div class="container-team-photo">
        <div class="team-photo">
          <img src="https://static.igem.wiki/teams/5109/team/lisafaccincani.jpg">
          <div class="team-photo-text">
            Hey! I’m a 21 years old molecular biology student, and I enjoy deep conversations as well as working hard in the laboratory.
            This project gave me the chance to push my limits and challenge myself in new ways. As the head of the wet lab, I played an important role in the 
            design of the project and the organization of laboratory activities. Participating to iGEM has been a fundamental opportunity for me to understand the fundamental 
            role that connection between team members plays in the correct progression of a research project.
          </div>
        </div>
        <div class="team-text">
          Lisa Faccincani
        </div>
      </div>
      <div class="container-team-photo">
        <div class="team-photo">
          <img src="https://static.igem.wiki/teams/5109/team/roberto-racca.jpg">
          <div class="team-photo-text">
            Hi! I’m 22 and I study biomedical engineering. In the project I took care of the chemistry laboratories and the studying of the anion exchange resins.
            I also took part in dissemination meetings. What I enjoyed the most during this project was the possibility to participate in a project with a group of people with an enthusiastic desire to get involved in research.
          </div>
        </div>
        <div class="team-text">
          Roberto Racca
        </div>
      </div>
      <div class="container-team-photo">
        <div class="team-photo">
          <img src="https://static.igem.wiki/teams/5109/team/sabrinasalmaso.jpg">
          <div class="team-photo-text">
            Hey there! I'm 22 and I've just started my master's in Industrial Biotechnology. I joined this team because I'm interested in Synthetic Biology and its applications, and I wanted to learn more. I love environmental topics, so I feel I can truly contribute to the scientific community through this project.
            I worked in the bioinformatics lab on enzyme selection, managed social media, helped organize human practices, and made the two videos for the competition. I enjoyed these tasks because they allowed me to explain our idea to many people. I can't wait to attend the Jamboree!
          </div>
        </div>
        <div class="team-text">
          Sabrina Salmaso
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-lg-12 col-md-11 d-flex justify-content-center">
      <div class="container-team-photo">
        <div class="team-photo">
          <img src="https://static.igem.wiki/teams/5109/team/maria-terran.jpg">
          <div class="team-photo-text">
            Hi! I'm a 22 years old biomedical engineer. Being part of this project and this team has enriched me and taught me the importance of working together with people with different backgrounds and mindset. I coordinated human practices activities and took part in the analysis of filters and in the creation of the overall structure of a potential plant based on SurPFAS.    
          </div>
        </div>
        <div class="team-text">
          Maria Terreran
        </div>
      </div>
      <div class="container-team-photo">
        <div class="team-photo">
          <img src="https://static.igem.wiki/teams/5109/team/veronicarofner.jpg">
          <div class="team-photo-text">
            Hey! I’m a 22-year-old biology student, and participating in this project was a heartwarming experience. It gave me the sense that we were addressing a real local issue, amplifying the concerns of local citizens and responding to their needs. What struck me the most was seeing how closely a research lab can be connected to a network of experts and engaged community members. Throughout the project, I contributed to organizing events, conducting lab work, and supporting the design aspects. 
          </div>
        </div>
        <div class="team-text">
          Veronika Rofner
        </div>
      </div>
      <div class="container-team-photo">
        <div class="team-photo">
          <img src="https://static.igem.wiki/teams/5109/team/alice-bettio.jpg">
          <div class="team-photo-text">
            Hey there! I’m 22 and I am a biotechnology student. I enjoyed taking part in this project because I deeply care about environmental issues. Also, the iGEM competition enabled me to address PFAS issue not only from a biological point of view but also from a social impact standpoint. This is why I contributed to some public engagement tasks: I took care of the realization of graphics and illustrations and helped in the event’s organization. In the lab, I helped in the growth test experiments. I strongly believe in the importance of scientific communication. 
          </div>
        </div>
        <div class="team-text">
          Alice Bettio
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col team-title text-center">
      <h1>PIs</h1>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-12 col-md-11 d-flex justify-content-center">
      <div class="container-team-photo">
        <div class="team-photo">
          <img src="https://static.igem.wiki/teams/5109/team/liviotrainotti.jpg">
          <div class="team-photo-text">
            Livio Trainotti is an Associate Professor of Botany at the Department of Biology, University of Padova. He is interested in any plant genome that can be modified. He plays a role in project administration, fundraising, and public engagement. As the principal referent for the UniPadua iGEM team, he manages the team's affairs within the University, directs sponsorship and fundraising efforts, and contributes to project development.    
          </div>
        </div>
        <div class="team-text">
          Livio Trainotti <br> Primary PI
        </div>
      </div>
      <div class="container-team-photo">
        <div class="team-photo">
          <img src="https://static.igem.wiki/teams/5109/team/massimobellato.jpeg">
          <div class="team-photo-text">
            Massimo Bellato is an Assistant Professor at the Department of Molecular Medicine and Information Engineering, specializing in Synthetic Biology and Bioengineering. He is involved in project administration, public engagement, safety, investigation, conceptualization, and data curation. His specific tasks include project design and development, supervising wet lab organization, and providing expertise and tutoring in iGEM. 
          </div>
        </div>
        <div class="team-text">
          Massimo Bellato <br> Secondary PI
        </div>
      </div>
    </div>
  </div>

  <div class="row pt-5">
    <div class="col team-title text-center">
      <h1>Instructors</h1>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-12 col-md-11 d-flex justify-content-center">
      <div class="container-team-photo">
        <div class="team-photo">
          <img src="https://static.igem.wiki/teams/5109/team/filippovascon.jpg">
          <div class="team-photo-text">
            Filippo Vascon is a research fellow at the Dept. of Biology, University of Padova, specialized in biology and biochemistry. During his master’s internship he explored enzymatic and microbial bioremediation of PFAS, so he was keen on working with the 2024 Uni Padua iGEM team. He played a key role in project conceptualization and data curation, focusing on project idea development. He supported wet lab activities, provided essential wet lab materials, and taught various wet lab techniques and protocols to ensure the team’s success.    
          </div>
        </div>
        <div class="team-text">
          Filippo Vascon
        </div>
      </div>
      <div class="container-team-photo">
        <div class="team-photo">
          <img src="https://static.igem.wiki/teams/5109/team/francescofilippini.jpeg">
          <div class="team-photo-text">
            Francesco Filippini is an Associate Professor at the Department of Biology, University of Padova, specialized in Molecular Biology and Bioinformatics. He plays a key role in conceptualization, project administration, and software development. Specific tasks include serving as a bioinformatics teacher and contributing to project development. 
          </div>
        </div>
        <div class="team-text">
          Francesco Filippini
        </div>
      </div>
      <div class="container-team-photo">
        <div class="team-photo">
          <img src="https://static.igem.wiki/teams/5109/team/lucio-litti-40x50.jpg">
          <div class="team-photo-text">
            Lucio Litti is an Assistant Professor at the Dept of Chemical Sciences, University of Padova, specialized in Physical Chemistry. He is  interested in nanostructured materials, thin film fabrication, optical techniques and sensor technology. He is involved in hardware development and conceptualization. He assisted with hardware ideation and development, as well as data analysis. 
          </div>
        </div>
        <div class="team-text">
          Lucio Litti
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-12 col-md-11 d-flex justify-content-center">
    <div class="container-team-photo">
      <div class="team-photo">
        <img src="https://static.igem.wiki/teams/5109/team/eleonorasforza.jpeg">
        <div class="team-photo-text">
          Eleonora Sforza is Associate Professor in the Department of Industrial Engineering, University of Padova, specialized in Bioreactors and Bioprocesses. She graduated in Industrial Biotechnology and she obtained a PhD in Industrial Engineering, curriculum Chemical Engineering. She is responsible of BiERLab (Bioprocess Engineering Research). The topics of her projects are related to energetic and environmental applications of microalgae and other microorganisms.She played a role in the conceptualization phase, providing valuable advice on bioreactor implementation and overseeing the general design of the system.    
        </div>
      </div>
      <div class="team-text">
        Eleonora Sforza
      </div>
    </div>
    <div class="container-team-photo">
      <div class="team-photo">
        <img src="https://static.igem.wiki/teams/5109/team/cristianodepitt.jpeg">
        <div class="team-photo-text">
          Cristiano De Pittà is an Associate Professor at the Department of Biology, University of Padova, specialized in Genetics. He focused on fundraising and data curation. He supported the interaction with sponsors to secure funding, and supported the organization of wet lab activities, facilitating smooth operations within the team. 
        </div>
      </div>
      <div class="team-text">
        Cristiano De Pittà
      </div>
    </div>
  </div>

  <div class="col-lg-12 col-md-11 d-flex justify-content-center">
    <div class="container-team-photo">
      <div class="team-photo">
        <img src="https://static.igem.wiki/teams/5109/team/alessandropaccagnella.jpg">
        <div class="team-photo-text">
          Alessandro Paccagnella is a Full Professor at the Dept. of Information Engineering, University of Padova, specialized in the field of Biosensors. He supported the MUTANS team in conceptualizing and characterizing the PFAS sensor.    
        </div>
      </div>
      <div class="team-text">
        Alessandro Paccagnella
      </div>
    </div>
    <div class="container-team-photo">
      <div class="team-photo">
        <img src="https://static.igem.wiki/teams/5109/team/stefano-bonaldo.jpeg">
        <div class="team-photo-text">
          Stefano Bonaldo is a tenure-track Assistant Professor at the Dept. of Information Engineering, University of Padova. His research focuses on the development and electrical modeling of electrochemical biosensors for applications in the medical and agri-food sectors. He contributes to the project by teaching and supervising how to conduct electrochemical measurements of the sensor and their analysis. 
        </div>
      </div>
      <div class="team-text">
        Stefano Bonaldo
      </div>
    </div>
  </div>


  <div class="row pt-5">
    <div class="col team-title text-center">
      <h1>Advisors</h1>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-12 col-md-11 d-flex justify-content-center">
      <div class="container-team-photo">
        <div class="team-photo">
          <img src="https://static.igem.wiki/teams/5109/team/marco-costanzo.jpg">
          <div class="team-photo-text">
            A former iGEM participant with the 2023 UniPadua-IT "PASTA" project, Marco provided invaluable support with wiki coding and design, while also offering tutoring and guidance throughout the writing process.    
          </div>
        </div>
        <div class="team-text">
          Marco Costanzo
        </div>
      </div>
      <div class="container-team-photo">
        <div class="team-photo">
          <img src="https://static.igem.wiki/teams/5109/team/tommasovaraschin.jpg">
          <div class="team-photo-text">
            A former iGEM team leader for the 2023 UniPadua-IT "PASTA" project, Tommaso explained iGEM regulations, biological standards, and registry compilation. He also advised in the project ideation, and offered valuable tutoring throughout the project. 
          </div>
        </div>
        <div class="team-text">
          Tommaso Varaschin
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-lg-12 col-md-11 d-flex justify-content-center">
      <div class="container-team-photo">
        <div class="team-photo">
          <img src="https://static.igem.wiki/teams/5109/team/francescagaliazzo.jpg">
          <div class="team-photo-text">
            A former iGEM participant with the 2023 UniPadua-IT  "PASTA" project, Francesca explained iGEM regulations, biological standards, and iGEM deadlines, ensuring the team adhered to all requirements. Additionally, she offered tutoring throughout the project.   
          </div>
        </div>
        <div class="team-text">
          Francesca Galiazzo
        </div>
      </div>
      <div class="container-team-photo">
        <div class="team-photo">
          <img src="https://static.igem.wiki/teams/5109/team/kavya.jpg">
          <div class="team-photo-text">
            A former iGEM team leader in 2023, she is the mentor of the 2024 Uni-Padua-IT team. Her passion for molecular biology and genetic engineering drives her endless curiosity. She completed her B. Tech in Biotechnology at Rajalakshmi Engineering College and is now interning at Madras University, gaining experience in genetics and molecular biology.  
          </div>
        </div>
        <div class="team-text">
          Kavya Prathap Kumar
        </div>
      </div>
    </div>
  </div>

</div>



{% endblock %}