<footer class="pt-4 pb-4 footer py-5 text-white">
  <div class="container-fluid">

    <a href="#top">
      <img src="https://static.igem.wiki/teams/5109/footer/arrow-up.png" alt="freccetta in alto" class="up-arrow">
    </a>

    <div class="row mb-5">

      <div class="col-lg-4 col-xs-12">
        <div class="row pt-3">
          <div class="col overflow-hidden position-relative">
            <div class="position-absolute top-50 start-50 translate-middle">
              <img src="https://static.igem.wiki/teams/5109/home/logo-surpfas-vettoriale.svg" alt="logo surpfas" class="team-logo">
            </div>
          </div>
          <div class="col text-center">
            <a href="https://linktr.ee/mutans.biologia?utm_source=linktree_admin_share" target="_blank">
              <img src="https://static.igem.wiki/teams/5109/footer/logo-mutans.svg" alt="logo Mutans" class="mutans-logo">
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-8 col-xs-12">
        <h4 class="mb-3">Contacts:</h4>
        <ul class="m-2 p-2">
          <li class="fw-bold"> Mail: mutans.biologia@unipd.it </li>
          <li><a href="https://www.instagram.com/mutans_team/" target="_blank">Instagram</a></li>
          <li><a href="https://it.linkedin.com/company/mutans" target="_blank">LinkedIn</a></li>
          <li><a href="https://mutans.biologia.unipd.it/en/home/" target="_blank">Mutans Website</a></li>
        </ul>
      </div>

    </div>

    <div class="row row-cols-lg-5 row-cols-md-3 mb-3">
      <div class="col text-center mb-3">
        <div>
          <a href="https://www.unipd.it/en/" target="_blank">
            <img src="https://static.igem.wiki/teams/5109/footer/logo-unipd.svg" alt="logo unipd">
          </a>
        </div>
      </div>
      <div class="col text-center mb-3">
        <div>
          <a href="https://www.biologia.unipd.it/en/" target="_blank">
            <img src="https://static.igem.wiki/teams/5109/footer/logo-dibio.svg" alt="logo DiBio">
          </a>
        </div>
      </div>
      <div class="col text-center mb-3">
        <div>
          <a href="https://www.dei.unipd.it/en/" target="_blank">
            <img src="https://static.igem.wiki/teams/5109/footer/logo-dei.svg" alt="logo DEI">
          </a>
        </div>
      </div>
      <div class="col text-center mb-3">
        <div>
          <a href="https://www.medicinamolecolare.unipd.it/" target="_blank">
            <img src="https://static.igem.wiki/teams/5109/footer/logo-dmm.svg" alt="logo DMM">
          </a>
        </div>
      </div>
      <div class="col text-center mb-3">
        <div>
          <a href="https://www.chimica.unipd.it/" target="_blank">
            <img src="https://static.igem.wiki/teams/5109/home/disc-logo-2.svg" alt="logo DiSC" class="dip-logo">
          </a>
        </div>
      </div>
    </div>

    <hr size="8" class="hr-footer">

    <!-- The following MUST be on every page: license information and link to the repository on gitlab.igem.org -->
    <div class="row mt-2">
      <div class="col">
        <p class="mb-0"><small>© 2024 - Content on this site is licensed under a <a class="subfoot" href="https://creativecommons.org/licenses/by/4.0/" rel="license">Creative Commons Attribution 4.0 International license</a>.</small></p>
	      <p><small>The repository used to create this website is available at <a href="https://gitlab.igem.org/2024/uni-padua-it">gitlab.igem.org/2024/uni-padua-it</a>.</small></p>
      </div>
    </div>
  </div>
</footer>
