<nav class="navbar navbar-expand-xl navbar-dark fixed-top">
  
  <div class="container-fluid menu-padding">

    <!---- TEAM NAME ---->
    <a class="navbar-brand my-1" href="{{ url_for('home') }}">
      <img src="https://static.igem.wiki/teams/5109/menu/logo-surpfas-vettoriale-cropped.svg" alt="" class="menu-logo">
      Uni-Padua-IT
    </a>

    <!---- SMALL SCREEN MENU ICON ---->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto left-aligned">

        <!---- HOME ---->
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('home') }}">Home</a>
        </li>

        <!---- ISSUE ---->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Issue
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('pages', page='pfas') }}">PFAS</a></li>
            <li><a class="dropdown-item" href="{{ url_for('pages', page='history') }}">History</a></li>
            <li><a class="dropdown-item" href="{{ url_for('pages', page='contamination') }}">Contamination</a></li>
          </ul>
        </li>

        <!---- PROJECT ---->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Project
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('pages', page='description') }}">Description</a></li>
            <li><a class="dropdown-item" href="{{ url_for('pages', page='design') }}">Design</a></li>
            <li><a class="dropdown-item" href="{{ url_for('pages', page='model') }}">Model</a></li>
            <li><a class="dropdown-item" href="{{ url_for('pages', page='engineering') }}">Engineering</a></li>
            <li><a class="dropdown-item" href="{{ url_for('pages', page='contribution') }}">Contribution</a></li>
            <li><a class="dropdown-item" href="{{ url_for('pages', page='results') }}">Results</a></li>
            <li><a class="dropdown-item" href="{{ url_for('pages', page='judging') }}">Judging</a></li>
          </ul>
        </li>

        <!---- WET LAB ---->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Wet lab
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('pages', page='experiments') }}">Experiments</a></li>
            <li><a class="dropdown-item" href="{{ url_for('pages', page='notebook') }}">Notebook</a></li>
            <li><a class="dropdown-item" href="{{ url_for('pages', page='parts') }}">Parts</a></li>
          </ul>
        </li>

        <!---- PLANTS DESIGN ---->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Plant design
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('pages', page='overview') }}">Overview</a></li>
            <li><a class="dropdown-item" href="{{ url_for('pages', page='filters') }}">Filters</a></li>
            <li><a class="dropdown-item" href="{{ url_for('pages', page='sensor') }}">Sensor</a></li>
          </ul>
        </li>
        
        <!---- ENTREPRENEURSHIP ---->
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('pages', page='entrepreneurship') }}">Entrepreneurship</a>
        </li>

        <!---- HUMAN PRACTICES ---->
        <li class="nav-item dropdown">
          <a class="nav-link no-wrap" href="{{ url_for('pages', page='human-practices') }}">Human practices</a>
        </li>

        <!---- TEAM ---->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Team
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{{ url_for('pages', page='team') }}">Team</a></li>
            <li><a class="dropdown-item" href="{{ url_for('pages', page='attributions') }}">Attributions</a></li>
            <li><a class="dropdown-item" href="{{ url_for('pages', page='sponsors') }}">Sponsors</a></li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</nav>
