body { padding-top: 56px; overflow: visible; }
.left-aligned { margin-left: auto; }
.bg-dark { background-color: #343a40 !important; }

/* CALLOUT */
.bd-callout { padding:1.25rem; margin-top:1.25rem; margin-bottom:1.25rem; border:1px solid #e9ecef; border-left-width:.25rem; border-radius:.25rem }
.bd-callout h4 { margin-bottom:.25rem }
.bd-callout p:last-child { margin-bottom:0 }
.bd-callout code { border-radius:.25rem }
.bd-callout+.bd-callout { margin-top:-.25rem }
.bd-callout-info { border-left-color:#5bc0de }
.bd-callout-warning { border-left-color:#f0ad4e }
.bd-callout-danger { border-left-color:#d9534f }

/* footer */
footer a { color: white; font-weight: bold; text-decoration: none; }
footer a:hover { color: white; text-decoration: underline; }

/* --------- Global Variables ---------- */

:root {
    --color1: #007978;
    --color1-1: rgba(0, 121, 120, 0.1);
    --color2: #381D2A;
    --color3: #FFE3AA;
}

.text-justified {
    text-align: justify;
}

.italic {
    font-style: italic;
}    

@media only screen and (max-width: 1200px) {
    h4 {
        font-size: 1.15rem;
    }
    h5 {
        font-size: 1.05rem;
    }
}

.didascalia {
    font-size: 0.85rem;
    text-align: center;
}

/* --------- Menu ---------- */

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-dark {
    background-color: var(--color2);
}

.menu-logo {
    height: 70px;
    width: auto;
}

.navbar-dark .navbar-brand {
    color: var(--color1);
    font-size: small;
    font-weight: 700;
    padding-bottom: 0%;
}

.navbar-dark .nav-item {
    margin-right: 0.125rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
    font-size: large;
    text-decoration: none;
}

.navbar-dark .nav-item:hover, .navbar-dark .navbar-nav .nav-link:focus {
    border-radius: 2rem;
    background-color: var(--color1);
    color: white;
}

.no-wrap {
    white-space: nowrap;  /* Impedisce al testo di andare a capo */
}

.menu-padding {
    padding-left: 3rem !important;
    padding-right: 3rem !important;
}

@media only screen and (max-width: 512px) {
    .menu-padding {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}

/* .dropdown-toggle::after{
    vertical-align: 0;
} */

.dropdown-menu {
    background-color: var(--color1);
    border-radius: 1rem;
    border-color: black;
    overflow: hidden;
    padding: 0px;
    transform: translateY(1rem);
}

.dropdown-item {
    color: white;
    border: 2px black;
    padding-top: .5rem;
    padding-bottom: .5rem;   
}

.dropdown-item:hover {
    background-color: var(--color2);
    color: white;
}

/* --------- Pre-Footer & Footer ---------- */

.footer {
    background-color: var(--color2);
}

.hr-footer {
    background-color: var(--color3);
    margin-left: 0;
    margin-right: 40%;
    transform: translateX(-1rem);
    opacity: 1.0;
}

.team-logo {
    height: 100%;
    max-height: 220px;
    width: auto;
}

.mutans-logo {
    height: 100%;
    max-height: 150px;
    width: auto;
}

.small {
    font-size: xx-small;
}

.shortcut-box {
    border: .25rem solid var(--color1); 
    border-radius: 1rem; 
    padding: 1rem;
    text-align: center;
    margin: 1rem;
}

.icon-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-top: .1rem solid black;
    flex: 1 0 50%;
}

/* la seconda colonna con le icone ha il bordo sinistro */
.icon-text:not(:first-child) { 
    border-left: .1rem solid black;
}

.icon-text a {
    color: black;
    font-weight: 500;
    font-size: x-large;
}

.icon-text a:hover {
    color: var(--color1);
}

.row-cols-2 {
    display: flex;
    flex-wrap: wrap;
    padding-top: .5rem;
}

@media (max-width: 512px) {
    .icon-text {
        flex: 1 0 100%; /* Make each icon-text take full width */
        padding: 1rem; /* Adjust padding for smaller screens */
    }

    .icon-text:not(:first-child) {
        border-left: none; /* Remove left border */
        border-top: .1rem solid black; /* Add top border for separation */
    }
}

.up-arrow {
    height: 2rem;
    width: auto;
    float: right;
    margin-right: 2rem;
    margin-top: 1rem;
}

.up-arrow:hover {
    transform: translateY(-.25rem);
}

.dip-logo {
    max-height: 110px;
    width: auto;
}

.in-front {
    z-index: 100;
}

/* --------- Header ---------- */

.bg-hero {
    background-color: var(--color1);
}


.header-pfas {
    width: 100%;
    height: auto;
    background-image: url('https://static.igem.wiki/teams/5109/pfas/issue-pfas.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
}

.header-history {
    width: 100%;
    height: auto;
    background-image: url('https://static.igem.wiki/teams/5109/history/issue-history.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
}

.header-contamination {
    width: 100%;
    height: auto;
    background-image: url('https://static.igem.wiki/teams/5109/contamination/issue-contamination.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
}

.header-description {
    width: 100%;
    height: auto;
    background-image: url('https://static.igem.wiki/teams/5109/description/project-description.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
}

.header-design {
    width: 100%;
    height: auto;
    background-image: url('https://static.igem.wiki/teams/5109/design/project-design.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
}

.header-model {
    width: 100%;
    height: auto;
    background-image: url('https://static.igem.wiki/teams/5109/model/project-model.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
}

.header-engineering {
    width: 100%;
    height: auto;
    background-image: url('https://static.igem.wiki/teams/5109/engineering/project-engeneering.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
}

.header-contribution {
    width: 100%;
    height: auto;
    background-image: url('https://static.igem.wiki/teams/5109/contribution/project-contributions.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
}

.header-results {
    width: 100%;
    height: auto;
    background-image: url('https://static.igem.wiki/teams/5109/results/project-results.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
}

.header-judging {
    width: 100%;
    height: auto;
    background-image: url('https://static.igem.wiki/teams/5109/judging/project-judging.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
}

.header-experiments {
    width: 100%;
    height: auto;
    background-image: url('https://static.igem.wiki/teams/5109/experiments/wet-lab-experiments.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
}

.header-notebook {
    width: 100%;
    height: auto;
    background-image: url('https://static.igem.wiki/teams/5109/notebook/wet-lab-notebook.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
}

.header-parts {
    width: 100%;
    height: auto;
    background-image: url('https://static.igem.wiki/teams/5109/parts/wet-lab-parts.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
}

.header-overview {
    width: 100%;
    height: auto;
    background-image: url('https://static.igem.wiki/teams/5109/overview/plant-design-overview.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
}

.header-filters {
    width: 100%;
    height: auto;
    background-image: url('https://static.igem.wiki/teams/5109/filters/plant-design-filters.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
}

.header-sensor {
    width: 100%;
    height: auto;
    background-image: url('https://static.igem.wiki/teams/5109/sensor/plant-design-sensors.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
}

.header-entrepreneurship {
    width: 100%;
    height: auto;
    background-image: url('https://static.igem.wiki/teams/5109/entrepreneurship/enterpreneurship.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
}

.header-human-practices {
    width: 100%;
    height: auto;
    background-image: url('https://static.igem.wiki/teams/5109/human/human-practices.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
}

.header-attributions {
    width: 100%;
    height: auto;
    background-image: url('https://static.igem.wiki/teams/5109/attributions/attributions.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
}

.header-sponsors {
    width: 100%;
    height: auto;
    background-image: url('https://static.igem.wiki/teams/5109/sponsors/sponsors.png');
    background-size: cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    overflow: hidden;
}


/* --------- Home ---------- */

.canvas-container {
    height: 640px;
}

#canvas3d {
    position: relative;
    z-index: 5 !important;
}

.phrase-3d {
    position: absolute;
    top: 80px;
    right: 30%;
    z-index: 100;
}

@media only screen and (max-width: 1500px) {
    .phrase-3d {
        right: 20%;
    }
}

@media only screen and (max-width: 768px) {
    .phrase-3d {
        right: 10%;
    }
}

#river{
    position: absolute;
    z-index: 0;
}

.above-river{
    z-index: 5 !important; 
}

.container-home {
    background-color: var(--color3);
}

.main-img {
    width: 80%;
    height: auto;
    padding: 3rem;
    padding-bottom: 0;
    display: block;
    margin: 0 auto;
}

.text-1 {
    position: absolute;
    top: 18rem;
    left: 3rem;
    width: 25rem;
}

.text-2 {
    position: absolute;
    top: 19rem;
    right: 3rem;
    width: 25rem;
}

.map-text-container {
    min-height: 160px;       
}

.map-text-1 {
    width: 20rem;
    border: .1rem solid darkred;
    border-radius: 1rem;
    background-color: rgba(255, 204, 153);
    text-align: center;
}

.map-text-2 {
    width: 20rem;
    border: .1rem solid darkred;
    background-color: rgba(255, 204, 153);
    border-radius: 1rem;
    text-align: center;
}

.map-img {
    width: 60%;
    height: auto;
}

.map-img-2 {
    width: 50%;
    height: auto;
}

.risk-title {
    height: 100px;
}

.highlight {
    min-height: 1rem;
    min-width: 300px;
}

.highlight h2 {
    background-color: var(--color3);
}

.risk-text {
    border: .1rem solid darkred;
    background-color: rgba(255, 204, 153);
    border-radius: 1rem;
}

.boygirl-container {
    min-height: 215px;
}
.boygirl {
    height: 20rem;
    width: auto;
}

@media only screen and (min-width: 712px) {
    .boygirl {
        height: 30rem;
        width: auto;
    }  
}

.green-text-row {
    height: 150px;
}

.green-text {
    border: .1rem solid darkgreen;
    background-color: rgba(229, 255, 204);
    border-radius: 1rem;
    min-width: 300px;
}
.green-text-2 {
    text-align: center;
    width: 25rem;
    border: .1rem solid darkgreen;
    background-color: rgba(229, 255, 204);
    border-radius: 1rem;
}

@media only screen and (max-width: 512px) {
    .green-text-2 {
        width: 300px;
    }
}

.surpfas-container {
    width: 20rem;
}

.surpfas-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.filter-img {
    height: 12rem;
    width: auto;
}

.drops-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 150px;
    width: auto;
    opacity: 0;
    z-index: 8;
    /* transition: opacity 0.2s ease-in-out; */
}

.drops {
    height: 150px;
    width: auto;
}

.falls-img {
    height: 60px;
}

.falls-img img {
    height: 250%;
    width: auto;
    z-index: 10;
    transform: translateX(275px) !important;
}

.bioreactor-container {
    position: relative;
    z-index: 10;
}

.bioreactor-container img {
    height: 500px;
    width: auto;    
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

@media only screen and (max-width: 1200px) {
    .bioreactor-container img {
        height: 400px;
        width: auto;
    }
}

@media only screen and (max-width: 768px) {
    .bioreactor-container img {
        height: 250px;
        width: auto;
    }
}

@media only screen and (max-width: 576px) {
    .bioreactor-container img {
        height: 200px;
        width: auto;
    }
}

/* --------- Pages ---------- */

.summary {
    margin: 5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 3rem;
    background-color: var(--color1-1);
}

.index {
    position: sticky;
    border-top: .1rem solid var(--color1);
    top: 7rem;
    left: 5%;
    background-color: var(--color1-1);
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: .5rem;
}

.index li {
    margin-top: .75rem;
}

.index a {
    color: black;
    text-decoration: none;
}

.index a.active {
    font-weight: bold;
    text-decoration: underline;
}

.text-container {
    background-color: var(--color1-1);
    text-align: justify;
    border: .1rem solid var(--color1);
    padding-bottom: 1.5rem;
}

.text-container h1, .text-container h2 {
    padding-top: 5rem;
}

.is-collapsible {
    padding-top: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
}

.is-collapsible.active {
    max-height: 12rem;
    transition: .5s;
    overflow: hidden;
}

.images {
    width: 100%;
    height: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.images img { 
    height: auto;
    max-width: 100%; 
}

.img-smaller img{
    max-height: 360px;
}

.img-thiner img{
    max-width: 500px;
}

.bg-lightblue {
    background-color: var(--color1-1);
}

.sottoparagrafi {
    padding-left: 2rem;
}

.testo-centrale {
    text-align: center;
}

/* --------- Experiments ---------- */
.accordion-button {
    background-color: var(--color1-1);
    border: none;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.4s ease;
}

.accordion-button:hover {
    background-color: var(--color1);
}

.accordion-content {
    display: none;
    padding: 1rem; 
    border-top: 0.0625rem solid var(--color1); 
    margin-bottom: 0.5rem; 
    background-color: var(--color1-1);
}

/* --------- Attributions + Human ---------- */

.nav-tabs .nav-link.active, .nav-tabs .nav-link:hover {
    background-color: #007978;
    color: white;
}

/* --------- Notebook ---------- */

table {
    width: 60%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (max-width: 1200px) {
    table {
        width: 80%;
    }
}

@media only screen and (max-width: 756px) {
    table {
        width: 100%;
    }
}

td, th {
    border: 1px solid white;
    text-align: left;
    padding: 0.4rem;
}

/* --------- Sponsors ---------- */

.sponsor-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 1.5rem;
}

.hr-sponsor {
    background-color: #007978;
    opacity: 1;
}

/* --------- Team ---------- */

.team-title {
    color: var(--color1);
}

.container-team-photo {
    width: 30%;
    display: inline-block;
    padding: .5rem;
}

.team-photo {
    position: relative;    
    overflow: hidden;
}

.team-photo img {
    position: relative;
    width: 100%;
    height: 360px;
    object-fit: cover;
    z-index: 1000;
    transition: opacity 0.2s;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: opacity
}

.team-photo:hover img{
    z-index: 1;
    border: .25rem var(--color1);
    border-radius: 1rem;
    opacity: 0.2;
}

.team-photo-text{
    position: absolute;
    top: 0;
    max-height: 360px;
    padding: 1rem;
    text-align: justify;
    z-index: 2;
    overflow-y: scroll;
}

@media only screen and (max-width: 960px) {
    .team-photo-text{
        font-size: 0.6rem;
    }
}

.team-text {
    text-align: center;
}

